/* ----------------------------- COMMON ELEMENTS ----------------------------- */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  margin: 0px auto;
  padding: 0;
  height: 120px;
}
.column.content li {
  list-style: disc;
  color: #666;
  margin-left: 15px;
  line-height: 19px;
}
#header {
  width: 100%;
  margin: 0px auto;
  padding: 0;
}
#header .logo-container {
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  width: 100%;
  max-width: 960px;
}
#header .logo-container .search_bar {
  position: absolute;
  right: 0px;
  bottom: 50px;
  width: 250px;
}
#header .logo-container .search_bar input {
  float: left;
}
#header .logo-container .search_bar input[type=submit] {
  border: 1px solid #e53741;
  margin-left: 5px;
  height: 21px;
  color: white;
  background: #e53741;
}
a {
  text-decoration: none;
  color: #666;
  text-decoration: underline;
}
a.arrow-read {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
  display: inline-block;
  color: #666;
}
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}

h2,
h2 a {
  margin: 20px 0 10px 0;

  font-weight: normal;
  color: #666;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
h3,
h3 a {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px;
}
h4 {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  text-decoration: none;
}
p {
  line-height: 19px;
  color: #666;
  margin: 0 0 10px 0;
  font-size: 13px;
}
select.hidden {
  display: none;
}

.nav {
  padding: 0;
  clear: both;
  position: relative;
  z-index: 5;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  background: #e53741 none repeat scroll 0 0;
  ul {
	  width: 100%;
	  margin: 0 auto;
	  max-width: 960px;
	  background: #e53741 none repeat scroll 0 0;
	  height: 30px;
	}
	li {
	  float: left;
	  margin: 0;
	  position: relative;
	}
	li a {
	  display: block;
	  color: #fff;
	  font-weight: normal;
	  line-height: 30px;

	  font-size: 100%;
	  text-decoration: none;
	  letter-spacing: 0.056em;
	}
	li a.active {
	  background: #b50607;
	  text-decoration: none;
	}
	li.home a,
	li.home a:hover {
	  height: 21px;
	  width: 21px;
	  padding: 0 10px 0 0;
	  background: url('/img/appco/home.png') no-repeat;
	  margin-top: 3px;
	  text-decoration: none;
	}
}

nav ul {
	display: block;
}

.nav li.active a,
.nav li a:active,
.nav li a:focus,
.nav li a:hover {
  text-decoration: none;
  background-color: #D4212B;
}
div#wrapper {
  margin: 0 auto 0;
  min-height: 100%;
  /* ie6 ignores min-height completely */

  height: 100%;
  width: 100%;
  position: relative;
  min-width: 212px;
}
div#container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
#banner {
  width: 100%;
}
#banner .left {
  float: left;
}
#banner .right {
  float: right;
}
#footer {
  background: #f3f3f3;
  margin-top: 20px;
  margin-bottom: 0;
  height: 120px;
  padding: 20px 0 0 0;
  width: 100%;
	ul li img {
	  padding: 10px 0px 0 3px;
	}
	ul li {
	  float: left;
	}
	.outter {
	  width: 100%;
	  margin: 0 auto;
	  max-width: 960px;
	}
	.left {
	  float: left;
	}
	.right {
	  float: right;
	}
	.left img {
	  margin-top: 10px;
	  padding: 10px 25px 0 0;
	}
	p, ul {
	  clear: both;
	}
	ul {
	  float: right;
	  margin-bottom: 2px;
	}
	.grey {
	  width: 100%;
	  background-color: #e7e7e7;
	  height: 40px;
	  clear: both;
	  margin-top: 100px;
	  min-height: 50px;
	  max-height: 100%;
	  min-height: 120px;
	}
	.grey .copyright {
	  color: #666;
	  font-size: 12px;
	  display: block;
	  letter-spacing: 0.03em;
	  padding: 20px 0 0 0;
	  float: left;
	}
	.grey .copyright ul {
	  padding-top: 20px;
	}
	.reset .copyright {
	  padding: 20px 0 0 0;
	}
	.grey .copyright li + li::before {
	  content: "  |  ";
	  padding: 10px 4px 0px 8px;
	}
	.grey .copyright li + li:before {
	  content: "  |  ";
	  padding: 0px 4px 0px 8px;
	}
	.grey .rights {
	  color: #666;
	  font-size: 12px;
	  letter-spacing: 0.03em;
	  padding-top: 100px;
	  float: right;
	  p {
		  margin: 0;
	  }
	}
	.right .logos li {
	  margin-left: 15px !important;
	}
	.copyright a {
	  color: #666;
	}
}

.lang-it #footer .grey .copyright ul {
  /* padding-top: 0; */

}
#footer .reset {
  min-height: 60px;
}
.lang-it #footer .reset {
  min-height: 100px;
}

div.ext_box {
  background: url(/img/appco/bg_box-top.png) no-repeat top;
  padding: 12px 0 0;
  margin: 9px 0 0;
}
div.ext_box div.bottom {
  background: url(/img/appco/bg_box-bottom.png) no-repeat bottom;
  padding: 0 0 12px;
}
div.ext_box div.tile {
  background: url(/img/appco/bg_box-tile.png) repeat-y;
  padding: 0 10px;
}
div.keyplayers li {
  background: #f3f3f3;
  margin: 0px 20px 0px 0px;
  float: left;
  color: #cccccc;
}
ul.int_box li {
  background: #f3f3f3;
  margin: 0px 20px 0px 0px;
  float: left;
  color: #cccccc;
}
ul.int_box li.first {
  margin-left: 0px;
}
ul.int_box li.last {
  margin-right: 0px;
}
.w129 {
  width: 129px;
  height: 252px;
}
.w225 {
  width: 225px;
  height: 150px;
}
.w244 {
  width: 244px;
  height: 150px;
}
.w282 {
  width: 282px;
  height: 212px;
}
div.paging {
  margin: 9px 0 0;
  height: 32px;
  background: url(/img/appco/bg_paging.png) no-repeat -2px 0;
  text-align: right;
  padding: 8px 15px 0;
  color: #eee;
}
div.paging a {
  color: #fff;
  text-decoration: none;
}
div.paging a:active,
div.paging a:focus,
div.paging a:hover {
  text-decoration: underline;
}
/* ----------------------------- HOMEPAGE ----------------------------- */
div.home.hero div.tile {
  height: 337px;
  position: relative;
}
div.hero img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: -1px 0 0;
}
div.int_box p {
  font-size: 0.90em;
}
div.int_box h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 0.2em;
}
div.int_box h3 a {
  font-size: 1.2em;
  font-weight: normal;
}
/* NEWS HOME PAGE */
.column.right .latest_news hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
.column.right .latest_news h3 {
  color: #666;
  font-size: 14px;
  font-weight: bolder;
}
.column.right .latest_news h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 6px;
}
.column.right .latest_news li {
  margin-bottom: 20px;
  margin-top: 10px;
}
.column.right .latest_news p {
  margin: 1px 0 10px 0;
}
/* ----------------------------- WHAT WE DO -------------------------- */
.column.content ul.what_we_do li {
  list-style: none;
  list-style-type: none;
}
/* ----------------------------- CLIENTS -------------------------- */
.column.content.clients img,
.column.content.klienter img {
  padding: 30px 40px 0 0;
}
/* ----------------------------- COUNTRY ----------------------------- */
.mobile {
  display: none;
}
div.country img {
  background: #444;
  margin: -2px 0 0;
  float: left;
}
div.country div.content {
  padding: 10px 20px 18px;
  width: 272px;
  float: left;
}
div.country a,
div.country a:active,
div.country a:focus,
div.country a:hover {
  color: #fff;
}
div.country h2 {
  font-size: 1.7em;
}
div.country p {
  color: #fff;
  font-size: 0.9em;
}
div.country ol,
div.country ul {
  margin: 0 0 15px;
}
div.country li {
  color: #fff;
  margin: 2px 0 2px 30px;
  font-size: 0.9em;
  list-style: disc;
}
/* ----------------------------- KEYPLAYERS ----------------------------- */
div.description h3 {
	color: #666666;
	font-weight: normal;
	font-size: 15px;
	margin: 0;
}
div.description h2 {
	color: #E53741;
	font-size: 20px;
	font-weight: normal;
	margin: 0;

}
div.description li {
  margin: 0 4px 4px;
  position: relative;
}
div.description li.first {
  margin: 0 4px 8px 9px;
}
div.description li.last {
  margin: 0 9px 8px 4px;
}
div.description li img {
  display: block;
  margin: 3px auto;
  background: #444;
}
div.description picture {
  margin-top: 100px;
}
div.description li p {
  font-size: 0.9em;
}
div.description li a.zoom {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 8px;
}
div.description li a.zoom img {
  background: url('/img/appco/bg_zoom.png') no-repeat;
}
div.go-back-container a {
  background: url('/img/appco/arrow_back.png') no-repeat center left;
  padding-left: 10px;
  display: inline-block;
  color: #666;
}
/* ----------------------------- CONTACT ----------------------------- */
div.contact table {
  width: 100%;
}
div.contact td {
  width: 25%;
  color: #fff;
  padding: 14px 6px 0;
}
div.contact tr.last td {
  padding: 14px 6px;
}
div.contact tr td.first {
  padding: 14px 6px 0 12px;
}
div.contact tr td.last {
  padding: 14px 12px 0 6px;
}
div.contact tr.first td.first {
  padding: 14px 6px 0 12px;
}
div.contact tr.first td.last {
  padding: 14px 12px 0 6px;
}
div.contact tr.last td.first {
  padding: 14px 6px 14px 12px;
}
div.contact tr.last td.last {
  padding: 14px 12px 14px 6px;
}
div.contact td h2 {
  font-size: 1.7em;
}
div.contact td h3 {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
div.contact td a {
  color: #fff;
}
#region,
#countries {
  padding: 5px;
}
#countries_filter {
  margin-top: 10px;
}

#countries_filter h4 {

		color: #e53741 !important;

}

/************* Responsive Video *****************/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */

  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ----------------------------- GENERIC ----------------------------- */
div.padding {
  padding: 12px 14px 5px;
}
div.padding div.content {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.2em;
}
div.padding h2 {
  font-size: 1.7em;
}
div.padding a,
div.padding a:active,
div.padding a:focus,
div.padding a:hover {
  color: #fff;
}
div.generic.hero img {
  margin-bottom: -7px;
}
.footer-right {
  float: right;
  width: 150px;
}
h3,
div.lists h3,
h3 a {
  color: #E53741;
  font-weight: bold;
  letter-spacing: 0.02em;
}
#content.row {
  width: 100%;
}
#content.row .column {
  float: left;
  width: 30%;
}
/* content */
#content.row.layout1 .column.left {
  width: 30%;
}

#content.row.layout1 .column.left p {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  clear: both;
  color: #838383;
  font-size: 155%;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.1%;
  margin-bottom: 23px;
}
#content.row.layout1 .column.left ul {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  clear: both;
  color: #838383;
  font-size: 155%;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.1%;
  margin-bottom: 27px;
}
#content.row.layout3 .column.content {
  width: 745px;
  margin-left: 30px;
}
#content.row.layout3 ul li {
  list-style-position: inside;
}
#content.row.layout1 .column.center {
	margin-left: 5%;
}
#content.row.layout1 .column.center .expertise {
  width: 100%;

  max-width: 260px;
}
.expertise h2, .latest_news h2 {
  font-size: 18px;
}
#content.row.layout1 .column.center .expertise a {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
  display: inline-block;
  color: #666;
}
#content.row.layout1 .column.center .expertise h3 {
  color: #E53741;
  font-size: 14px;
  font-weight: bold;
}
#content.row.layout1 .column.center .expertise p {
  padding: 0 2px 0 0 ;
}
#content.row.layout1 .column.center .expertise div.view {
  padding: 0 0 0 5px;
}
#content.row .column div.thumb,
#content.row .column div.description {
  float: left;
  padding: 5px;
}
#content .expertise div.thumb {
  width: 100px;
  height: 100px;
}
#content.row .column .expertise div.description {
  padding-left: 5px;
  width: 120px;
}
#content.row .column .expertise ul li {
  height: 110px;
  display: block;
  float: left;
  background: #ffffff;
  margin: 10px 0 0 10px;
}
#content.row .column .expertise ul li:last-child {
  margin-bottom: 10px;
}
#content.row.layout1 .column .expertise ul li {
  width: 240px;
}
#content.row .column .expertise ul li {
  width: 285px;
}
#content.row .column .expertise hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
#content.row.layout1 .column.right {
  width: 295px;
  margin-left: 32px;
}
#content.row.layout1 #home_banner {
  border: 1px solid #fff;
  background: #fff;
  width: 341px;
  height: 212px;
  position: relative;
  padding-left: 0px;
}
#content.row.layout1 #home_banner .view_all_statistics {
  position: absolute;
  bottom: 5px;
}
#content.row .column .expertise div.description .text {
  height: 80px;
}
#content.row .column .expertise div.description .text a {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
}
#content.row.layout2 .column.content {
  width: 400px;
  margin-left: 30px;
  margin-right: 20px;
}
#content.row.layout2 .column.content h5,
h5 a {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content.row.layout2 .column.right {
  width: 305px;
  margin-left: 18px;
}
#content.row .column .expertise ul {
  background: #F3F3F3;
  display: inline-block;
}
/* menu */
#content.row .column.menu {
  width: 182px;
  padding-top: 25px;
}
div#content div.column.menu ul.submenu.hide {
  display: none;
}
div#content div.column.menu ul.submenu li {
  padding-left: 30px;
}
div#content.row div.column.menu h2 {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  background: #575b5e;
  padding: 7px 0 7px 10px;
  margin: 0px;
  letter-spacing: 0.02em;
}
div#content.row div.column.menu h2 a {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
div#content.row div.column.menu h2 a:hover {
  text-decoration: none;
}
div#content div.column.menu ul li {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  background: #f3f3f3;
  line-height: 18px;
  padding: 10px;
  border-bottom: 2px solid white;
  font-size: 13px;
  font-weight: normal;
  list-style: none;
}
div#content div.column.menu ul li.active {
  background: #E2E2E2;
}
div#content div.column.menu ul li a {
  text-decoration: none;
  color: #666;
}
div#content div.column.menu ul li a:hover {
  color: #000;
}
/* what we do */
div.block.what_we_do {
  clear: both;
  margin-top: 20px;
}
div.block.what_we_do h1 {
  font-size: 30px;
  color: #E53741;
  border-bottom: 3px solid #E53741;
  margin: 10px 0 20px 0;
  padding-top: 0px;
}
div.block.what_we_do ul {
  margin-top: 10px;
}
div.block.what_we_do ul li {
  display: block;
  float: left;
  max-width: 214px;
  width: 20%;
  background: #F3F3F3;
  margin: 5px;
  padding: 8px;
  height: 230px;
  position: relative;
}
div.block.what_we_do ul li a img {
  width: 100%;
}
div.block.what_we_do a {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
  display: inline-block;
  color: #666;
  margin-top: 20px;
}
div.block.what_we_do a.no-link-style {
  background: none;
  padding-right: 0;
  margin-top: 0;
}
div.block.what_we_do a.link-style {
  position: absolute;
  bottom: 20px;
}
/* clear both */
#content.row.layout3 .keyplayer_list li {
  display: block;
  margin-bottom: 20px;
  height: auto;
  clear: both;
  margin-left: 0px;
  width: 745px;
}
#content.row.layout3 div.keyplayer {
  width: 745px;
}
#content.row.layout3 .keyplayer_list div.image {
  float: left;
  width: 150px;
}
#content.row.layout3 .keyplayer_list div.description {
  float: left;
  padding-left: 10px;
  padding-bottom: 50px;
  width: 570px;
  height: auto;
  position: relative;
}
#content.row.layout3 .keyplayer_list div.description div.read_more {
  position: absolute;
}
/* news */
#content.row.layout4 .column.content {
  width: 635px;
}
.blog #content.row.layout4 .column.content,
.testimonials #content.row.layout4 .column.content,
.clients #content.row.layout4 .column.content,
.klienter #content.row.layout4 .column.content {
  width: 605px;
  padding-right: 30px;
}
#content.row.layout4 .column.right ul {
  margin: 0px;
  float: left;
  padding: 0;
}
#content.row.layout4 .column.right ul li {
  list-style: none;
  margin: 20px 0;
}
.news .content li {
  list-style: circle !important;
  list-style-type: disc !important;
  margin-left: 30px !important;
}
/*
.news nav {
	width:50%;
	margin:0 auto;
	list-style:none;
}
.news nav ul {
	clear:both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.news nav li {
	display: inline;
	float: left;
	padding: 5px 10px;
}
.news nav li a {
    display: block;
}
*/
#content.row.layout4 .column.content .article {
  padding: 0px 0px 150px;
  margin: 32px 0px 0px;
}
#content.row.layout4 .column.content .article .arrow-read {
  position: absolute;
  bottom: 12px;
}
#content.row.layout4 .column.content .image {
  float: left;
  width: 244px;
  height: 150px;
}
#content.row.layout4 .column.content .description {
  float: left;
  margin-left: 0px;
  height: 150px;
  width: 345px;
  position: relative;
  padding-left: 20px;
  margin-top: 0px;
}
#content.row.layout4 .column.content .description h2,
h2 a {
  margin-top: 0px;
  font-size: 18px;
}
#content.row.layout4 .column.right .header h3 {
  padding: 10px 0 10px 0;
  font-size: 23px;
  font-weight: normal;
  color: #666;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
#content.row.layout4 .column.content .description h2 {
  width: 365px;
}
#content.row.layout4 .column.content .description a.more {
  position: absolute;
}
#content.row.layout4 .column.right {
  width: 310px;
  margin-left: 15px;
}
/* testimonials */
#testimonials h2 {
  color: #666;
  font-size: 23px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
#testimonials hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
/* countries */
#countries_filter table {
  width: 100%;
}
#countries_filter table tr td {
  margin-top: 20px;
  width: 300px;
}
#countries_filter table h5 {
  color: #E53741;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
/* appco country filters */
.filters {
  height: 50px;
  clear: both;
}
.filters label {
  display: block;
  padding-bottom: 5px;
}
.filters .left {
  float: left;
  width: 315px;
}
.filters select {
  width: 200px;
}
.filters .right {
  float: right;
  width: 320px;
}
/* useful_contacts */
.useful_contacts h2 {
  border-bottom: 4px solid #E53741;
  margin: 0;
  line-height: 2;
}
.useful_contacts div {
  border: 10px solid #F3F3F3;
  padding: 5px;
}
.useful_contacts h3 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 14px;
}
.useful_contacts p {
  margin-bottom: 0;
}
/* most read */
#content.row .column.right .most_read ul {
  background: #f3f3f3;
  padding-left: 10px;
}
#content.row .column.right .most_read hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
#content.row .column.right .most_read ul li {
  padding: 10px 10px 10px 0;
}
#content.row .column.right .most_read ul li a {
  text-decoration: underline;
  color: #666;
}
/* */
.ui-widget {
  display: inline-table;
}
.column.content ol.tumblr_posts li {
  list-style: none;
  margin-left: 0px;
}
ol.tumblr_posts li div {
  color: red;
  list-style: none;
  color: #E53741;
  font-size: 16px;
  margin-left: 0px;
}
/* search */
.search .highlight {
  color: red;
  background: yellow;
}
.search a {
  text-decoration: none;
}
.search a:hover {
  text-decoration: underline;
}
/* news page pagination */
ul.pagination {
  clear: both;
  list-style-type: none;
  margin: 0 auto 0 20%;
  padding: 0;
  overflow: hidden;
}
.pagination li {
  display: inline;
  float: left;
}
.pagination li a {
  display: block;
}
/* OVERRIDE */
.column.right .expertise .description {
  width: 160px !important;
}
.column.right .expertise .description .text h3 {
  font-size: 14px;
  font-weight: bold;
}
.klienter .content h3,
.clients .content h3,
.clientes .content h3  {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.klienter .content li,
.clients .content li,
.clientes .content li {
  display: inline;
  margin: 0;
  padding: 0;
}
.klienter .content img,
.clients .content img,
.clientes .content img {
  padding-bottom: 0;
}

.klienter .content h1,
.clients .content h1,
.clientes .content h1 {
  padding: 20px 0 60px 0 !important;
}
.person .image {
  float: left;
  display: block;
  width: 170px;
}
.person .description {
  width: 560px;
  float: right;
  display: block;
  overflow: auto;
}
.testimonials ul {
  margin: 10px;
  line-height: 28px;
  font-size: 18px;
}
.keyplayer .image {
  float: left;
  width: 170px;
}
.keyplayer .description {
  float: right;
  width: 400px;
}
.social_icons {
  float: right;
  margin-top: 56px;
}
.social_icons ul {
  margin-top: -40px;
}
.social_icons ul li {
  float: left;
}
.social_icons ul li img {
  margin-left: 4px;
  width: 23px;
}

.footer-company-logo {
	float: left;
	padding-right: 20px;
}
.footer-company-links {
	float: left;
}
#footer .grey .rights {
	padding: 38px;
}
/*New updates for responsive elements*/
#pull {
  display: none;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.home a {
  font-size: 0 !important;
}
.mobile-nav {
  display: none;
}
.appco-uk-frequently-asked-questions h1,
.preguntas-frecuentes h1 {
  font-size: 200%;
}
.appco-uk-frequently-asked-questions .accordion,
.preguntas-frecuentes .accordion {
  width: 80%;
  border-bottom: solid 1px #c4c4c4;
}
.appco-uk-frequently-asked-questions #container,
.preguntas-frecuentes #container {
  min-height: 800px;
}
.appco-uk-frequently-asked-questions #container .content h3,
.preguntas-frecuentes #container .content h3 {
  margin: 15px 0;
}
.appco-uk-frequently-asked-questions #container .accordion h3,
.preguntas-frecuentes #container .accordion h3 {
  margin: 0;
}
.appco-uk-frequently-asked-questions .accordion h3,
.preguntas-frecuentes .accordion h3 {
  padding: 10px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #666;
  font-size: 12px;
  /* 	background-image: url(/img/arrow-square.gif) no-repeat right -51px; */

  /* 	background: #e9e7e7 url(/img/arrow-square.gif) no-repeat right -51px; */

  background: url(/img/arrow-square.gif) no-repeat right top -45px, -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.appco-uk-frequently-asked-questions .accordion h3:hover,
.preguntas-frecuentes .accordion h3:hover {
  background-color: #e3e2e2;
}
.appco-uk-frequently-asked-questions .accordion h3.ui-state-active,
.preguntas-frecuentes .accordion h3.ui-state-active {
  /* 	background-position: right 5px; */

  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, linear-gradient(top, #ffffff 1%, #eaeaea 100%);
}
.appco-uk-frequently-asked-questions .accordion p,
.preguntas-frecuentes .accordion p {
  margin: 0;
  padding: 10px 15px 20px;
  border-left: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

/*footer*/

#footer .grey .rights {
    padding: 0px;
}

.footer-company-logo {
    float: left;
    padding-right: 30px;
    margin-top: 22px;
}

#footer .grey .copyright {
    color: #666;
    font-size: 12px;
    display: block;
    letter-spacing: 0.03em;
    padding: 0px;
    float: left;
}

#footer p {
    padding-top: 42px;
    margin: 0;
}

 #footer .grey .copyright ul {
    padding-top: 46px;
 }

 #footer p {
	  padding-top: 62px;
	  margin: 0;
 }
.privacy-policy #content.row .column {
	width: 100%;
}
#footer .grey .rights {
	padding-top: 0px;
}


/*GUS*/

.social_icons ul li img {
    margin-left: 4px;
    height: 25px;
	width:auto;
}

#content.row.layout1 .column.left h1 {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    clear: both;
    color: #E53741;
    font-size: 210%;
    font-weight: normal;
    padding: 20px 0 10px 0;
    letter-spacing: 0.04%;
}

h2, h2 a {
    margin: 20px 0 10px 0;

    font-weight: normal;
    color: #E53741;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

div.block.what_we_do ul {
    margin-top: 10px;
    border: solid 1px #FF6666;
}

div.block.what_we_do ul li {
    display: block;
    float: left;
    max-width: 214px;
    width: 22.2%;
    background: #F3F3F3;
    margin: 11px 5px 5px 5px;
    padding: 8px;
    height: 230px;
    position: relative;
}

/*footer*/

#footer .grey .rights {
    padding: 0px;
}

.footer-company-logo {
    float: left;
    padding-right: 30px;
    margin-top: 22px;
}

#footer .grey .copyright {
    color: #666;
    font-size: 12px;
    display: block;
    letter-spacing: 0.03em;
    padding: 0px;
    float: left;
}

#footer p {
    padding-top: 42px;
    margin: 0;
}


#footer .grey .copyright ul {
	padding-top: 46px;
}


.privacy-policy #content.row .column {
	width: 100%;
}
#footer .grey .rights {
	padding-top: 0px;
}