body {
	background-image: url('/img/bg.png');
}
header {
	background: rgba(229,55,65,.75);
	/* background-color: #15848F; */
	color: #ffffff;
	height: 84px;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
	margin: 50px 0 30px;
}

header h1 {
  font-size: 30px;
  padding: 0px;
  font-weight: normal;
  margin-bottom: 4px;
}
.header-right {
  float: right;
  margin-right:2rem;
  margin-top: -70px;
}
.navbar-inverse {
	background: rgba(34,34,34,.8);
}
.breadcrumb {
	padding: 0;
	background: none;
}
.breadcrumb a {
	color: #d5fbfb;
}
.breadcrumb .active {
	color: #ccc;
}

form .has-error {
	color: #a94442;
}

form .error-message {
	margin-bottom: 10px;
}
.glyphicon-:before {
	content: "\e135";
	padding: 0 2px;
}
.glyphicon-au:before {
	content: url('/img/flag/au.png');
}
.glyphicon-es:before {
	content: url('/img/flag/es.png');
}
.glyphicon-gb:before {
	content: url('/img/flag/gb.png');
}
.glyphicon-it:before {
	content: url('/img/flag/it.png');
}
.glyphicon-en-in:before {
	content: url('/img/flag/in.png');
}
.glyphicon-gr:before {
	content: url('/img/flag/gr.png');
}
.glyphicon-us:before {
	content: url('/img/flag/en.png');
}
.glyphicon-nz:before {
	content: url('/img/flag/nz.png');
}
.glyphicon-ie:before {
	content: url('/img/flag/ie.png');
}
.glyphicon-pl:before {
	content: url('/img/flag/pl.png');
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}


.well {
	height: 210px;
}
.well h2 {
	margin: 0 0 15px 10px;
}

.blocks h3 {
	color: #666;
	font-weight: normal;
	clear: both;
}

/* radio buttons with images */
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    border: 1px solid red;
}

.login {
	margin-top: 40px;
}

.submenu {
	background: #ddd;
	font-size: 16px;
}
.submenu h2 {
	font-size: 20px;
	font-weight: normal;
	background: gray;
	margin: 0;
	padding: 4px 8px;
	color: #fff;
}
.submenu ul,
.submenu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.submenu ul {
	margin-bottom: 16px;
}
.submenu li {
	border-top: 1px solid #fff;
	padding: 4px 8px;
}
.delete-add-link-block{
	float: right;
	color: #666;
	cursor: pointer;
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5 {
	color: #000;
}

select[multiple], select[size] {
	min-height: 400px;
}
.col-md-3 .panel-default p {
	background-color: #e7e7e7;
}

.img-responsive {
	background-color: #e7e7e7;
}

@media only screen and (max-device-width : 480px) {

	.nav.pull-right {
		float: none !important;
	}
	.nav.>li {
		display: inline !important;
	}
/*
	li {
		display: inline;
		text-align: -webkit-match-parent;
	}
*/

}