<a href="<?= $block['link'] ?>"><<?= $block['tag'] ?>  class="<?= $block['tag_style'] ?>">


	<div class="whatwedo-right-column">
		<div class="what-we-do-wrap">
			<div class="image"><?= $this->Html->image($block['image'], ['alt' => $block['alternative_text']]) ?></div>
			<div class="title"><?php if($block['title']) echo $this->Html->tag($block['title_tag'], mb_strimwidth($block['title'], 0, 40, "...")) ?></div>


		</div>

	</div>
</<?= $block['tag'] ?>></a>





