/* ----------------------------- COMMON ELEMENTS ----------------------------- */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  margin: 0px auto;
  padding: 0;
  height: 120px;
}
.column.content li {
  list-style: disc;
  color: #666;
  margin-left: 15px;
  line-height: 19px;
}
#header {
  width: 100%;
  margin: 0px auto;
  padding: 0;
}
#header .logo-container {
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  width: 100%;
  max-width: 960px;
}
#header .logo-container .search_bar {
  position: absolute;
  right: 0px;
  bottom: 50px;
  width: 250px;
}
#header .logo-container .search_bar input {
  float: left;
}
#header .logo-container .search_bar input[type=submit] {
  border: 1px solid #e53741;
  margin-left: 5px;
  height: 21px;
  color: white;
  background: #e53741;
}
a {
  text-decoration: none;
  color: #666;
  text-decoration: underline;
}
a.arrow-read {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
  display: inline-block;
  color: #666;
}
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}
h2,
h2 a {
  margin: 20px 0 10px 0;
  font-weight: normal;
  color: #666;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
h3,
h3 a {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px;
}
h4 {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  text-decoration: none;
}
p {
  line-height: 19px;
  color: #666;
  margin: 0 0 10px 0;
  font-size: 13px;
}
select.hidden {
  display: none;
}
.nav {
  padding: 0;
  clear: both;
  position: relative;
  z-index: 5;
  width: 100%;
  margin-bottom: 20px;
  background: #e53741 none repeat scroll 0 0;
}
.nav ul {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  background: #e53741 none repeat scroll 0 0;
}
.nav li {
  float: left;
  margin: 0;
  position: relative;
}
.nav li a {
  display: block;
  color: #fff;
  font-weight: normal;
  line-height: 35px;
  font-size: 100%;
  text-decoration: none;
  letter-spacing: 0.056em;
}
.nav li a.active {
  background: #b50607;
  text-decoration: none;
}
.nav li.home a,
.nav li.home a:hover {
  height: 21px;
  width: 21px;
  padding: 10px 10px 0 0;
  background: url('/img/appco/home.png') no-repeat;
  text-decoration: none;
}
nav ul {
  display: block;
}
.nav li.active a,
.nav li a:active,
.nav li a:focus,
.nav li a:hover {
  text-decoration: none;
  background-color: #D4212B;
}
div#wrapper {
  margin: 0 auto 0;
  min-height: 100%;
  /* ie6 ignores min-height completely */
  height: 100%;
  width: 100%;
  position: relative;
  min-width: 212px;
}
div#container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
#banner {
  width: 100%;
}
#banner .left {
  float: left;
}
#banner .right {
  float: right;
}
#footer {
  background: #f3f3f3;
  margin-top: 20px;
  margin-bottom: 0;
  height: 120px;
  padding: 20px 0 0 0;
  width: 100%;
}
#footer ul li img {
  padding: 10px 0px 0 3px;
}
#footer ul li {
  float: left;
}
#footer .outter {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}
#footer .left {
  float: left;
}
#footer .right {
  float: right;
}
#footer .left img {
  margin-top: 10px;
  padding: 10px 25px 0 0;
}
#footer p,
#footer ul {
  clear: both;
}
#footer ul {
  float: right;
  margin-bottom: 2px;
}
#footer .grey {
  width: 100%;
  background-color: #e7e7e7;
  height: 40px;
  clear: both;
  margin-top: 100px;
  min-height: 50px;
  max-height: 100%;
  min-height: 120px;
}
#footer .grey .copyright {
  color: #666;
  font-size: 12px;
  display: block;
  letter-spacing: 0.03em;
  padding: 20px 0 0 0;
  float: left;
}
#footer .grey .copyright ul {
  padding-top: 20px;
}
#footer .reset .copyright {
  padding: 20px 0 0 0;
}
#footer .grey .copyright li + li::before {
  content: "  |  ";
  padding: 10px 4px 0px 8px;
}
#footer .grey .copyright li + li:before {
  content: "  |  ";
  padding: 0px 4px 0px 8px;
}
#footer .grey .rights {
  color: #666;
  font-size: 12px;
  letter-spacing: 0.03em;
  padding-top: 100px;
  float: right;
}
#footer .grey .rights p {
  margin: 0;
}
#footer .right .logos li {
  margin-left: 15px !important;
}
#footer .copyright a {
  color: #666;
}
.lang-it #footer .grey .copyright ul {
  /* padding-top: 0; */
}
#footer .reset {
  min-height: 60px;
}
.lang-it #footer .reset {
  min-height: 100px;
}
div.ext_box {
  background: url(/img/appco/bg_box-top.png) no-repeat top;
  padding: 12px 0 0;
  margin: 9px 0 0;
}
div.ext_box div.bottom {
  background: url(/img/appco/bg_box-bottom.png) no-repeat bottom;
  padding: 0 0 12px;
}
div.ext_box div.tile {
  background: url(/img/appco/bg_box-tile.png) repeat-y;
  padding: 0 10px;
}
div.keyplayers li {
  background: #f3f3f3;
  margin: 0px 20px 0px 0px;
  float: left;
  color: #cccccc;
}
ul.int_box li {
  background: #f3f3f3;
  margin: 0px 20px 0px 0px;
  float: left;
  color: #cccccc;
}
ul.int_box li.first {
  margin-left: 0px;
}
ul.int_box li.last {
  margin-right: 0px;
}
.w129 {
  width: 129px;
  height: 252px;
}
.w225 {
  width: 225px;
  height: 150px;
}
.w244 {
  width: 244px;
  height: 150px;
}
.w282 {
  width: 282px;
  height: 212px;
}
div.paging {
  margin: 9px 0 0;
  height: 32px;
  background: url(/img/appco/bg_paging.png) no-repeat -2px 0;
  text-align: right;
  padding: 8px 15px 0;
  color: #eee;
}
div.paging a {
  color: #fff;
  text-decoration: none;
}
div.paging a:active,
div.paging a:focus,
div.paging a:hover {
  text-decoration: underline;
}
/* ----------------------------- HOMEPAGE ----------------------------- */
div.home.hero div.tile {
  height: 337px;
  position: relative;
}
div.hero img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: -1px 0 0;
}
div.int_box p {
  font-size: 0.90em;
}
div.int_box h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 0.2em;
}
div.int_box h3 a {
  font-size: 1.2em;
  font-weight: normal;
}
/* NEWS HOME PAGE */
.column.right .latest_news hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
.column.right .latest_news h3 {
  color: #666;
  font-size: 14px;
  font-weight: bolder;
}
.column.right .latest_news h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 6px;
}
.column.right .latest_news li {
  margin-bottom: 20px;
  margin-top: 10px;
}
.column.right .latest_news p {
  margin: 1px 0 10px 0;
}
/* ----------------------------- WHAT WE DO -------------------------- */
.column.content ul.what_we_do li {
  list-style: none;
  list-style-type: none;
}
/* ----------------------------- CLIENTS -------------------------- */
.column.content.clientes img,
.column.content.clients img,
.column.content.klienter img {
  padding-right: 40px;
  float: left;
}
.klienter h3,
.clients h3,
.clientes h3,
.klienter div.lists h3,
.clients div.lists h3,
.clientes div.lists h3,
.klienter h3 a,
.clients h3 a,
.clientes h3 a {
  clear: both;
}
/* ----------------------------- COUNTRY ----------------------------- */
.mobile {
  display: none;
}
div.country img {
  background: #444;
  margin: -2px 0 0;
  float: left;
}
div.country div.content {
  padding: 10px 20px 18px;
  width: 272px;
  float: left;
}
div.country a,
div.country a:active,
div.country a:focus,
div.country a:hover {
  color: #fff;
}
div.country h2 {
  font-size: 1.7em;
}
div.country p {
  color: #fff;
  font-size: 0.9em;
}
div.country ol,
div.country ul {
  margin: 0 0 15px;
}
div.country li {
  color: #fff;
  margin: 2px 0 2px 30px;
  font-size: 0.9em;
  list-style: disc;
}
/* ----------------------------- KEYPLAYERS ----------------------------- */
div.description h3 {
  color: #666666;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
}
div.description h2 {
  color: #E53741;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
div.description li {
  margin: 0 4px 4px;
  position: relative;
}
div.description li.first {
  margin: 0 4px 8px 9px;
}
div.description li.last {
  margin: 0 9px 8px 4px;
}
div.description li img {
  display: block;
  margin: 3px auto;
  background: #444;
}
div.description picture {
  margin-top: 100px;
}
div.description li p {
  font-size: 0.9em;
}
div.description li a.zoom {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 8px;
}
div.description li a.zoom img {
  background: url('/img/appco/bg_zoom.png') no-repeat;
}
div.go-back-container a {
  background: url('/img/appco/arrow_back.png') no-repeat center left;
  padding-left: 10px;
  display: inline-block;
  color: #666;
}
/* ----------------------------- CONTACT ----------------------------- */
div.contact table {
  width: 100%;
}
div.contact td {
  width: 25%;
  color: #fff;
  padding: 14px 6px 0;
}
div.contact tr.last td {
  padding: 14px 6px;
}
div.contact tr td.first {
  padding: 14px 6px 0 12px;
}
div.contact tr td.last {
  padding: 14px 12px 0 6px;
}
div.contact tr.first td.first {
  padding: 14px 6px 0 12px;
}
div.contact tr.first td.last {
  padding: 14px 12px 0 6px;
}
div.contact tr.last td.first {
  padding: 14px 6px 14px 12px;
}
div.contact tr.last td.last {
  padding: 14px 12px 14px 6px;
}
div.contact td h2 {
  font-size: 1.7em;
}
div.contact td h3 {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
div.contact td a {
  color: #fff;
}
#region,
#countries {
  padding: 5px;
}
#countries_filter {
  margin-top: 10px;
}
#countries_filter h4 {
  color: #e53741 !important;
}
/************* Responsive Video *****************/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ----------------------------- GENERIC ----------------------------- */
div.padding {
  padding: 12px 14px 5px;
}
div.padding div.content {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.2em;
}
div.padding h2 {
  font-size: 1.7em;
}
div.padding a,
div.padding a:active,
div.padding a:focus,
div.padding a:hover {
  color: #fff;
}
div.generic.hero img {
  margin-bottom: -7px;
}
.footer-right {
  float: right;
  width: 150px;
}
h3,
div.lists h3,
h3 a {
  color: #E53741;
  font-weight: bold;
  letter-spacing: 0.02em;
}
#content.row {
  width: 100%;
}
#content.row .column {
  float: left;
  width: 30%;
}
/* content */
#content.row.layout1 .column.left {
  width: 30%;
}
#content.row.layout1 .column.left p {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  clear: both;
  color: #838383;
  font-size: 155%;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.1%;
  margin-bottom: 23px;
}
#content.row.layout1 .column.left ul {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  clear: both;
  color: #838383;
  font-size: 155%;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.1%;
  margin-bottom: 27px;
}
#content.row.layout3 .column.content {
  width: 745px;
  margin-left: 30px;
}
#content.row.layout3 ul li {
  list-style-position: inside;
}
#content.row.layout1 .column.center {
  margin-left: 5%;
}
#content.row.layout1 .column.center .expertise {
  width: 100%;
  max-width: 260px;
}
.expertise h2,
.latest_news h2 {
  font-size: 18px;
}
#content.row.layout1 .column.center .expertise a {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
  display: inline-block;
  color: #666;
}
#content.row.layout1 .column.center .expertise h3 {
  color: #E53741;
  font-size: 14px;
  font-weight: bold;
}
#content.row.layout1 .column.center .expertise p {
  padding: 0 2px 0 0 ;
}
#content.row.layout1 .column.center .expertise div.view {
  padding: 0 0 0 5px;
}
#content.row .column div.thumb,
#content.row .column div.description {
  float: left;
  padding: 5px;
}
#content .expertise div.thumb {
  width: 100px;
  height: 100px;
}
#content.row .column .expertise div.description {
  padding-left: 5px;
  width: 120px;
}
#content.row .column .expertise ul li {
  height: 110px;
  display: block;
  float: left;
  background: #ffffff;
  margin: 10px 0 0 10px;
}
#content.row .column .expertise ul li:last-child {
  margin-bottom: 10px;
}
#content.row.layout1 .column .expertise ul li {
  width: 240px;
}
#content.row .column .expertise ul li {
  width: 285px;
}
#content.row .column .expertise hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
#content.row.layout1 .column.right {
  width: 295px;
  margin-left: 32px;
}
#content.row.layout1 #home_banner {
  border: 1px solid #fff;
  background: #fff;
  width: 341px;
  height: 212px;
  position: relative;
  padding-left: 0px;
}
#content.row.layout1 #home_banner .view_all_statistics {
  position: absolute;
  bottom: 5px;
}
#content.row .column .expertise div.description .text {
  height: 80px;
}
#content.row .column .expertise div.description .text a {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
}
#content.row.layout2 .column.content {
  width: 400px;
  margin-left: 30px;
  margin-right: 20px;
}
#content.row.layout2 .column.content h5,
h5 a {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#content.row.layout2 .column.right {
  width: 305px;
  margin-left: 18px;
}
#content.row .column .expertise ul {
  background: #F3F3F3;
  display: inline-block;
}
/* menu */
#content.row .column.menu {
  width: 182px;
  padding-top: 25px;
}
div#content div.column.menu ul.submenu.hide {
  display: none;
}
div#content div.column.menu ul.submenu li {
  padding-left: 30px;
}
div#content.row div.column.menu h2 {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  background: #575b5e;
  padding: 7px 0 7px 10px;
  margin: 0px;
  letter-spacing: 0.02em;
}
div#content.row div.column.menu h2 a {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
div#content.row div.column.menu h2 a:hover {
  text-decoration: none;
}
div#content div.column.menu ul li {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  background: #f3f3f3;
  line-height: 18px;
  padding: 10px;
  border-bottom: 2px solid white;
  font-size: 13px;
  font-weight: normal;
  list-style: none;
}
div#content div.column.menu ul li.active {
  background: #E2E2E2;
}
div#content div.column.menu ul li a {
  text-decoration: none;
  color: #666;
}
div#content div.column.menu ul li a:hover {
  color: #000;
}
/* what we do */
div.block.what_we_do {
  clear: both;
  margin-top: 20px;
}
div.block.what_we_do h1 {
  font-size: 30px;
  color: #E53741;
  border-bottom: 3px solid #E53741;
  margin: 10px 0 20px 0;
  padding-top: 0px;
}
div.block.what_we_do ul {
  margin-top: 10px;
}
div.block.what_we_do ul li {
  display: block;
  float: left;
  max-width: 214px;
  width: 20%;
  background: #F3F3F3;
  margin: 5px;
  padding: 8px;
  height: 230px;
  position: relative;
}
div.block.what_we_do ul li a img {
  width: 100%;
}
div.block.what_we_do a {
  background: url('/img/appco/arrow_read_more.png') no-repeat center right;
  padding-right: 10px;
  display: inline-block;
  color: #666;
  margin-top: 20px;
}
div.block.what_we_do a.no-link-style {
  background: none;
  padding-right: 0;
  margin-top: 0;
}
div.block.what_we_do a.link-style {
  position: absolute;
  bottom: 20px;
}
/* clear both */
#content.row.layout3 .keyplayer_list li {
  display: block;
  margin-bottom: 20px;
  height: auto;
  clear: both;
  margin-left: 0px;
  width: 745px;
}
#content.row.layout3 div.keyplayer {
  width: 745px;
}
#content.row.layout3 .keyplayer_list div.image {
  float: left;
  width: 150px;
}
#content.row.layout3 .keyplayer_list div.description {
  float: left;
  padding-left: 10px;
  padding-bottom: 50px;
  width: 570px;
  height: auto;
  position: relative;
}
#content.row.layout3 .keyplayer_list div.description div.read_more {
  position: absolute;
}
/* news */
#content.row.layout4 .column.content {
  width: 635px;
}
.blog #content.row.layout4 .column.content,
.testimonials #content.row.layout4 .column.content,
.clients #content.row.layout4 .column.content,
.klienter #content.row.layout4 .column.content {
  width: 605px;
  padding-right: 30px;
}
#content.row.layout4 .column.content ul {
  margin: 0px;
}
#content.row.layout4 .column.content ul li {
  list-style: none;
  margin: 20px 0;
  float: left;
  min-height: 120px;
}
.news .content li {
  list-style: circle !important;
  list-style-type: disc !important;
  margin-left: 30px !important;
}
/*
.news nav {
	width:50%;
	margin:0 auto;
	list-style:none;
}
.news nav ul {
	clear:both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.news nav li {
	display: inline;
	float: left;
	padding: 5px 10px;
}
.news nav li a {
    display: block;
}
*/
#content.row.layout4 .column.content .article {
  padding: 0px 0px 150px;
  margin: 32px 0px 0px;
}
#content.row.layout4 .column.content .article .arrow-read {
  position: absolute;
  bottom: 12px;
}
#content.row.layout4 .column.content .image {
  float: left;
  width: 244px;
  height: 150px;
}
#content.row.layout4 .column.content .description {
  float: left;
  margin-left: 0px;
  height: 150px;
  width: 345px;
  position: relative;
  padding-left: 20px;
  margin-top: 0px;
}
#content.row.layout4 .column.content .description h2,
h2 a {
  margin-top: 0px;
  font-size: 18px;
}
#content.row.layout4 .column.right .header h3 {
  padding: 10px 0 10px 0;
  font-size: 23px;
  font-weight: normal;
  color: #666;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
#content.row.layout4 .column.content .description h2 {
  width: 365px;
}
#content.row.layout4 .column.content .description a.more {
  position: absolute;
}
#content.row.layout4 .column.right {
  width: 310px;
  margin-left: 15px;
}
/* testimonials */
#testimonials h2 {
  color: #666;
  font-size: 23px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
#testimonials hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
/* countries */
#countries_filter table {
  width: 100%;
}
#countries_filter table tr td {
  margin-top: 20px;
  width: 300px;
}
#countries_filter table h5 {
  color: #E53741;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
/* appco country filters */
.filters {
  height: 50px;
  clear: both;
}
.filters label {
  display: block;
  padding-bottom: 5px;
}
.filters .left {
  float: left;
  width: 315px;
}
.filters select {
  width: 200px;
}
.filters .right {
  float: right;
  width: 320px;
}
/* useful_contacts */
.useful_contacts h2 {
  border-bottom: 4px solid #E53741;
  margin: 0;
  line-height: 2;
}
.useful_contacts div {
  border: 10px solid #F3F3F3;
  padding: 5px;
}
.useful_contacts h3 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 14px;
}
.useful_contacts p {
  margin-bottom: 0;
}
/* most read */
#content.row .column.right .most_read ul {
  background: #f3f3f3;
  padding-left: 10px;
}
#content.row .column.right .most_read hr {
  border: 2px solid #E53741;
  margin: 0px;
  height: 0px;
}
#content.row .column.right .most_read ul li {
  padding: 10px 10px 10px 0;
}
#content.row .column.right .most_read ul li a {
  text-decoration: underline;
  color: #666;
}
/* */
.ui-widget {
  display: inline-table;
}
.column.content ol.tumblr_posts li {
  list-style: none;
  margin-left: 0px;
}
ol.tumblr_posts li div {
  color: red;
  list-style: none;
  color: #E53741;
  font-size: 16px;
  margin-left: 0px;
}
/* search */
.search .highlight {
  color: red;
  background: yellow;
}
.search a {
  text-decoration: none;
}
.search a:hover {
  text-decoration: underline;
}
/* news page pagination */
ul.pagination {
  clear: both;
  list-style-type: none;
  margin: 0 auto 0 20%;
  padding: 0;
  overflow: hidden;
}
.pagination li {
  display: inline;
  float: left;
}
.pagination li a {
  display: block;
}
/* OVERRIDE */
.column.right .expertise .description {
  width: 160px !important;
}
.column.right .expertise .description .text h3 {
  font-size: 14px;
  font-weight: bold;
}
.klienter .content h3,
.clients .content h3,
.clientes .content h3 {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.klienter .content li,
.clients .content li,
.clientes .content li {
  display: inline;
}
.klienter .content img,
.clients .content img,
.clientes .content img {
  padding: 30px 70px 30px 0;
}
.klienter .content img,
.clients .content img {
  padding: 30px 70px 30px 0;
}
.klienter .content h1,
.clients .content h1,
.clientes .content h1 {
  padding: 20px 0 60px 0 !important;
}
.person .image {
  float: left;
  display: block;
  width: 170px;
}
.person .description {
  width: 560px;
  float: right;
  display: block;
  overflow: auto;
}
.testimonials ul {
  margin: 10px;
  line-height: 28px;
  font-size: 18px;
}
.keyplayer .image {
  float: left;
  width: 170px;
}
.keyplayer .description {
  float: right;
  width: 400px;
}
.social_icons {
  float: right;
  margin-top: 56px;
}
.social_icons ul {
  margin-top: -40px;
}
.social_icons ul li {
  float: left;
}
.social_icons ul li img {
  margin-left: 4px;
  width: 23px;
}
.footer-company-logo {
  float: left;
  padding-right: 20px;
}
.footer-company-links {
  float: left;
}
#footer .grey .rights {
  padding: 38px;
}
/*New updates for responsive elements*/
#pull {
  display: none;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.home a {
  font-size: 0 !important;
}
.mobile-nav {
  display: none;
}
.appco-uk-frequently-asked-questions h1,
.preguntas-frecuentes h1 {
  font-size: 200%;
}
.appco-uk-frequently-asked-questions .accordion,
.preguntas-frecuentes .accordion {
  width: 80%;
  border-bottom: solid 1px #c4c4c4;
}
.appco-uk-frequently-asked-questions #container,
.preguntas-frecuentes #container {
  min-height: 800px;
}
.appco-uk-frequently-asked-questions #container .content h3,
.preguntas-frecuentes #container .content h3 {
  margin: 15px 0;
}
.appco-uk-frequently-asked-questions #container .accordion h3,
.preguntas-frecuentes #container .accordion h3 {
  margin: 0;
}
.appco-uk-frequently-asked-questions .accordion h3,
.preguntas-frecuentes .accordion h3 {
  padding: 10px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #666;
  font-size: 12px;
  /* 	background-image: url(/img/arrow-square.gif) no-repeat right -51px; */
  /* 	background: #e9e7e7 url(/img/arrow-square.gif) no-repeat right -51px; */
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right top -45px, linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.appco-uk-frequently-asked-questions .accordion h3:hover,
.preguntas-frecuentes .accordion h3:hover {
  background-color: #e3e2e2;
}
.appco-uk-frequently-asked-questions .accordion h3.ui-state-active,
.preguntas-frecuentes .accordion h3.ui-state-active {
  /* 	background-position: right 5px; */
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: url(/img/arrow-square.gif) no-repeat right bottom -45px, linear-gradient(top, #ffffff 1%, #eaeaea 100%);
}
.appco-uk-frequently-asked-questions .accordion p,
.preguntas-frecuentes .accordion p {
  margin: 0;
  padding: 10px 15px 20px;
  border-left: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
/*footer*/
#footer .grey .rights {
  padding: 0px;
}
.footer-company-logo {
  float: left;
  padding-right: 30px;
  margin-top: 22px;
}
#footer .grey .copyright {
  color: #666;
  font-size: 12px;
  display: block;
  letter-spacing: 0.03em;
  padding: 0px;
  float: left;
}
#footer p {
  padding-top: 42px;
  margin: 0;
}
#footer .grey .copyright ul {
  padding-top: 46px;
}
#footer p {
  padding-top: 62px;
  margin: 0;
}
.privacy-policy #content.row .column {
  width: 100%;
}
#footer .grey .rights {
  padding-top: 0px;
}
/*GUS*/
.social_icons ul li img {
  margin-left: 4px;
  height: 25px;
  width: auto;
}
#content.row.layout1 .column.left h1 {
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  clear: both;
  color: #E53741;
  font-size: 210%;
  font-weight: normal;
  padding: 20px 0 10px 0;
  letter-spacing: 0.04%;
}
h2,
h2 a {
  margin: 20px 0 10px 0;
  font-weight: normal;
  color: #E53741;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
div.block.what_we_do ul {
  margin-top: 10px;
  border: solid 1px #FF6666;
}
div.block.what_we_do ul li {
  display: block;
  float: left;
  max-width: 214px;
  width: 22.2%;
  background: #F3F3F3;
  margin: 11px 5px 5px 5px;
  padding: 8px;
  height: 230px;
  position: relative;
}
/*footer*/
#footer .grey .rights {
  padding: 0px;
}
.footer-company-logo {
  float: left;
  padding-right: 30px;
  margin-top: 22px;
}
#footer .grey .copyright {
  color: #666;
  font-size: 12px;
  display: block;
  letter-spacing: 0.03em;
  padding: 0px;
  float: left;
}
#footer p {
  padding-top: 42px;
  margin: 0;
}
#footer .grey .copyright ul {
  padding-top: 46px;
}
.privacy-policy #content.row .column {
  width: 100%;
}
#footer .grey .rights {
  padding-top: 0px;
}
/* sizes smaller than iphone 4 */
/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 212px) and (max-width: 319px) {
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 60px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
    clear: both;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 212px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 10px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 10px;
  }
  #content.row.layout1 .column .expertise ul li {
    width: 212px;
    min-width: 212px;
  }
  div.thumb {
    display: none;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 90%;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 90%;
  }
  .no-link-style img {
    width: 212px;
  }
  div.block.what_we_do ul li a img {
    width: 100%;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 212px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  /*
  .logo-container a {

    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
  }
*/
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  .social_icons {
    display: none;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 39px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
    display: none;
  }
  nav .home {
    border-top: 1px solid #fff;
  }
  nav li,
  nav .home {
    background: #e53741 none repeat scroll 0 0;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    border-bottom: 1px solid #fff;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
  }
  #pull {
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
    padding: 30px 0;
  }
  .nav li.home a,
  .nav li.home a:hover {
    background: none;
    height: auto;
    margin: 0;
    padding: 10px 5%;
    width: 90%;
    color: #cccccc;
  }
  .nav li a {
    padding: 14px 5%;
    width: 90%;
  }
  #pull:focus {
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav a:hover,
  a:focus {
    background: #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 100%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 212px;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise ul li {
    width: 200px;
  }
  div.thumb {
    display: none;
  }
  #content.row.layout2 .column.right {
    width: 212px;
  }
  #content.row.layout4 .column.right {
    width: 212px;
    margin: 0;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 192px !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 192px !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    clear: both;
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
    display: none;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 10px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 200px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 210px;
  }
  .appco-worldwide .filters select {
    width: 200px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 10px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: uto;
    width: 200px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 10px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 10px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
}
@media only screen and (max-width: 900px) {
  #footer .grey .copyright {
    width: 100%;
  }
  .footer-company-logo {
    float: left;
    padding: 0 0 0 20px;
  }
  .footer-company-links {
    float: right !important;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
  }
  #footer .grey .rights {
    clear: both;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 60px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .social_icons ul {
    margin-top: -40px;
  }
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
    clear: both;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 320px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  .what_we_do h2,
  .what_we_do h2 a {
    color: #E53741;
    border-bottom: 3px solid #E53741;
    margin: 10px 0 20px 0;
    padding-top: 0px;
  }
  div.block.what_we_do ul li {
    width: 90%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 50px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
    display: none;
  }
  nav .home {
    border-top: 1px solid #fff;
  }
  nav li,
  nav .home {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    border-bottom: 1px solid #fff;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 10px 2.6%;
    text-decoration: none;
    background: #e53741;
  }
  #pull {
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
    padding: 30px 0;
  }
  .nav li.home a,
  .nav li.home a:hover {
    background: none;
    height: auto;
    margin: 0;
    padding: 10px 5%;
    width: 90%;
    color: #cccccc;
  }
  .nav li a {
    padding: 14px 5%;
    width: 90%;
  }
  #pull:focus {
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav a:hover,
  a:focus {
    background: #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 100%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  .footer-company-logo {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .footer-company-links {
    padding: 20px 0 0;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 292px !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 292px !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    clear: both;
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .clientes,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .clientes #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .clientes #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .clientes .content img,
  .klienter .content img,
  .clients .content img,
  .clientes .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
  #footer .grey .rights {
    padding: 0;
  }
  #footer .right {
    padding: 0;
    float: left;
  }
  #footer p {
    padding-top: 20px;
  }
  #content.row.layout1 .column.center {
    margin: 0;
  }
}
/* sizes between iphone 4 andiphone 6+ */
@media only screen and (min-width: 481px) and (max-width: 900px) {
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 60px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
    clear: both;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 414px;
    margin: 0;
    width: 100%;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 20% !important;
  }
  div.block.what_we_do ul li a img {
    width: 80%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  /**********Nav************/
  nav {
    clear: both;
    height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
    background: #e53741 none repeat scroll 0 0;
    display: table;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
    background: none repeat scroll 0 0 #e53741;
    display: none;
  }
  nav .home {
    border-top: 1px solid #fff;
  }
  nav li,
  nav .home {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    border-bottom: 1px solid #fff;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
  }
  #pull {
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
    padding: 30px 0;
  }
  .nav li.home a,
  .nav li.home a:hover {
    background: none;
    height: auto;
    margin: 0;
    padding: 10px 1%;
    width: 98%;
    color: #cccccc;
  }
  .nav li a {
    padding: 14px 1%;
    width: 98%;
  }
  #pull:focus {
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav a:hover,
  a:focus {
    background: #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 90%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .left img {
    min-width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    display: none;
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 12px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    clear: both;
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #f3f3f3;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
  #footer .grey .copyright {
    width: 100%;
  }
  .footer-company-logo {
    float: left;
    padding: 0 0 0 20px;
  }
  .footer-company-links {
    float: right !important;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
  }
  #footer .grey .rights {
    clear: both;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
  #footer .grey .copyright ul li a {
    font-size: 12px !important;
  }
  #footer .grey .copyright {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
  }
  #footer .grey .copyright ul {
    list-style: outside none none;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    float: none;
  }
  #footer ul li {
    float: none;
    display: inline;
  }
  #footer p {
    font-size: 12px;
    margin: 0;
    padding-top: 0px;
    text-align: center;
  }
}
/* iPhone 6 =----------- */
@media only screen and (min-width: 736px) and (max-device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  #footer .grey .copyright ul {
    width: 100%;
  }
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 60px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 414px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 100%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 22%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
    display: none;
  }
  nav li,
  nav .home {
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
  }
  #pull {
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
    padding: 30px 0;
  }
  li.home a,
  li.home a:hover {
    background: #e53741;
  }
  nav a:hover,
  a:focus,
  #pull:focus {
    background: #cccccc;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 90%;
    width: 29%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /************Submenu****************/
  /*
  	#pulldown {
  	    line-height: 34px;
  	    width: 26%;
  	}
  */
  div#content.row div.column.menu h2 {
    background: none repeat scroll 0 0 #ff6633;
    padding: 0 0 4px 10px;
  }
  #content.row .column.menu,
  nav {
    border-bottom: 0;
  }
  #content.row .column.menu ul,
  nav ul {
    display: none;
    height: auto;
    min-width: 100%;
  }
  nav a#pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 320px;
    width: 100%;
  }
  #content.row .column.menu a#pulldown:after {
    content: "";
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #ff6633;
    float: right;
    width: 26%;
    display: inline-block;
    position: relative;
    right: 14px;
    top: 5px;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .left img {
    min-width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    clear: both;
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #f3f3f3;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
  #footer .copyright a {
    font-size: 12px;
  }
}
/* 768 ipad =----------- */
@media only screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2) {
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 60px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
  }
  #pull {
    display: block;
    height: 52px;
  }
  div#container,
  #content.row {
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 90%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
  }
  nav li,
  nav .home {
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
  }
  #pull {
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
  }
  li.home a,
  li.home a:hover {
    background: #e53741;
  }
  nav a:hover,
  a:focus,
  #pull:focus {
    background: #cccccc;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 90%;
    width: 29%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .left img {
    min-width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    clear: both;
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #f3f3f3;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
}
@media only screen and (max-width: 900px) {
  .nav ul {
    display: none;
  }
  nav li:first-child::nth-last-child(8),
  nav li:first-child::nth-last-child(8) ~ li {
    width: 100%;
  }
  .nav li {
    width: 100%;
    display: block;
    float: left;
  }
}
@media only screen and (min-width: 900px) {
  .nav ul {
    display: block;
  }
  /* one item */
  nav li:first-child::nth-last-child(1) {
    width: 100%;
  }
  /* two items */
  nav li:first-child::nth-last-child(2),
  nav li:first-child::nth-last-child(2) ~ li {
    width: 50%;
  }
  /* three items */
  nav li:first-child::nth-last-child(3),
  nav li:first-child::nth-last-child(3) ~ li {
    width: 33.3333%;
  }
  /* four items */
  nav li:first-child::nth-last-child(4),
  nav li:first-child::nth-last-child(4) ~ li {
    width: 25%;
  }
  /* two items */
  nav li:first-child::nth-last-child(5),
  nav li:first-child::nth-last-child(5) ~ li {
    width: 20%;
  }
  /* three items */
  nav li:first-child::nth-last-child(6),
  nav li:first-child::nth-last-child(6) ~ li {
    width: 16.6667%;
  }
  /* four items */
  nav li:first-child::nth-last-child(7),
  nav li:first-child::nth-last-child(7) ~ li {
    width: 14.2857%;
  }
  nav li:first-child::nth-last-child(8),
  nav li:first-child::nth-last-child(8) ~ li {
    width: 12.5%;
  }
  nav li:first-child::nth-last-child(9),
  nav li:first-child::nth-last-child(9) ~ li {
    width: 11.11%;
  }
  nav li:first-child::nth-last-child(10),
  nav li:first-child::nth-last-child(10) ~ li {
    width: 10%;
  }
  .nav ul {
    display: table;
  }
  .nav li {
    display: table-cell;
    float: none;
    text-align: center;
  }
}
