.layout3 h1, .layout4 h1, .layout2 h1{

	    clear: both;
	    color: #e53741;
	    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
	    font-size: 250%;
	    font-weight: normal;
	    letter-spacing: 0.02em;
	    padding: 20px 0 10px;

}
 #footer .grey .copyright ul {
    padding-top: 46px;
  }

  #footer p {
	  padding-top: 62px;
	  margin: 0;
  }
.privacy-policy #content.row .column {

		width: 100%;

}
	#footer .grey .rights {
		padding-top: 0px;
	}
  @media screen and (min-width: 736px) and (max-device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	 #footer .copyright a {
	    font-size: 12px;
	  }


 }

 @media screen and (min-width: 481px) and (max-width: 900px) {
	#footer .grey .copyright {
		width: 100%;
	}
	.footer-company-logo {
	    float: left;
	    padding:0 0 0 20px;
	}
	.footer-company-links {
	    float: right !important;
	    padding-right: 20px;
	    padding-top: 20px;
	    position: relative;
	}

	#footer .grey .rights {
		clear: both;
		text-align: center;
		padding-top: 20px;
		width: 100%;
	}

}

 @media screen and (min-width: 481px) and (max-width: 900px) {
	#footer .grey .copyright ul li a {
		font-size: 12px !important;
	}
	#footer .grey .copyright {
		display: table;   /* Allow the centering to work */
		margin: 0 auto;

	}
	#footer .grey .copyright ul {
	    list-style: outside none none;
	    margin: 0 auto;
	    padding-top: 10px;
	    text-align: center;
	    font-size: 12px;
	    width: 100%;
	    float: none;
	}
	#footer ul li {
		float: none;
		display: inline;
	}

	#footer p {
	    font-size: 12px;
	    margin: 0;
	    padding-top: 0px;
	    text-align: center;
	}

 }

/*GUS*/

.social_icons ul li img {
    margin-left: 4px;
    height: 25px;
	width:auto;
}

#content.row.layout1 .column.left h1 {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    clear: both;
    color: #E53741;
    font-size: 210%;
    font-weight: normal;
    padding: 20px 0 10px 0;
    letter-spacing: 0.04%;
}

.what_we_do h2,.what_we_do h2 a {
    margin: 20px 0 10px 0;
    font-size: 23px;
    font-weight: normal;
    color: #E53741;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

div.block.what_we_do ul {
    margin-top: 10px;
    border: solid 1px #FF6666;
}

div.block.what_we_do ul li {
    display: block;
    float: left;
    max-width: 214px;
    width: 22.2%;
    background: #F3F3F3;
    margin: 11px 5px 5px 5px;
    padding: 8px;
    height: 230px;
    position: relative;
}

/*footer*/

#footer .grey .rights {
    padding: 0px;
}

.footer-company-logo {
    float: left;

    margin-top: 22px;
}

#footer .grey .copyright {
    color: #666;
    font-size: 12px;
    display: block;
    letter-spacing: 0.03em;
    padding: 0px;
    float: left;
}

#footer p {
    padding-top: 42px;
    margin: 0;
}