/*
Theme Name: Appco Group
Description: Custom blog template for Appco Group
Version: 1.0.0
Author: Click Consult
Tags: 
*/

* { margin: 0; padding 0; }
a { text-decoration: underline; }
blockquote {margin: 10px;}
p {margin: 5px 0}
a:hover { text-decoration: underline; }
ul { list-style: none; padding: 0; margin: 0; }
img { border-style: none; }

body {
 text-align: left;
 font: 12px 'Lucinda Grande', Verdana, Arial, Sans-Serif;
 background: #FFF;
 color: #333;
}
	


#calendar div { margin: 0 0px 0 0; padding: 0; border: none; }
#search div { margin: 0; padding: 0; border: none; }
#searchform div {border: none;}
.widget_text div { padding: 0; border: none; }
.storycontent { padding: 0px 0; }
.feedback { padding: 0 0 0px 0; }


/* Text below story title (Author, tags, category) */
.meta{
	font-size: 9px;
}

/* Comments */

.feedback{
	
}

textarea {
 width: 300px;
 height: 100px;
 padding: 2px 2px;
 margin: 10px 0;
}






/* required by Wordpres */

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}


.wp-left{
	width: 100%;
	max-width: 605px;
	float: left;
}

.wp-right{
	width: 300px;
	margin-left: 45px;
	margin-top: 15px;
	float: left;
}

.wp-right h3{
	margin-top: 16px;
}

.wp-right li{
	padding-top: 3px;
	padding-bottom: 3px;
}


.storytitle, .storytitle-single{
	margin-top: 0px;
	margin-bottom: 5px;
}

.storytitle a{
	font-size: 18px;
	color: #d22a2a;
}

.storytitle-single{
	margin-top: 10px;
	margin-bottom: 10px;
}

.storytitle-single{
	color: #d22a2a;
	font-size: 18px;
}

.blogback{
	text-decoration: none;
}

.meta{
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 3px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #777;
	margin-top: 5px;
	margin-bottom: 15px;
}

.storycontent, .storycontent-single{
	margin-top: 5px;
	text-align: justify;
}

.storycontent-single p{
	
	margin-bottom: 1.5em;
}

.readmore{
	width: 80px;
	height: 20px;
	line-height: 20px;
	background: #d22a2a;
	padding: 3px;
	text-align: center;
}

.readmore a{
	display: block;
	color: #FFF;
	text-decoration: none;
}

.readmore a:hover{
	color: #FFF;
	text-decoration: underline;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 0px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 0px 0px;
	margin: 0;
}


