@body-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
@body-font-size: 15px;

@title-font: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

@background-color: #FFFFFF;
@transparent-black: rgba(0,0,0,0.70);
@grey-background: #f3f3f3;
@light-grey-background: #f9f9f9;
@black: #000000;
@blue: #00bbff;
@light-blue: #50d0ff;
@green: #45b29d;
@orange: #ff5400;
@grey: #666666;
@dark-grey: #2c2c2c;
@light-grey: #969696;
@white: #eaeaea;

/* Variables < 992px */
@mobile-navbar-height: 80px;

/* Variables > 992px */
@carousel-height: 890px;
@cobra-intro-height: 890px;
@outer-wrapper-width: 1366px;
@container-width: 960px;
@header-height: 135px;
@footer-height: 224px;

html{
	height: 100%;
	position: relative;
}

body {
	color: @grey;
	font-family: @body-font;
	font-size: @body-font-size;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .navbar{
	font-family: @title-font;
}

h1{
	font-size: 25px;
}

a{
	color: @blue;
	text-decoration: none;
}
a:hover{
	color: @light-blue;
	text-decoration: none;
}

.btn-info{
	border-radius: 0px;
	font-family: @title-font;
	font-size: @body-font-size;
	font-weight: bold;
	padding: 20px 45px;
	background: @blue;
	border: none;
}
.btn-info:hover{
	background: @blue;
	border: none;
}

.img-thumbnail{
	margin-left: 10px;
	margin-bottom: 10px;
}

.modal {
	padding: 0!important;
	.modal-title{
		span{
			display: block;
			font-style: italic;
			font-size: 0.75em;
		}
	}
	button.close{
		font-size: 24px;
		opacity: 0.5;
	}
}

.pagination{
	font-family: @title-font;
	li{
		a{
			background: @grey-background;
			color: @grey;
			border: none;
			margin: 0px 4px;
			border-radius: 0px;
		}
		a:hover{
			background: @blue;
			color: @white;
		}
	}
	li:first-child, li:last-child{
		a{
			border-radius: 0px;
		}
	}
	li.active{
		a{
			background: @blue;
			color: @white;
		}
		a:hover{
			background: @blue;
			border: none;
		}
	}
}

/**
 Tablet & mobile fix
 */
.container{
	width: 100%;
}

.navbar{
	>.container{
		.navbar-toggle{
			margin: 23px 20px 0px 0px;
			border: 1px solid #DEDEDE;
			border-radius: 0px;
		}
		.navbar-brand{
			height: @mobile-navbar-height;
			margin-left: 0px;
			padding: 10px 15px;
			img{
				height: 100%;
			}
		}
	}
	.navbar-right{
		>li{
			>a{
				text-decoration: none;
				line-height: 50px;
			}
			>a:hover{
				color:@blue;
				background: none;
			}
		}
	}
}

.cobra-intro{
	padding-top: @mobile-navbar-height;
	.col{
		padding: 0px;
		.cobra-logo-item-mobile{
			img{
				padding: 20px 0px;
			}
		}
	}
	.row.cobra-logos-title{
		.col{
			h2{
				font-size: 16px;
				font-weight: bold;
				padding-left: 10px;
			}				
		}
	}
}
.cobra-logo-item-mclaren-gt{background-color: #373737;}
.cobra-logo-item-wine-talk{background-color: #a1be00;}
.cobra-logo-item-appco-group{background-color: #ee283b;}
.cobra-logo-item-cobra-technology{background-color: #2a3766;}
.cobra-logo-item-amtrust-mobile-solutions{background-color: #0361b7;}
.cobra-logo-item-sg-global-support-services{background-color: #898989;}
.cobra-logo-item-sales-group-international{background-color: #ee283b;}
.cobra-logo-item-cube-online-services{background-color: #00b0e6;}
.cobra-logo-item-cobra-group-investments{background-color: #2a3766;}
.cobra-logo-item-crs-racing{background-color: #110709;}
.cobra-logo-item-comparison-experts{background-color: #ff7b33;}
.cobra-logo-item-global-fundraising-services{background-color: #00b4cf;}

.cobra-intro-wrapper.is_inner{
	.cobra-intro{
		padding-top: 0px;
	}
}

.home-cobra-news{
	background: url(../../img/cobra2016/line-pattern.gif) repeat;
	.col-header{
		padding: 0;
		h3{
			margin: 10px auto;
			color: @light-grey;
			font-size: 32px;
			font-weight: bold;
			span{
				font-weight: normal;
				font-style: italic;
			}
		}
	}
	.col-news-item{
		margin: 0px 0px 10px 0px;
		padding: 0px;
		background: @background-color;
		border-bottom: 5px solid @green;
		.news-image{
			width: 100%;
		}
		.news-text{
			padding: 20px;
		}
		.news-date{
			color: @green;
			font-weight: bold;
			font-size: @body-font-size;
			span{
				font-weight: normal;
				font-style: italic;
			}
		}
		h2{
			color: @grey;
			font-size: @body-font-size;
			line-height: 18px;
			font-weight: bold;
			margin: 12px 0px 12px 0px;
		}
		.news-excerpt{
			color: @grey;
			font-size: 14px;
		}
	}
	.col-news-item-blog{
		background-color: @dark-grey;
		border-bottom: 5px solid @orange;
		.blog-label{
			position: absolute;
			left: 15px;
			top: 15px;
		}
		.news-date{
			color: @orange;
		}
		h2{
			color: @white;
		}
		.news-excerpt{
			color: @white;
		}
	}
}

.home-contact-us{
	.col{
		background: @grey;
		padding: 0px 0px 18px 0px;
		h2{
			background: @black;
			color: @white;
			margin: 0px;
			padding: 18px;
			img{
				position: absolute;
				right: 14px;
				top: 24px;
			}
			span{
				font-weight:normal;
			}
		}
		p{
			color: @white;
			padding: 12px 12px 0px 18px;
			font-size: @body-font-size;
			margin: 0px;
			a:hover{
				color: @white;
			}
		}
	}
}

.cobra-description{
	.col{
		padding-right: 0px;
		padding-left: 0px;
	}
	.cobra-history{
		background: @dark-grey;
		color: @white;
		padding: 16px 24px 8px 24px;
		a, span{
			color: @blue;
		}
		div.intro, div>div:first-child{
			font-size: 18px;
			padding-bottom: 10px;
		}
		h1{
			display: inline;
			font-size: 20px;
			font-weight: bold;
			margin: 0px;
			padding: 0px;
		}
		h3{
			display: inline;
			font-size: 20px;
			margin: 0px;
			padding: 0px;
		}
		p{
			padding: 12px 0px 0px 0px;
			margin: 0px;
		}
	}
	.horizontal-coloured-bar{
		margin: 0px;
		padding: 0px;
		height: 5px;
		line-height: 5px;
		img{
			vertical-align: top;
			width: 100%;
		}
	}
}

.cobra-about{
	padding: @mobile-navbar-height 24px 8px 24px;
	background: @dark-grey;
	color: @white;
	.row{
		padding-top: 20px;
		padding-bottom: 10px;
		.col{
			padding: 0px 10px;
			ul{
				padding-left: 20px;
			}
			h2{
				font-family: @body-font;
				font-size: @body-font-size;
				font-weight: bold;
				margin: 0px;
				padding: 0px;
				display: inline;
			}
			h4{
				line-height: 1.3;
				margin-top: 0px;
			}
		}
	}
}

.cobra-foundation{
	.col{
		padding: 10px;
		margin: 0px auto 0px auto;
		.foundation-description{
			background: url(../../img/cobra2016/coloured-bar-vertical.png) repeat-y 0px 0px;
			padding: 20px 34px;
			line-height: 22px;
			h1{
				margin: 0px 0px 12px 0px;
				padding: 0px;
			}
			h2{
				font-family: @body-font;
				font-size: @body-font-size;
				font-weight: normal;
				margin: 0px;
				padding: 0px;
				display: inline;
			}
		}
	}
}

.cobra-news{
	padding-top: @mobile-navbar-height;
	h1, h2{
		margin: 20px 0px;
		font-size: 22px;
		span{
			font-weight: bold;
		}
	}
	.news-item{
		.news-image{
			padding: 0px;
			img{
				width: 100%;
			}
		}
		.news-summary{
			background: @background-color;
			border-bottom: 5px solid @green;
			padding-left: 15px;
			h2{
				margin: 0px 0px 10px 0px;
				padding: 0px;
				color: @grey;
				font-size: 16px;
				font-weight: bold;
			}
		}
		.news-date{
			color: @green;
			font-size: 16px;
			font-weight: bold;
			padding: 10px 0px;
			margin: 0px;
		}
		a{
			color: @grey;
		}
		.read-more{
			color: @blue;
		}
	}
	.news-single{
		.col{
			background: @background-color;
			padding-left: 0px;
		}
		h1{
			font-size: 16px;
			font-weight: bold;
			margin: 0px 0px 10px 0px;
			padding: 0px;
		}
		h2{
			font-size: @body-font-size;
			font-weight: bold;
			margin: 20px 0px 10px 0px;
			padding: 0px;
		}
		img{
			width: 100%;
		}
		.news-content{
			padding: 10px 15px;
			border-bottom: 5px solid @green;
		}
		.news-button{
			padding: 30px 15px;
		}
	}
}

.company-details{
	padding-top: @mobile-navbar-height;
	h1, h2{
		font-size: 24px;
		span{
			font-weight: bold;
		}
	}
	.company-logo{
		width: 100%;
		height: 100px;
		overflow: hidden;
		background-position-x: center;
		background-position-y: -30px;
		background-repeat: no-repeat;
		background-color: @transparent-black;
	}
	.company-description{
		img{
			margin: 0 auto;
		}
		p{
			padding: 14px 0px 0px 0px;
			margin: 0px;
		}
	}
	.back-button{
		margin: 20px 0px;
	}
}

.company-details-wrapper-sg-global-support-services{
	.company-details{
		.company-logo{
			height: 128px;
			background-position-y: -10px;
			background-repeat: no-repeat;
		}
	}
}

.directors{
	padding-top: @mobile-navbar-height;
	h1{
		margin: 20px 0px;
		font-size: 22px;
		span{
			font-weight: bold;
		}
	}
	.container{
		.row{
			.col{
				.director-photo{
					padding-right: 0px;
					img{
						width: 100%;
					}
				}
				.director-info{
					padding: 0px;
					background: @background-color;
					h2{
						font-size: @body-font-size;
						color: @blue;
						font-weight: bold;
						margin: 0px 0px 2px 0px;
						padding: 0px;
					}
					h3{
						font-size: @body-font-size;
						color: @grey;
						font-weight: bold;
						margin: 0px 0px 14px 0px;
						padding: 0px;
					}
					.summary{
						font-size: 12px;
						overflow: hidden;
					}
					.read-more{
						color: @blue;
					}
				}
			}
			.director-item{
				margin-bottom: 20px;
				cursor: pointer;
			}
		}
	}
}

.contact-us{
	padding-top: @mobile-navbar-height;
	.col{
		padding: 0px;
	}
	.contact-map{
		iframe{
			width:100%;
			display: block;
			padding: 0px;
			margin: 0px;
		}
		img{
			width: 100%;
		}
	}
	.contact-info{
		background: @grey;
		padding: 0px 0px 18px 0px;
		h2{
			background: @black;
			color: @white;
			margin: 0px;
			padding: 18px;
			span{
				font-weight:normal;
			}
		}
		p{
			color: @white;
			padding: 12px 12px 0px 18px;
			font-size: @body-font-size;
			margin: 0px;
			a:hover{
				color: @white;
			}
		}
	}
}

.mobile-footer-social{
	background: @dark-grey;
	color: @white;
	padding: 20px 0px 24px 0px;
	h4{
		display: inline-block;
		height: 35px;
		line-height: 35px;
		vertical-align: middle;
		font-size: 18px;
		padding-right: 4px;
		margin: 0px;
	}
	img{
		padding: 0px 2px;
	}
}

.mobile-footer-cobra-group-logo{
	background: @black;
	padding: 24px;
	img{
		height: 64px;
	}
}

@media (min-width: 992px) { // Boostrap's "md" classes standart layout width

	/** Additional bootstrap fixes */
	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
	.col-border-right{	
		border-right: 1px solid @grey;
		margin-right: -1px;
	}
	/** /Additional bootstrap fixes */

	.container{
		width: @container-width;
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar{
		>.container{
			.navbar-brand{
				height: 135px;
				padding: 27px 0px;
				margin-left: 0px;
			}
		}
		.navbar-right{
			>li{
				>a{
					padding: 43px 15px 42px 15px;
					font-size:@body-font-size;
					font-weight:600;
					color: @white;
					letter-spacing: -0.01em;
				}
			}
			>li.active{
				>a{
					color: @blue;
					background: none;
				}
				>a:hover{
					color: @blue;
					background: none;
				}
			}
		}
	}

	.navbar-inverse{
		background: rgba(0,0,0,0.65);
		border: none;
	}

	.cobra-intro{
		padding-top: 0px;
		padding-bottom: 10px;
		.row{
			padding-top: 10px;
			.col{
				padding: 0px 10px;
				h2{
					font-weight: bold;
					font-size: 24px;
					margin: 0px;
					span{
						font-weight: normal;
					}
				}
				.cobra-logo-item{
					width: 228px;
					text-align: center;
					img{
						vertical-align: middle;
						display: inline-block;
					}
					img.blue-corner{
						position: absolute;
						right: 9px;
						bottom: 9px;
					}
				}
				.cobra-logo-item:hover{
					background: @transparent-black;
					img{
						opacity: 0.9;
					}
				}
			}
		}
		.row.cobra-logos-title{
			padding-top: 0px;
			.col{
				padding-top: 0px;
				h2{
					font-size: 24px;
				}
			}
		}
	}
	
	.cobra-intro-wrapper.is_home{
		width: 100%;
		background: url(../../img/cobra2016/header-background-about.jpg) no-repeat center top;
		background-size: @outer-wrapper-width;
		.cobra-intro{
			padding-top: @header-height;
			.row{
				.col{
					padding: 10px;
					.cobra-logo-item{
						line-height: 228px;
						background: @transparent-black;
						img{
							height: auto;
						}
					}					
				}
			}
		}
	}
	
	.cobra-intro-wrapper.cobra-intro-about{
		background: url(../../img/cobra2016/header-background-about-v2.jpg) no-repeat center top;
	}
	
	.company-details-wrapper{
		width: 100%;
		.company-details-background{
			position: absolute;
			width: @outer-wrapper-width;
			margin: 0 auto;
			left: 0px;
			right: 0px;
			overflow: hidden;
			text-align: center;
			opacity: 0.6;
			img{
				min-height: 720px;
				width: 100%;
			}
		}
	}

	.cobra-about{
		padding-top: @header-height;
		background: none;
		.row{
			padding-top: 10px;
			.col{
				margin: 10px;
				background: @transparent-black;
				color: @white;
				padding: 34px 34px 20px 34px;
				line-height: 22px;
			}
		}
	}

	.cobra-description{
		margin: 10px auto;
		.col{
			padding: 10px;
		}
		.cobra-history{
			padding: 34px 34px 24px 34px;
		}
		.cobra-branches{
			padding: 34px 0px 0px 70px;
			h2{
				color: @grey;
				font-size: 22px;
				font-weight: bold;
				margin: 0px;
				padding: 10px 0px;
				span{
					font-weight: normal;
					font-style: italic;
				}
			}
		}
	}
	
	.cobra-foundation{
		.col{
			margin: 0px auto 20px auto;
		}
	}

	.home-cobra-news{
		width: 100%;
		margin: 0 auto;
		padding-bottom: 20px;
		.col{
			padding: 0 10px;
		}
		.col-header{
			padding: 0;
			h3{
				color: @background-color;
				font-size: 95px;
				line-height: 64px;
				margin: 0px 0px 24px 0px;
				padding: 0px;
			}
		}
		.col-news-item{
			margin: 0px 10px 20px 10px;
			padding: 0px;
		}
	}

	.home-contact-us{
		position: relative;
		#googlemaps{
			position: absolute;
			height: 305px;
			width: 100%;
			z-index: 0;
		}
		width: 100%;
		height: 305px;
		margin: 0 auto;
		background: url(../../img/cobra2016/contact-us-bg.jpg) no-repeat center -50px;
		background-size: 100%;
		.col{
			z-index: 1;
			background: @transparent-black;
			padding: 0px 0px 18px 0px;
			margin: 36px 10px;
			h2{
				margin: 0px;
				padding: 18px 24px;
				font-size: 24px;
				font-weight: bold;
			}
			p{
				line-height: 18px;
				padding: 12px 12px 0px 24px;
			}
		}
	}

	.company-details{
		padding-top: @header-height;
		padding-bottom: 40px;
		.col{
			margin-left: 10px;
			margin-right: 10px;
			padding: 0px;
		}
		h1, h2{
			margin: 34px 0px;
			font-size: 30px;
		}
		.company-logo{
			background-color: transparent;
			background-position-y: -20px;
			margin-bottom: 0px;
		}
		.company-description{
			background: @transparent-black;
			color: @white;
			padding-bottom: 34px;
			img{
				padding: 0px;
				margin: 0px 0px 0px 0px;
			}
			p{
				padding: 14px 34px 0px 34px;
				margin: 0px;
			}
			ul{
				padding: 14px 20px 0px 54px;
				margin: 0px;
			}
		}
		.company-description-right-col{
			padding-top: 20px;
		}
		.company-stats{
			margin-bottom: 20px;
			background: @light-grey-background;
			color: @grey;
			padding: 20px;
			p{
				padding: 0px;
				margin: 0px;
			}
			.glyphicon{
				font-size: 36px;
				font-weight: normal;
				line-height: 60px;
				vertical-align: middle;
				color: @blue;
			}
		}
	}

	.cobra-news-bg{
		background: url(../../img/cobra2016/news-bg.jpg) no-repeat center top;
		width: 100%;
		min-height: 900px;
		position: absolute;
	}
	.cobra-news{
		padding-top: @header-height;
		padding-bottom: 20px;
		min-height: 910px;
		h1, h2{
			margin: 34px 0px;
			font-size: 30px;
			color: @grey;
		}
		.news-item{
			margin-bottom: 20px;
			margin-left: 0px;
			margin-right: -10px;
			.news-image{
				padding-right: 0px;
			}
			.news-summary{
				margin-right: 10px;
				padding-left: 20px;
			}
			.news-date{
				padding: 20px 0px 10px 0px;
			}
		}
		.news-single{
			margin-right: 15px;
			margin-left: -15px;
			.col{
				margin-left: 15px;
			}
			.news-content{
				padding: 10px 30px;
				h1, h2{
					color: @grey;
				}
			}
			.news-button{
				padding: 30px 0px;
			}
		}
	}

	.directors{
		padding-top: @header-height;
		background: url(../../img/cobra2016/directors-bg.jpg) repeat center top;
		width: 100%;
		.container{
			>.row{
				// margin-bottom: 20px;
				>.col{
					padding-left: 10px;
					padding-right: 10px;
					margin-left: 0px;
					margin-right: 0px;
					.director-photo{
						padding: 0px 15px;
						img{
							width: 100%;
						}
					}
					img{
						width: 100%;
					}
					.director-info{
						padding: 14px;
						.summary{
							height: 150px;
							padding-bottom: 14px;
						}
						.read-more{
							position: absolute;
							bottom: 0px;
						}
					}
				}
				.director-item{
					margin-bottom: 20px;
					cursor: pointer;
					a{
						color: @dark-grey;
					}
				}
			}
			h1{
				margin: 34px 0px;
				font-size: 30px;
				span{
					font-weight: bold;
				}
			}
		}
	}

	.contact-us{
		padding-top: @header-height;
		min-height: 85%;
		background-image: url(../../img/cobra2016/contact-us-bg.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
		.row{
			padding: 20px 0px;
			.col{
				padding: 0 10px;
			}
			.contact-info{
				background: @transparent-black;
				padding: 0px 0px 18px 0px;
				margin: 0px 10px;
				h2{
					margin: 0px;
					padding: 18px 24px;
					font-size: 24px;
					font-weight: bold;
				}
				p{
					line-height: 24px;
					padding: 12px 12px 0px 24px;
				}
				p.address{
					min-height: 120px;
				}
			}
		}
	}

	.footer{
		background-color: @dark-grey;
		color: @white;
		width: 100%;
		height: @footer-height;
		p{
			padding-left: 20px;
			font-size: 12px;
		}
		h4{
			padding-left: 20px;
			font-size: 15px;
			font-weight: bold;
		}
		.col{
			margin: 40px 0px;
			padding: 0px 10px;
		}
		.cobra-group-logo{
			border-right: 1px solid @grey;
			margin-right: -1px;
			img{
				width: auto;
				margin: 18px 0;
			}
		}
		.footer-menu{
			border-right: 1px solid @grey;
			margin-right: -1px;
			ul{
				list-style: none;
				margin: 0px 0px 0px 60px;
				padding: 0px;
				li{
					a{
						color: @white;
						text-decoration: none;
					}
					a:hover{
						color: @blue;
					}
					h5{
						font-size: 15px;
						font-weight: bold;
					}
				}
			}
		}
		.footer-contact{
			a:hover{
				color: @white;
			}
		}
		.footer-social{
			padding-left: 40px;
		}
	}

	.footer-address{
		font-size: 12px;
		background: @black;
		color: @white;
		p{
			margin: 0px;
			padding: 6px 0px;
		}
	}

}
