/* sizes smaller than iphone 4 */
/* Smartphones (portrait) ----------- */
@media screen and (min-width: 212px) and (max-width: 319px) {
  body {
    width: 100%;
    background: none repeat scroll 0 0 #ffffff;
  }
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 7px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
    clear: both;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 212px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 10px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 10px;
  }
  #content.row.layout1 .column .expertise ul li {
    width: 212px;
    min-width: 212px;
  }
  div.thumb {
    display: none;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 90%;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 90%;
  }
  .no-link-style img {
    width: 212px;
  }
  div.block.what_we_do ul li a img {
    width: 100%;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 212px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  .social_icons {
    display: none;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 39px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
  }
  nav .home {
    border-top: 1px solid #fff;
  }
  nav li,
  nav .home {
    background: #e53741 none repeat scroll 0 0;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    border-bottom: 1px solid #fff;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
  }
  #pull {
    height: 30px;
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
  }
  .nav li.home a,
  .nav li.home a:hover {
    background: none;
    height: auto;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    color: #cccccc;
  }
  #pull:focus {
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav a:hover,
  a:focus {
    background: #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 82%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 212px;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise ul li {
    width: 200px;
  }
  div.thumb {
    display: none;
  }
  #content.row.layout2 .column.right {
    width: 212px;
  }
  #content.row.layout4 .column.right {
    width: 212px;
    margin: 0;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 192px !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 192px !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    clear: both;
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 10px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 200px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 210px;
  }
  .appco-worldwide .filters select {
    width: 200px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 10px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: uto;
    width: 200px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 10px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 10px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
}
@media screen and (max-width: 900px) {
  #footer .grey .copyright {
    width: 100%;
  }
  .footer-company-logo {
    float: left;
    padding: 0 0 0 20px;
  }
  .footer-company-links {
    float: right !important;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
  }
  #footer .grey .rights {
    clear: both;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
}
/* Smartphones (portrait) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 100%;
    background: none repeat scroll 0 0 #ffffff;
  }
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 7px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .social_icons ul {
    margin-top: -40px;
  }
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
    clear: both;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 320px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  .what_we_do h2,
  .what_we_do h2 a {
    color: #E53741;
    border-bottom: 3px solid #E53741;
    margin: 10px 0 20px 0;
    padding-top: 0px;
  }
  div.block.what_we_do ul li {
    width: 90%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 39px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
  }
  nav .home {
    border-top: 1px solid #fff;
  }
  nav li,
  nav .home {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    border-bottom: 1px solid #fff;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
  }
  #pull {
    height: 30px;
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
  }
  .nav li.home a,
  .nav li.home a:hover {
    background: none;
    height: auto;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    color: #cccccc;
  }
  #pull:focus {
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav a:hover,
  a:focus {
    background: #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 82%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  .footer-company-logo {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .footer-company-links {
    padding: 20px 0 0;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 292px !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 292px !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    clear: both;
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    min-width: 100%;
    height: auto !important;
    margin: 10px 0 !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .clientes,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .clientes #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .clientes #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .clientes .content img,
  .klienter .content img,
  .clients .content img,
  .clientes .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
  #footer .grey .rights {
    padding: 0;
  }
  #footer .right {
    padding: 0;
    float: left;
  }
  #footer p {
    padding-top: 20px;
  }
  #content.row.layout1 .column.center {
    margin: 0;
  }
}
/* sizes between iphone 4 andiphone 6+ */
@media screen and (min-width: 481px) and (max-width: 900px) {
  body {
    width: 100%;
    background: none repeat scroll 0 0 #ffffff;
  }
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 7px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
    clear: both;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 414px;
    margin: 0;
    width: 100%;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 20% !important;
  }
  div.block.what_we_do ul li a img {
    width: 80%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  /**********Nav************/
  nav {
    clear: both;
    height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
    background: #e53741 none repeat scroll 0 0;
    display: table;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
    background: none repeat scroll 0 0 #e53741;
  }
  nav .home {
    border-top: 1px solid #fff;
  }
  nav li,
  nav .home {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    border-bottom: 1px solid #fff;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
  }
  #pull {
    height: 30px;
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
  }
  .nav li.home a,
  .nav li.home a:hover {
    background: none;
    height: auto;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    color: #cccccc;
  }
  #pull:focus {
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav a:hover,
  a:focus {
    background: #b50607;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 90%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .left img {
    min-width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    display: none;
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 12px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    clear: both;
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #f3f3f3;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
}
/* iPhone 6 =----------- */
@media screen and (min-width: 736px) and (max-device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  #footer .grey .copyright ul {
    width: 100%;
  }
  body {
    width: 100%;
    background: none repeat scroll 0 0 #ffffff;
  }
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 7px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 414px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 100%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 22%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
  }
  nav li,
  nav .home {
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
    border-bottom: 1px solid #fff;
  }
  #pull {
    height: 30px;
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
  }
  li.home a,
  li.home a:hover {
    background: #e53741;
  }
  nav a:hover,
  a:focus,
  #pull:focus {
    background: #cccccc;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 90%;
    width: 29%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /************Submenu****************/
  /*
  	#pulldown {
  	    line-height: 34px;
  	    width: 26%;
  	}
  */
  div#content.row div.column.menu h2 {
    background: none repeat scroll 0 0 #ff6633;
    padding: 0 0 4px 10px;
  }
  #content.row .column.menu,
  nav {
    border-bottom: 0;
  }
  #content.row .column.menu ul,
  nav ul {
    display: none;
    height: auto;
    min-width: 100%;
  }
  nav a#pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 320px;
    width: 100%;
  }
  #content.row .column.menu a#pulldown:after {
    content: "";
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #ff6633;
    float: right;
    width: 26%;
    height: 30px;
    display: inline-block;
    position: relative;
    right: 14px;
    top: 5px;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .left img {
    min-width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    clear: both;
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #f3f3f3;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
}
/* 768 ipad =----------- */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2) {
  body {
    width: 768px;
    background: none repeat scroll 0 0 #ffffff;
  }
  .mobile-nav {
    background-color: #e53741;
    display: block;
    padding-bottom: 7px;
  }
  .home a {
    font-size: 14px !important;
  }
  /* Clearfix */
  .mobile-clearfix:before,
  .mobile-clearfix:after {
    content: " ";
    display: table;
  }
  .mobile-clearfix:after {
    clear: both;
  }
  .mobile-clearfix {
    *zoom: 1;
  }
  #pull {
    display: block;
  }
  div#container,
  #content.row {
    min-width: 414px;
    margin: 0;
  }
  /***********Homepage***********/
  #content.row.layout1 .column.left p {
    font-size: 125%;
  }
  #content.row.layout1 .column.left {
    width: 90%;
    padding: 0 16px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #content.row .column {
    width: 100%;
    float: left;
  }
  #content.row.layout1 .column.right,
  #content.row.layout1 .column.center .expertise {
    width: 90%;
    margin: 0;
    padding: 0 16px;
  }
  #content.row.layout1 .column .expertise ul li {
    min-width: 266px;
  }
  #content.row .column .expertise div.description {
    width: 100%;
  }
  #content.row .column .expertise div.description .text {
    width: 154px;
  }
  div.block.what_we_do {
    width: 90%;
    margin: 0 auto;
  }
  div.block.what_we_do ul li {
    width: 90%;
  }
  .no-link-style img {
    width: 255px;
  }
  /**********logo***********/
  #header .logo-container {
    min-width: 320px;
    width: 100%;
    float: left;
    height: 80px;
    top: 20px;
  }
  .news #content.row.layout4 .column.content h1 {
    padding: 0 0 10px;
  }
  /**********Nav************/
  nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  nav ul {
    margin: 0;
    width: 100% !important;
  }
  nav li,
  nav .home {
    float: left;
    width: 100%;
    background: none repeat scroll 0 0 #e53741;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
  }
  nav a,
  .home a,
  #pull {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.056em;
    line-height: 30px;
    padding: 1% 2.6%;
    text-decoration: none;
    background: #e53741;
    border-bottom: 1px solid #fff;
  }
  #pull {
    height: 30px;
    width: 26%;
    float: right;
    background: url("/img/appco/nav-icon.png") no-repeat scroll center center #e53741;
  }
  li.home a,
  li.home a:hover {
    background: #e53741;
  }
  nav a:hover,
  a:focus,
  #pull:focus {
    background: #cccccc;
    color: #e53741;
    text-decoration: none;
  }
  nav li a.active {
    background: #b50607;
    text-decoration: none;
  }
  .static-menu {
    float: left;
    font-size: 90%;
    width: 29%;
  }
  nav a#pull:after {
    content: "";
    display: inline-block;
    float: right;
    padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
  }
  /**********Content*****************/
  #content.row .content div {
    padding: 0 5px;
  }
  #banner {
    width: 100%;
  }
  #banner .left {
    height: auto;
    width: 100%;
  }
  #banner .left img {
    min-width: 100%;
  }
  #banner .right {
    display: none;
  }
  .outter {
    min-width: 100%;
  }
  #content.row .column.menu {
    margin: 0;
    padding: 0;
    min-width: 100%;
  }
  #content.row .column.menu ul {
    margin: 0;
  }
  #content.row.layout2 .column.content {
    clear: both;
    margin: 0;
    float: left;
    min-width: 100%;
    width: 100%;
  }
  #content.row.layout2 .column.right {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .expertise {
    margin: 0 auto;
  }
  .expertise h2 {
    padding: 0 10px;
  }
  #content.row .column .expertise div.description {
    width: 146px;
  }
  .column.right .expertise .description .text h3 {
    padding-bottom: 5px;
  }
  #content.row .column .expertise div.description .text {
    height: 100px;
  }
  #content.row .column .expertise div.description .text p {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
  }
  .copyright {
    min-width: 100%;
  }
  .copyright ul,
  .expertise ul {
    margin: 0;
  }
  .cobra-company {
    text-align: center;
  }
  /**********footer*****************/
  #footer .grey .copyright ul {
    font-size: 16px;
    width: 90%;
  }
  #footer li {
    padding-bottom: 5px;
  }
  #footer li a {
    text-decoration: none;
  }
  .logos {
    float: left;
  }
  .logos ul {
    padding-left: 30px;
  }
  #footer .right {
    margin-top: 34px;
  }
  .rights ul {
    padding: 10px 60px 0;
  }
  #footer ul {
    float: left;
  }
  #footer .outter {
    width: 100% !important;
  }
  #footer .rights {
    clear: both;
    float: left !important;
    min-width: 100%;
  }
  /*******Our People************/
  #content.row.layout3 .column.content {
    margin: 0;
    width: 100%;
  }
  #content.row.layout3 div.keyplayer,
  .person .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  .keyplayer .description {
    float: left;
    display: block;
    width: 70% !important;
    overflow: auto;
  }
  /*********what we do *********/
  #content.row .content div h3 {
    padding: 0;
    margin: 0;
  }
  #content.row .content div h3 img {
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div h3 br {
    display: none;
  }
  #content.row .content div p {
    margin: 0;
    padding: 0;
  }
  #content.row .content div p img {
    clear: both;
    min-width: 20%;
    height: auto !important;
    margin: 10px 20px !important;
  }
  #content.row .content div p br {
    display: none;
  }
  /******* News ************/
  .news nav {
    width: 100%;
  }
  .news nav {
    background: none repeat scroll 0 0 #e53741;
    clear: both;
    height: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .news nav ul {
    margin: 0;
  }
  .news nav li,
  .news nav .home {
    background: none repeat scroll 0 0 #f3f3f3;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
    display: block;
    clear: left;
    float: none;
    padding: 0;
  }
  .news {
    min-width: 100%;
  }
  .news #banner {
    display: none;
  }
  .news #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .news #content.row.layout4 .column.content h1 {
    font-size: 200%;
    width: 90%;
  }
  .news #content.row.layout4 .column.content .article {
    margin: 0;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .article .arrow-read {
    position: inherit;
    bottom: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0 16px;
    width: 90%;
    height: 100%;
  }
  .news #content.row.layout4 .column.content .description h2 {
    width: 100%;
  }
  .news #content.row.layout4 .column.content .image,
  .news .news-image {
    width: 288px;
    height: auto;
    text-align: center;
  }
  .news #content.row .content div {
    margin-bottom: 20px;
    padding: 0;
  }
  .news #content.row.layout4 .column.content .description {
    padding: 0;
    width: 100%;
  }
  .news #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0 auto;
    text-align: center;
  }
  /******** appco-worldwide *********/
  .filters,
  #Allregions,
  #Europe,
  #Asia,
  #Americas,
  #Australasia {
    display: none;
  }
  .mobile {
    display: block;
  }
  #content.row.layout4 .column.content {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .appco-worldwide {
    min-width: 100%;
  }
  .appco-worldwide h1 {
    padding: 20px 10px;
  }
  .appco-worldwide #content.row .content div p br {
    display: block;
  }
  .appco-worldwide #content.row.layout4 .column.content {
    min-width: 100%;
  }
  .appco-worldwide .filters .left,
  .appco-worldwide .filters .right {
    width: 310px;
  }
  .appco-worldwide .filters select {
    width: 250px;
  }
  .appco-worldwide #countries_filter table {
    width: 100% !important;
  }
  .appco-worldwide #countries_filter table tr td {
    margin-top: 20px;
    width: 100%;
  }
  /*************Contact us*******************/
  .contact-us #content.row.layout4 .column.content {
    width: 90%;
    padding: 0 16px;
  }
  .contact-us #content.row .content div {
    padding: 0;
  }
  .contact-us .google-maps {
    position: relative;
    padding-bottom: 5%;
    height: 280px;
    width: 290px;
    overflow: hidden;
  }
  .contact-us .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .contact-us #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  /**********Clients****************/
  .clients,
  .klienter {
    min-width: 100%;
  }
  .clients #content.row.layout4 .column.content,
  .klienter #content.row.layout4 .column.content,
  .clients #content.row.layout4 .column.right,
  .klienter #content.row.layout4 .column.right {
    width: 90%;
    padding: 0 16px;
    margin: 0;
  }
  .clients .content img,
  .klienter .content img,
  .clients .content img,
  .klienter .content img {
    padding: 15px 30px 15px 0;
  }
}
.paragraph-home h1 {
  font-size: 198% !important;
}
.paragraph-home p {
  font-size: 125% !important;
}
