@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#nav-mobile {
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  border: 0 0 5px;
  height: 62px;
  background: #fff none repeat scroll 0 0;
  opacity: 0.90;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
}
#nav-mobile > ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
}
.mobile-menu {
  height: 62px;
  border-bottom: 5px solid #666;
}
#nav-mobile > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */
}
#nav-mobile > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#nav-mobile > ul li.right {
  float: right;
}
#nav-mobile > ul li.deeper {
  position: relative;
}
#nav-mobile > ul li.deeper:hover ul {
  display: block;
}
#nav-mobile > ul li.deeper ul {
  display: none;
  width: 100%;
  min-width: 230px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#nav-mobile > ul li.deeper ul li {
  display: block;
}
.expertise h2,
.header h2 {
  font-size: 18px;
}
#nav-mobile > ul li.deeper > a {
  color: #000;
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#nav-mobile > ul li.deeper > a.active,
#nav-mobile > ul li.deeper > a:hover {
  background-position: 90% 195%;
}
#nav-mobile > ul li a {
  display: block;
  padding: 26px 12px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
#nav-mobile > ul li a.active,
#nav-mobile > ul li a:hover {
  background: #fd4b58;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}
.hasSubmenu .subdeeper a {
  padding: 0;
}
.hasSubmenu .subdeeper a.active,
.hasSubmenu .subdeeper a:hover {
  width: 100%;
}
.home a {
  background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
  width: 140px;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
.home a.active {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  /* For IE8 and earlier */
}
#pull {
  display: none;
}
@media (max-width: 768px) {
  #nav-mobile {
    position: relative;
    width: 90%;
    margin: 0;
  }
  .home {
    display: none !important;
  }
  #nav-mobile > ul {
    clear: both;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 0;
    width: 90%;
    top: auto;
  }
  #nav-mobile > ul li.deeper:hover ul {
    display: none;
  }
  nav a#pull {
    display: block;
  }
  #pull {
    display: block;
    background: #666 url("/img/appco/nav-icon.png") no-repeat scroll center center;
    float: right;
    height: 20px;
    width: 60px;
    position: relative;
    margin: 0;
    padding: 21px 0;
  }
  #nav-mobile li,
  #nav-mobile .home {
    border-bottom: 1px solid #fff;
    display: block;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    list-style: outside none none;
    margin: 0;
  }
  #nav-mobile > ul li#responsive-tab {
    display: block;
  }
  #nav-mobile > ul li#responsive-tab a {
    background: url('/img/appco/nav-icon.png') no-repeat;
    background-position: 95% -35%;
  }
  #nav-mobile > ul li#responsive-tab a:hover {
    background-color: #fd4b58;
    background-position: 95% 135%;
  }
  #nav-mobile > ul li {
    zoom: 1;
  }
  #nav-mobile > ul li a {
    display: block;
    text-decoration: none;
    color: #747474;
    text-shadow: 0px 1px 0px #fff;
    padding: 10px 0;
    margin: 0;
  }
  #nav-mobile > ul li a.active,
  #nav-mobile > ul li a:hover {
    background: #fd4b58;
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    padding: 10px 0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
  }
  nav a#pull::after {
    content: "";
    display: inline-block;
    float: right;
    position: absolute;
    right: 15px;
    top: 0;
  }
  nav a {
    background: #fff;
    padding: 0;
    margin: 0;
  }
  .close-button {
    display: block;
    background: #666 url("/uploads/redesign/close-menu.png") no-repeat scroll center center;
    float: right;
    height: 20px;
    width: 60px;
    height: 62px;
    position: relative;
    margin: 0;
  }
  .close-button:hover {
    background: #e7e7e7 url("/uploads/redesign/close-menu.png") no-repeat scroll center center;
  }
  /*
  #nav-mobile > ul li {
    display: none;
  }
*/
  /*
#nav-mobile > ul li.deeper ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
*/
  #nav-mobile > ul li.right {
    float: none;
  }
  .home a {
    display: block;
    background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
    width: 140px;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
  }
  .home a.active,
  .home a:hover {
    display: block;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    /* For IE8 and earlier */
  }
  #nav-mobile > ul li.deeper {
    position: relative;
    text-align: center;
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px inset;
    border-right: 1px solid #c7c7c7;
  }
  #nav-mobile > ul li.deeper a:hover {
    background-color: #666;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    opacity: 8;
    filter: alpha(opacity=80);
  }
  #nav-mobile > ul li.deeper ul {
    display: none;
    position: relative;
    width: 80%;
    background: #ffffff;
    border: 0 none;
    background-color: #fff;
  }
  #nav-mobile > ul li.deeper ul li {
    display: block !important;
  }
  #nav-mobile > ul li.hasSubmenu a span {
    float: right;
    background: rgba(0, 0, 0, 0) url("/img/menu/grey-arrow.png") no-repeat scroll center center;
    width: 8px;
    height: 13px;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    padding: 7px 10px 0;
  }
  #nav-mobile > ul li.hasSubmenu a:hover span {
    float: right;
    background: rgba(0, 0, 0, 0) url("/img/menu/white-arrow.png") no-repeat scroll center center;
    width: 8px;
    height: 13px;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
  }
  #nav-mobile > ul li.hasSubmenu ul.open {
    left: 100%;
  }
  #nav-mobile > ul li.subdeeper {
    display: block;
    text-decoration: none;
    color: #747474;
    text-shadow: 0px 1px 0px #fff;
    margin: 0;
    width: 100%;
    border-bottom: 1px inset;
  }
  #nav-mobile > ul li.subdeeper a:hover {
    background-color: #666;
    color: #fff;
    opacity: 8;
    filter: alpha(opacity=80);
  }
  .hideTray {
    position: relative;
    left: -85%;
    top: 0;
    width: 100% !important;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
  }
  .submenu {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
  }
}
.footer-company-logo {
  float: left;
}
.footer-company-links {
  float: left;
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #nav-mobile > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #nav-mobile > ul ul li.collapsed {
    display: block !important;
  }
  .footer-company-logo {
    padding: 0;
  }
}
