<h1><?= __('Posts'); ?></h1>

<?php //pr($post) ?>
<ul>
<?php foreach ($posts as $post): ?>
	<li>
		<?= $this->Html->link($post->title, $lang.'/'.__('news').'/'.$post->slug->name) ?>
	</li>
<?php endforeach; ?>
</ul>