
@red: #fd4b58;

.container-wrapper {
	clear: both;

	  padding: 0;
	  margin: 0 auto;
	  max-width: 960px;
	  margin-top: 74px;
}
table
{
    padding:0 0 0 0;
    border-collapse:collapse;
    border-spacing:0;
    display:block;
}
.breadcrumb{

}
.submenu-accordion-button{
	float: right;
	font-weight: bold;
}
.ww-filter-buttons{
	position: absolute;
	right: 0;
	padding: 20px 20px 0 0;
}
.ww-filter-buttons button{
	padding: 6px 12px;
	font-size: 0.9em;
	font-weight: 600;
	background: #f5f5f5;
	color: #575a5d;
	border: none;
}
.ww-filter-buttons button.active{
	background: @red;
	color: #FFF;
}
.hasSubmenu a {
	cursor: pointer;
	display: block;
}
.hasSubmenu .submenu{
	display: none;
}
.hasSubmenu .submenu li a{
	font-weight: normal;
	padding-left: 8px;
}
.atss.atss-right .at4-share-title{
	width: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#banner {
	clear: both;
	max-width: 1366px;
	margin: 0 auto;
	text-align: center;
	.bg-image {
	    position: relative;

		img {
		    display: block;
		    width: 100%;
		    margin: 0 auto;
		}
	}
}


/* Generic configuration */

.row-two-left-column , .row-forth-left-column {

	    float: left;
	    margin: 0;
	    padding: 10px 0;
	    width: 50%;
	h2 {

	    font-size: 400%;
	    font-weight: bold;
	    text-shadow: 0px 0px 20px #000;
	    line-height: 88%;
	    margin: 0;
	    padding: 10% 0;
	    text-align: center;
	    text-transform: uppercase;
	    width: 200px;
		span{
		    font-size: 86%;
		    font-weight: bold;

		    margin: 0;
		    text-align: center;
		    text-transform: uppercase;

		}
	}

}
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
	margin: 0 20px 0 0 !important;
}
.bx-wrapper .bx-viewport {
	border: 0;
	box-shadow: 0;
}


.font-decor {
	font-size: 100px;
	font-weight: 900;
	color: #fff;
}


.gsc-results-wrapper-overlay {
	top:80px;
	z-index: 999999;
}
.google-search {
	z-index: 1888;
}
.row {
	clear: both;
	width: 100%;
	position: relative;
	margin: 0;


}
.modal-body {
	background-color: #a61f2f;
	padding: 0;
}
.layout1{
	margin: 0 auto;
	max-width: 1366px;
	.intro-square {
	    float: right;
	    width: 480px;
	}
}


/********* Nav links**************/
	#nav-mobile {
	  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	  font-size: 12px;
	  font-weight: bold;
	  line-height: 15px;
// 	  text-align: center;
	  margin: 0 auto;
	  width: 100%;
	  right: 0;
	  left: 0;
	  position: fixed;
	  border: 0 0 5px;
	  height: 70px;
	  background: #fff none repeat scroll 0 0;
	  opacity: 0.90;
	  filter: alpha(opacity=90); /* For IE8 and earlier */
	  z-index: 999;
		ul {
		  list-style-type: none;
		  padding: 0;
		  margin: 0 auto;
		  position: absolute;
		  top: 0;
		  right: 0;
		  left: 0;
		  width: 960px;

			li#responsive-tab {
			  display: none;
			  /* Hide for large screens */

			}
			li {
			  display: inline-block;
			  *display: inline;
			  zoom: 1;
			}
			li a {
				color: #fff;
				display: block;
				padding: 28px 42px 27px 42px;
				text-decoration: none;
			}
			li a.active,
			li a:hover {
				background: red;
				color: #fff;
			    opacity: 0.7;
			    filter: alpha(opacity=70); /* For IE8 and earlier */

			}
			li.home a:hover {
			    opacity: 1;
			    filter: alpha(opacity=100); /* For IE8 and earlier */
			}
			li.home a {
				padding: 28px 12px 27px 0 !important;
			}
			li.right {
			  float: right;
			}
			li.deeper {
			  position: relative;
			}
			li.deeper:hover ul {
			  display: block;
			}
			li.deeper ul {
			  display: none;
			  width: 100%;
			  min-width: 230px;
			  position: absolute;
			  margin: 0;
			  padding: 0;
			  list-style-type: none;
			  background: #fd4c57;
			  color: #fff;
			  opacity: 0.80;
			  filter: alpha(opacity=80); /* For IE8 and earlier */

			 // border-bottom: 3px solid #d9ced2;
			  border-top: 0 none;
			  a {
					text-align: center;
					width: 90%;
					border-bottom: 1px solid #c82634;

			  }
			}
			li.deeper ul li {
			  display: block;
			  padding: 0 22px;
			}
			li.deeper > a {
			  color: #000;
			  background-repeat: no-repeat;
			  background-position: 90% -95%;
			}
			li.deeper > a.active,
			li.deeper > a:hover {
		// 	  border: 1px solid #e4240a;
				color: #FFF;
			  background-position: 90% 195%;
			}

		}

	}

	.mobile-menu {
		height: 70px;
		border-bottom: 5px solid #eaeaea;
	}
	#back {
		display: none !important;
	}

	.hasSubmenu .subdeeper a {
		padding: 0;

	}

	.hasSubmenu .subdeeper a.active,
	.hasSubmenu .subdeeper a:hover {
	//	padding: 26px 20px !important;
	//	width: 100%;
		text-align: center;
	    width: 100% !important;
	    padding: 26px !important;
	    margin-left: -26px;
		background: #fff !important;
		color: #000 !important;
		border: 0;
		border-bottom: 1px solid #d9ced2 !important;
	}
	.mobile-home {
		display: none;
	}
	.home a {
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
		text-indent: 5000px;
	}

	.appcogroup-uk{
		margin-right: 28px;
		a {
			background: url(/uploads/redesign/appco-logo.png) left center no-repeat!important;
			width: 125px;

		}
	}
	.appcogroup-pl{
		margin-right: 96px;
		a{
			background: url(/img/appco/appco-group-poland.png) left center no-repeat!important;
			width: 125px;
		}
	}
	.appcogroup-usa{
		margin-right: 96px;
		a {
			background: url(/uploads/redesign/appco-usa-logo.png) left center no-repeat!important;
			width: 125px;
		}
	}
	.appcogroup-it{
		margin-right: 96px;
		a {
			background: url(/uploads/redesign/appco-usa-logo.png) left center no-repeat!important;
			width: 125px;
		}
	}
	.appcogroup-es {
		margin-right: 96px;
		a {
			background: url(/uploads/redesign/appco-group-spain.png) left center no-repeat!important;
			width: 125px;
		}

	}
	.appcogroup-au {
		margin-right: 45px;
		a {
			background: url(/img/appco/bg_logo_au.png) left center no-repeat!important;
			width: 222px;
		}

	}
	.espana {
		li a {
			padding: 28px 24px 27px !important;
		}
	}


	.home a.active {

		opacity: 1 !important;
		filter: alpha(opacity=100) !important; /* For IE8 and earlier */
	}
	#pull {
		display: none;
	}
	.at4-share-title {
		background-color: #000;
		color: #fff;
		padding: 3px 6px;
		opacity: 0.5;
		font-size: 10px;

	}
	.at4-share-title:after {
		content: " it";

	}

	.google-search {
	    background-color: #000;
	    clear: both;
	    margin-top: 70px;
	    background-color: rgba(0,0,0,0.2);
	    position: fixed;
	    width: 100%;
	    z-index: 800;
	}
	.google-close-button {
	    float: right;
	    padding: 20px;
	    position: relative;
	}
	.google-search-box {
		max-width: 960px;
		margin: 0 auto;
	}

	.gsc-control-cse {
		float: right;
		width: 360px !important;
		background-color: rgba(0,0,0,0) !important;
		//border: 5px solid red;
		border-color: rgba(0,0,0,0) !important;
		opacity: 1;
		padding: 10px 0 10px 16px;
		padding: 1.6em 0 1em 1em !important;
	}

	input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
		background-color: #e35557 !important;

	}
	.gsc-search-button-v2 {
		border-color: #898989 !important;
	}



	.clock {
			margin-bottom:10px;
		}
/*************front-page-parallax*******************/
#banner {
	.bx-wrapper .bx-pager {
	    bottom: 15px;
	    margin-top: -80px;
	    padding: 0;
	    position: absolute;
	    z-index: 888;
	    text-align: center;
	    font-size: 0.85em;
	    font-family: Arial;
	    font-weight: bold;
	    color: #666;
	    padding-top: 10px;
	    padding-bottom: 10px;

	}
	.bx-wrapper {
		margin: 0 auto;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
	    border: 2px solid #ffffff;
	    border-radius: 50%;
	    height: 8px;
	    transition: background-color 0.5s ease-in-out 0s;
	    width: 8px;
	    z-index: 86;
		background: rgba(0,0,0,0);
		-webkit-transition: background-color .5s ease-in-out;
		-moz-transition: background-color .5s ease-in-out;
		-o-transition: background-color .5s ease-in-out;
		-ms-transition: background-color .5s ease-in-out;
		transition: background-color .5s ease-in-out;
	}

	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active , .bx-wrapper .bx-pager.bx-default-pager a:hover  {
		background-color: #ff4c56;
	}
	.bx-wrapper img {
		width: 100%;
	}
	.imageInfo {
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		text-transform: uppercase;
	    position: absolute;
	    //text-align: center;
	    top: 40%;
	    width: 100%;
	    z-index: 990;

	}
	.imageTitle {
	    color: #fff;
	    text-shadow: 0px 0px 10px #000;
	    font-size: 540%;
	    font-weight: bold;
	    line-height: 100%;
	    margin: 0;
	    text-align: center;
	}
	.imageCaption {
	    color: #fff;
	    text-shadow: 0px 0px 10px #000;
	    font-size: 300%;
	    line-height: 140%;
	    margin: 0;
	    text-align: center;
	}
	.bx-wrapper .bx-controls-direction a {
		z-index: 90;
	}
}


.brand-colours {
	clear: both;
	width: 100%;
	height: 6px;
	display: block;

	span {
		float: left;
		width:16.66%;
	    font-size: 100%;
	    line-height: 6px;

	}
	.red {
		background-color: #f63b49;
	}
	.brown {
		background-color: #95232e;
	}
	.blue {
		background-color: #55a2be;
	}
	.orange {
		background-color: #eb6f2f;
	}
	.purple {
		background-color: #9a439c;
	}
}
.bx-wrapper {
	.bx-viewport {
	    -moz-box-shadow: 0;
	    -webkit-box-shadow: 0;
	    box-shadow: 0;
	    border: 0px;
	    left: 0;

	}
	//bxslider
	.bx-prev {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/left-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

	.bx-prev:hover , .bx-next:hover {
		background-position: 0 0 !important;
	}
	.bx-next {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/right-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}
}



#footer {
	margin: 20px 0 0 0;
	padding: 0;
    height: 264px;
    background: #f3f3f3 none repeat scroll 0 0;
    width: 100%;
    .outter {
	    margin: 0 auto;
	    max-width: 960px;
	}
	.left {
		float: left;
	}
	.logos{
		li{
			height: 100px;
			line-height: 100px;
			img{
				vertical-align: middle;
			}
		}
	}
	.rights p {
	    color: #fff;
	    font: 11px "Arial",sans-serif;
	    text-align: center;
	    .bottom-links-left p {
		    padding-top: 16px;
		    text-align: left;
		    padding-left: 5px;
		}
	}
	ul, p {
		padding: 0;
		clear: both;
	}
	ul {
	    float: right;
	    margin-bottom: 2px;
	    list-style: none;
	    li {
		    float: left;
		    img {
			    margin-top: 0;
			    padding: 0 20px 0 0;
		    }
	    }
	}

	.grey {
		clear: both;
	    background-color: #56595c;
	    height: 110px;
	    margin: 0;
	    padding: 0;
	    max-height: 100%;
	    min-height: 110px;
	    width: 100%;

	    .outter  {
			height: 110px;
			.rights {
			    background-color: #3f3f3f;
			    color: #fff;
			    padding-top: 10px;
			    text-align: center;
			    width: 100%;
			    float: right;
			    font-size: 12px;
			    letter-spacing: 0.03em;
				.bottom-links-wrapper {
				    margin: 0 auto;
				    max-width: 960px;
				}
				.bottom-links-left {
				    float: left;
				    width: 100%;
				}
			}
			.left {
				width: 100%;
				padding: 0;
			}
			.right{
				ul{
					li{
						height: 110px;
						line-height: 110px;
						a{
							vertical-align: middle;
						}
					}
				}
			}
			.cobra-company {
			    text-align: center;
			    width: 100%;
				height: 110px;
				line-height: 110px;
			}
			img {
				padding: 0;
				margin-top: 0;
				vertical-align: middle;
			}
	    }

	}
	.bottom-links-right {
	    clear: both;
	    float: left;
	    width: 100%;
	    background-color: #3f3f3f;
	}
	.bottom-links-right-title {
	    h3{
			font-size: 14px;
			padding-left: 5px;

	    }
	}
	.bottom-links-right-links {
	    float: left;
	    padding: 5px 5px 0;
	}
	.bottom-links-right .addthis_follow_label {
	    display: none;
	}
}


  #nav-mobile > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #nav-mobile > ul ul li.collapsed {
    display: block !important;
  }

	#footer {
		ul {
			margin: 0;
			padding: 0 5px;
		}
		.grey .outter  .right {
			float: right;
// 			padding-top: 70px;
			color: #fff;
			a {
				color: #fff;
				padding: 0 10px;
			}
		}
		.grey .outter .cobra-company {
			text-align: center;
		}
		.bottom-links-right-links {
			padding: 10px 5px 0;
		}
	}


/* responsive menu */

@media( min-width: 60em){

	#footer {
		ul {
			float:left;
			padding: 0;
		}
		.left {
			float: left;
			width: 30%;
		}
		.right {
			float: right;

			ul {
				padding: 0 0;
			}
		}
		.grey .outter .left {
			width: 40%;
		}
		.grey .outter .cobra-company{
			text-align: left !important;
		}
		.bottom-links-left {
			float: left;
			width: 50%;
			background-color: #3f3f3f;
			padding: 20px 0;
			p{
				padding: 0;
				margin: 0;
			}
		}
		.bottom-links-right {
			float: left;
			width: 50%;
			clear: none;
		}
		.rights {
			background-color: #3f3f3f;
			width: 100%;
			float: left;
			p {
				text-align: left;
			}
			.bottom-links-left {
				width: 65%;
			}
			.bottom-links-right {
				width: 35%;
				float: left;

			}
			.bottom-links-wrapper {
				max-width: 960px;
				margin: 0 auto;
				.bottom-links-right-links {
					text-align: right;
					float: right;
				}
				.bottom-links-right-title{
					float: left;
				}
			}
		}

	}

}

@media (max-width : 60em) {
	.first-row {
		.parallax-right-column {
		    float: left;
		    width: 50%;
		}
		.row-left-intro {
		    float: left;
		    width: 50%;
		}

	}

	.ww-filter-buttons{
		position: relative;
	}

	.mobile-home {
		display: block;
		position: fixed;
	}
	.mobile-home a {
		display: block;
		background: url('/uploads/redesign/appco-logo.png') left center no-repeat !important;
		width: 140px;
		height: 65px;
		margin-left: 20px;
		margin-top: 4px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
		text-indent: -1000px;
	}

 	#nav-mobile {
	 	position: fixed;
	 	width: 100%;
	 	margin: 0;

 	}
 	.home {
	 	display: none !important;
 	}

	#nav-mobile > ul {
	clear: both;
	position: relative;
	display: none;
	background-color: #fff;
	margin: 0;
	width: 100%;
	top: auto;

	}
	#nav-mobile > ul li.deeper:hover ul {
	  display: none;
	}

	nav a#pull {
	    display: block;
	}
	.hasSubmenu .subdeeper a.active,
	.hasSubmenu .subdeeper a:hover {
	//	padding: 26px 20px !important;
	//	width: 100%;
		text-align: center;
	    width: 100% !important;
	    padding: 15px 0 !important;
	    margin-left: -26px;
		background: #666666 !important;
		color: #fff !important;
		border: 0;
		border-bottom: none !important;
	}
	#pull {
		display: block;
	    background: #666 url("/img/appco/nav-icon.png") no-repeat scroll center center;
	    float: right;
	    height: 20px;
	    width: 60px;
	    position: relative;
	    margin: 0;
	    padding: 35px 0;
	}

	 #nav-mobile li,  #nav-mobile .home {
	    border-bottom: 1px solid #fff;
	    display: block;
	    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
	    font-size: 13px;
	    font-weight: normal;
	    line-height: 18px;
	    list-style: outside none none;
	    margin: 0;
	}



	#nav-mobile > ul li#responsive-tab {
		display: block;
	}
	#nav-mobile > ul li#responsive-tab a {
		background: url('/img/appco/nav-icon.png') no-repeat;
		background-position: 95% -35%;
	}
	#nav-mobile > ul li#responsive-tab a:hover {
		background-color: #fd4b58;
		background-position: 95% 135%;
	}
	#nav-mobile > ul li {

	  zoom: 1;
	}
	#nav-mobile > ul li a {
		display: block;
		text-decoration: none;
		color: #747474;
		text-shadow: 0px 1px 0px #fff;
		padding: 10px 0 10px 10px;
		margin: 0;

	}
	#nav-mobile > ul li a.active,
	#nav-mobile > ul li a:hover {
		background: #fd4b58;
		color: #fff;
		text-shadow: 0px 1px 0px #000;

		opacity: 0.9;
		filter: alpha(opacity=90); /* For IE8 and earlier */
	}
	nav a#pull::after {
	    content: "";
	    display: inline-block;
	    float: right;
	   // padding: 24px;
	    position: absolute;
	    right: 15px;
	    top: 0;
	}
	nav a {
		background: #fff;
		padding: 0;
		margin: 0;
	}
	.google-search-box {
		width: 80%;
	}
	.close-button {
		display: none;
	    background: #666 url("/uploads/redesign/close-menu.png") no-repeat scroll center center;
	    float: right;
	    height: 20px;
	    width: 60px;
	    height: 62px;
	    position: relative;
	    margin: 0;

	}
	.close-button:hover {

	    background: #e7e7e7 url("/uploads/redesign/close-menu.png") no-repeat scroll center center;
	}


	#nav-mobile > ul li.right {
		float: none;
	}



	.home a {
		display: block;
		background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
		width: 140px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
	}
	.home a.active ,.home a:hover {
		display: block;
		opacity: 1 !important;
		filter: alpha(opacity=100) !important; /* For IE8 and earlier */
	}
	// main nav
	  #nav-mobile > ul li.deeper {
	    position: relative;
	    text-align: left;
	    clear: both;
	    padding: 0;
	    margin: 0;
		width: 100%;
		border-bottom: 1px inset;
		border-right: 1px solid #c7c7c7;
	  }
	  #nav-mobile > ul li.deeper a {
		   padding: 14px 0 14px 10px;
	  }
	 #nav-mobile > ul li.deeper a:hover {
	  	background-color: #666;
	  	color: #fff;
	    margin: 0;
		padding: 14px 0 14px 10px;
	  	opacity: 8;
	  	filter: alpha(opacity=80)
	  }
	  #nav-mobile > ul li.deeper ul {
	 // 	background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
	 	display: none;
	  	position: relative;
	    width: 80%;
	    background: #ffffff;
	    border: 0 none;
	    background-color: #fff;
	    opacity: 1;
	  }
	  #nav-mobile > ul li.deeper ul a {
	  		width: 100%;
	  		border-bottom: 1px solid #666;
	  		text-align: left;

		}
	  #nav-mobile > ul li.deeper ul li {
	    display: block !important;
	    padding: 0;
	  }

	//subnav
	#back {
		display: block !important;
	}
	#nav-mobile > ul li.hasSubmenu a {

	}

	#nav-mobile > ul li.hasSubmenu a span{
		float: right;
		background: rgba(0, 0, 0, 0) url("/img/menu/grey-arrow.png") no-repeat scroll center center;
		width: 8px;
		height: 13px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
		padding: 7px 10px 0;

	}
	#nav-mobile > ul li.hasSubmenu a:hover span{
		float: right;
		background: rgba(0, 0, 0, 0) url("/img/menu/white-arrow.png") no-repeat scroll center center;
		width: 8px;
		height: 13px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */

	}

	#nav-mobile > ul li.hasSubmenu ul.open {
		left: 100%;
	}

	#nav-mobile > ul li.subdeeper {
		display: block;
		text-decoration: none;
		color: #747474;
		margin: 0;
		width: 100%;
	}
	#nav-mobile > ul li.subdeeper a {
		text-align: left;
		padding: 14px 0;
	}

	#nav-mobile > ul li.subdeeper a:hover {
		background-color: #666;

	}

	.hideTray {
		  position: relative;
		  left: -85%;
		  top: 0;
		  width: 100% !important;
		  -webkit-transition: 0.75s;
		     -moz-transition: 0.75s;
		      -ms-transition: 0.75s;
		       -o-transition: 0.75s;
		          transition: 0.75s;
	}
	.submenu  {
	  width: 100%;
	  -webkit-transition: 0.75s;
	     -moz-transition: 0.75s;
	      -ms-transition: 0.75s;
	       -o-transition: 0.75s;
	          transition: 0.75s;
	}

	#footer {
		.outter {
		    margin: 0 auto;
		    width: 100%;
			.left {
				float: none;
				width: 100%;
			}
		}
		.right ul {
			display: none;
		}

		.left .cobra-company {
			text-align: center;
			width: 100%;
		}
		.bottom-links-wrapper {

		}
	}

	#footer{
		.grey{
			height: auto;
		}
		.rights{
			p{
				padding-bottom: 14px;
				margin: 0;
			}
		}
		.logos ul{
			float: none;
			li{
				width: 50%;
				text-align: center;
			}
		}
		.bottom-links-right-links{
			text-align: center;
			width: 100%;
		}
		.bottom-links-right-title h3{
			text-align: center;
			padding: 0;
		}
	}

  	#footer .outter .right ul li img {
	    margin-left: 6px;
	}

	#footer {
		.outter {
		    margin: 0 auto;
		    width: 100%;
			.left {
				float: none;
				width: 100%;
			}
		}
		.right ul {
			display: none;
		}

		.left .cobra-company {
			text-align: center;
			width: 100%;
		}
		.bottom-links-wrapper {

		}
	}


	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}


	.google-search-box {
		width: 60%;
	}
	.google-close-button {
		padding:22px 10px 0 0;
	}
	#banner {
		margin-top:70px;
		.bx-wrapper img {
			width: 100%;
		}
		.imageInfo {
			font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
			text-transform: uppercase;
		    position: absolute;
		    text-align: center;
		    top: 30%;
		    width: 100%;
		    z-index: 200;

		}
		.imageTitle {
		    color: #fff;
		    font-size: 200%;
		    font-weight: bold;
		    line-height: 100%;
		    margin: 0;
		    text-align: center;
		}
		.imageCaption {
		    color: #fff;
		    font-size: 150%;
		    line-height: 100%;
		    margin: 0;
		    padding: 10px 0;
		    text-align: center;
		}

		.bx-wrapper .bx-controls-direction a {
			z-index: 90;
		}
	}


	//bxslider
	.bx-wrapper .bx-prev {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/left-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

	.bx-wrapper .bx-prev:hover , .bx-wrapper .bx-next:hover {
		background-position: 0 0 !important;
	}
	.bx-wrapper .bx-next {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/right-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

	.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
	    float: right;
	    margin: 0;
	    padding: 0;
	    text-align: center;
	    width: 70% !important;
	}

}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}