
@red: #fd4b58;

/* Generic configuration */

.row-two-left-column , .row-forth-left-column {

	    float: left;
	    margin: 0;
	    padding: 10px 0;
	    width: 50%;
	h2 {
	    font-size: 500%;
	    font-weight: bold;
	    text-shadow: 0px 0px 20px #000;
	    margin: 0 auto;
	    text-align: center;
	    text-transform: uppercase;
	    width: 200px;
	    height: 282px;
	    text-align: left;
	    padding: 135px 0;
	    float: none;
		span{
		    font-size: 86%;
		    font-weight: bold;

		    margin: 0;
		    text-align: center;
		    text-transform: uppercase;

		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}

}
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
	margin: 0 20px 0 0 !important;
}


.font-decor {
	font-size: 100px;
	font-weight: 900;
	color: #fff;
}


.gsc-results-wrapper-overlay {
	top:80px;
	z-index: 999999;
}
.google-search {
	z-index: 1888;
}

.modal-body {
	background-color: #a61f2f;
	padding: 0;
}




.first-row {

	.row-left-intro {
		background-color: #a61f2f;
		margin: 0;
		padding: 10px 0;
	}
	h1 {
	    color: white;
	    font-size: 400%;
	    font-weight: bold;
	    line-height: 100%;
	    margin: 0 auto;
	    text-align: left;
	    text-transform: uppercase;
	    width: 200px;
	    height: 282px;
	    text-align: left;
	    padding: 48px 0;
	    float: none;
		font-family:'Century Gothic', Helvetica, Arial, sans-serif;
		span{
		    font-size: 140%;
		    line-height: 88%;
		    margin: 0;
		    padding: 7% 0;
		    text-transform: none;
		    text-align: left;
		    font-family:'Century Gothic', Helvetica, Arial, sans-serif;
		}
		a{
			color: white;
			text-decoration: none;
		}
	}
	.first-row-mobile{
		display: none;
	}
	.parallax-right-column {
		background-color: #ea2c43;
		margin: 0;
		padding: 0 0 22px 0;

		p {
			color: #ffffff;
			width: 100%;
			max-width: 400px;
			font-size: 15px;
			line-height: 19px;
			margin: 0 0 10px;

		}
	}
	
	#textCarousel{
		overflow: hidden;
		max-width: 480px;
		height: 280px;
	}

	.carousel .item {
		height: 280px;
		text-align: left;
		padding: 30px 20px 0 30px;
		width: 100%;
		overflow: hidden;
	}
	.carousel-indicators {
// 		left: 200px;
		bottom: -15px;
	}
	.carousel-indicators .active {
		background-color: rgba(0, 0, 0, 0);
	}
	.carousel-indicators li {
		background-color: #fff;
	}
	.carousel-inner{
	  width:100%;
	  max-height: 500px;
	}
}
.social-row {
	background-color: #f0f0f0;
	display: inline-block;
	width: 100%;
	.social-header {
		text-align: center;
		font-size: 600%;
		font-family: 'Century Gothic', arial;
		font-weight: bold;
		letter-spacing: 0.54em;
		color: #dddddd;
		margin: 20px 0;
		span{
			letter-spacing: 0.2em;
		}
	}
	.social-row-wrapper {
	   	margin: 0 auto;
	    max-width: 960px;

		.row-two-left-column {
		    float: left;
		    margin: 0;
		    padding: 0 5px 10px;
// 		    width: 48%;
			.base-row {
			    float: right;
			}
			.social-ln{
				.social-ln-item{
					background: #FFFFFF;
					.social-ln-image{
						width: 230px;
						height: 120px;
						overflow: hidden;
					}
					.social-ln-text{
						margin: 0.8em;
						.social-ln-title{
							h3{
								font-size: 1em;
								font-weight: bold;
								line-height: 1;
								height: 3.5em;
								overflow: hidden;
								margin: 0;
								padding: 0;
								color: #000000;
							}
							a{
								color: #000000;
							}
						}
						.social-ln-date{
							font-size: 0.75em;
						}	
					}
				}
				.social-ln-item-0, .social-ln-item-1{
					width: 230px;
					float: left;
					margin: 0;
				}
				.social-ln-item-0{
					margin: 0 10px 10px 0;
				}
				.social-ln-item-2{
					clear: both;
					margin: 0 0 10px 0;
					width: 470px;
					height: 120px;
					.social-ln-image{
						float: right;
					}
					.social-ln-text{
						float: left;
						width: 210px;
						.social-ln-title{
							h3{
								height: 74px;
								margin-bottom: 0.6em;
							}
						}
					}
				}
				.social-ln-item-3{
					clear: both;
					width: 470px;
					height: 120px;
					background: @red;
					color: #FFFFFF;
					.social-ln-image{
						display: none;
					}
					.social-ln-text{
						float: left;
						.social-ln-block{
							height: 84px;
							overflow: hidden;
						}
						.social-ln-title{
							h3{
								height: auto;
								margin-bottom: 0.6em;
								color: #FFFFFF;
							}
							a{
								color: #FFFFFF;
							}
						}
						.social-ln-excerpt{
							height: 60px;
							font-size: 0.85em;
							overflow: hidden;
						}
					}
				}
			}
			.social-table {
				list-style: none;
				display: table;
				width: 100%;
				.social-table-row {
					width: 100%;

				}
				.social-cell-verticle {
				    background-color: #fff;
				    margin-right: 4%;
				    padding-bottom: 2%;
				    margin-bottom: 10px;
				    width: 49%;
				    vertical-align: top;
					a {
						text-decoration: none;
						.news-item {

						}
					}


					.news-item-image img {
						display: block;
						width: 100%;
					}
					.news-item-row {
						padding: 0;
						height: 64px;
						h3 {
						    color: #000;
						    font-size: 100%;
						    padding: 10px;
							margin: 0;
						    text-decoration: none;
						}
					}
					.news-item-row-last {
						clear: both;
						text-align: center;
						td {

							padding: 0 20px;
						}
						.clock, .red {

							float: left;
							font-size: 10px;
						}
						.red {
							color: #fc4a57;
						}
					}

				}
				.social-cell-gap {
					width: 2%;
				}
				.space {
					height: 10px;
				}
				.social-cell-horizontal {
					//position: absolute;
					width: 100%;
					background-color: #ffffff;
					margin: 10px 0;
					clear: both;
					a {
						text-decoration: none;
					}
					h3 {
					    color: #000;
					    font-size: 100%;
					    padding: 10px;
					    margin: 0;
					    text-decoration: none;
					}
					.clock, .red {

						float: left;
						font-size: 10px;
					}
					.red {
						color: #fc4a57;
					}
					.news-item-row-last {
						padding: 0 20px;
					}
				}
				.red-box {
					background-color: #fc4a57;
					h3, .text, .red, .clock {
						color: #fff;
					}
					.text {
						padding: 0 10px;
					}
					.clock {
						padding: 10px 0;
						margin-bottom:10px;
					}

				}

			}
		}
		.row-two-right-column {
/*
			padding-left: 2%;
			width: 48%;
*/
			float: right;
			padding-left: 5px;
		}

	}
}

.row-two-left-column.appco-pl{
	width: 100%;
	.social-ln{
		.social-ln-item-0, .social-ln-item-1{
			height: 250px !important;
			.social-ln-title{
				height: 90px;
			}
		}
		.social-ln-item-2, .social-ln-item-3{
			clear: none !important;
			float: left !important;
			margin: 0 -10px 10px 10px !important;
		}
	}
}

.second-row {
	background: #31819e url('/uploads/2015/08/what-we-do.jpg') top center no-repeat;
	background-size: cover;
    background-repeat: no-repeat;
   // background-position: top center;
    min-height: 400px;

    h2 {
		color: #fff;
		font-family:'Century Gothic', Helvetica, Arial, sans-serif;
		span {
			font-family:'Century Gothic', Helvetica, Arial, sans-serif;
		}
	}
	
	
	.second-row-mobile {
		display: none;
	}

    .base-row {
			float: left;
			margin: 0;
			width: 50%;
			max-width: 400px;
			list-style: none;
			padding: 0;

			a:nth-child(1) li { background-color: #519ab4; }
			a:nth-child(2) li { background-color: #a61f2f; }
			a:nth-child(3) li { background-color: #613d65; }
			a:nth-child(4) li { background-color: #e86c34; }

			a:nth-child(1):hover li { background-color: #61b5d6; }
			a:nth-child(2):hover li { background-color: #c82634; }
			a:nth-child(3):hover li { background-color: #551d5c; }
			a:nth-child(4):hover li { background-color: #ff8339; }

		.base-item {
		    float: left;
		    max-width: 200px;
		    min-height: 200px;
		    width: 100%;
		}

		.base-item .whatwedo-left-column {
			display: none;
			float: left;
			padding: 18px;
		}


		.base-item .whatwedo-right-column {
			float: left;
			margin-top: 5px;
			max-width: 360px;
			width: 100%;
		}
		.what-we-do-wrap {
			padding: 38px 35px 0;
			text-align: center;
		}

		.what-we-do-wrap .image {
			text-align: center;
		}
		.whatwedo-right-column p {
			color: #ffffff;
		}
		.base-item .whatwedo-right-column h3 {
			color: #fff;
			font-size: 122%;
		}
		.link-style {
			padding: 0 10px !important;
		}

    }


}
.third-row {

	.bx-viewport {
		li {
			position: relative;
		}
		.imageInfo {
			display: none;
		}
		.imageInfo {

		    margin: 0 20%;
		    position: absolute;
		    text-align: center;
		    top: 30%;
		    width: 60%;
		    z-index: 990;

		}
		.imageTitle {
		    color: #fff;
		    font-size: 150%;
		    font-weight: bold;
		    line-height: 100%;
		    margin: 0;
		    text-align: left;
		}
		.imageCaption {
		    color: #fff;
		    font-size: 100%;
		    line-height: 140%;
		    margin: 0;
		    padding: 10px 0;
		    text-align: left;
		}
		li a:after {
		    content: "";
		    display: block;
		    height: 100%;
			width: 100%;
		    opacity: 0;
		    background: rgba(0,0,0,.7);
		    -moz-transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		    transition: all 0.5s;
		    top: 0;
		    left: 0;
		    position: absolute;

		}

		li a:hover {
		    opacity: 1;
		    content: "";
		    display: block;
		    height: 100%;
			width: 100%;
		    background: rgba(0,0,0,.7);
		    -moz-transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		    transition: all 0.5s;
		    top: 0;
		    left: 0;
		    position: absolute;
		    .imageInfo, .imageTitle, .imageCaption {
			    display: block;
		    }

		}
	}


}
.forth-row {
	background: #e4e4e4;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    .row-forth-right-column {
		padding: 0;

    }
    .parallax-news {
	    background: red;
	    padding: 0;
	    margin: 0;
	    .base-row {
				float: left;
				margin: 0;
				width: 50%;


				a:nth-child(1) li , a:nth-child(3) li  {
					background-color: #f1f1f1;
					color: #373737;

					}
/*
				a:hover li , a:hover h3, a:hover p {
					color: #fff;
					text-decoration: none;
					background-color: #7b7b7b;
				}
*/

				a:hover li , a:hover h3, a:hover p {
					color: #666;
					text-decoration: underline;

				}

				a {
					clear: both;
					float: left;
				}
			.base-item {
				height: 100px;
				max-width: 400px;
				width: 100%;

			}

			.base-item {
				float: left;
				max-width: 360px;
				display: block;
			}
			.base-item .base-item-wrap {
				padding: 10px 0 10px 20px;
			}
			.base-item p {
				clear: both;
			}
			.base-item h3 {
				float: left;
				color: #373737;
				font-size: 110%;
				padding: 5px 0;

			}
			.base-item-date {
				color: #e53741;
				font-weight: 200;
				font-style: italic;
			}
			.base-item h4 {
				float: left;
				color: #e53741;
				font-size: 110%;
				margin: 0;
			}
			.link-style {
				padding: 0 10px !important;
			}

	    }
    }

}


  #nav-mobile > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #nav-mobile > ul ul li.collapsed {
    display: block !important;
  }

@media screen and (max-width: 60em) {

	.first-row {
		.parallax-right-column {
		    float: left;
		   // width: 100%;
		   p{
			font-size: 13px;
			line-height: 15px;
		  }
		}
		.row-left-intro {
		    float: left;
		  //  width: 100%;
		}

	}

	.second-row .base-row .base-item {
		max-width: 192px;
	}


	.second-row .base-row .base-item {
		max-width: 192px;
	}

	.social-header {
		text-align: center;
		font-size: 300% !important;
		font-family: 'Century Gothic', arial;
		font-weight: bold;
		letter-spacing: 0.54em;
		color: #dddddd;
		margin: 20px 0;
		span{
			letter-spacing: 0.2em;
		}
	}
	
	.social-row {
		background-color: #f0f0f0;
		display: inline-block;
		width: 100%;
		.social-header {
			text-align: center;
			font-size: 600%;
			font-family: 'Century Gothic', arial;
			font-weight: bold;
			letter-spacing: 0.54em;
			color: #dddddd;
			margin: 20px 0;
			span{
				letter-spacing: 0.2em;
			}
		}
		.social-row-wrapper {
		   	margin: 0 auto;
		    max-width: 960px;
	
			.row-two-left-column {
				
				.social-ln{
					.social-ln-item{
						background: #FFFFFF;
						margin-bottom: 10px;
						.social-ln-image{
							width: 100%;
							height: 180px;
							overflow: hidden;
							img{
								width: 100%;
							}
						}
						.social-ln-text{
							margin: 0.8em;
							.social-ln-title{
								h3{
									font-size: 1em;
									font-weight: bold;
									line-height: 1;
									height: auto;
									overflow: hidden;
									margin: 0 0 0.4em 0;
									padding: 0;
									color: #000000;
								}
								a{
									color: #000000;
								}
							}
							.social-ln-date{
								font-size: 0.75em;
								margin-bottom: 0.4em;
							}	
						}
					}
					.social-ln-item-0, .social-ln-item-1{
						width: 100%;
						float: none;
					}
					.social-ln-item-0{
						margin: 0 10px 10px 0;
					}
					.social-ln-item-2{
						clear: both;
						margin: 0 0 10px 0;
						width: 100%;
						height: auto;
						.social-ln-image{
							float: none;
						}
						.social-ln-text{
							float: none;
							width: auto;
							.social-ln-title{
								h3{
									height: auto;
									margin-bottom: 0.6em;
								}
							}
						}
					}
					.social-ln-item-3{
						clear: both;
						width: 100%;
						height: auto;
						background: @red;
						color: #FFFFFF;
						.social-ln-image{
							display: none;
						}
						.social-ln-text{
							float: left;
							.social-ln-block{
								height: auto;
							}
							.social-ln-title{
								h3{
									height: auto;
									margin-bottom: 0.6em;
									color: #FFFFFF;
								}
								a{
									color: #FFFFFF;
								}
							}
							.social-ln-excerpt{
								font-size: 0.8em;
								overflow: hidden;
							}
						}
					}
				}
			}
		}
	}


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
	
	.first-row {
		h1 {
			display: none;
		}
		.first-row-mobile{
			display: block;
		}
			.parallax-right-column {
				padding: 0;
				padding-bottom: 20px;
			    float: left;
			    width: 100%;
			    .carousel {
				    max-width: 400px;
				    margin: 0 auto;
			    }
			}
			.row-left-intro {
			    float: left;
			    width: 100%;
			}
			.first-row-mobile {
				padding: 10px;
				margin: 0;
			    font-weight: bold;
			    line-height: 88%;
			    color: #fff;
			    font-size: 150%;
			    text-align: center;
			    text-transform: uppercase;
			}
	}
	
	.second-row{
		.intro-square{
			display: none;
		}
		.second-row-mobile {
			display: block;
			padding: 10px;
			margin: 0;
		    font-weight: bold;
		    line-height: 88%;
		    color: #fff;
		    font-size: 150%;
		    text-align: center;
		    text-transform: uppercase;
		    a{
			    color: #fff;
			    text-decoration: none;
		    }
		}
	}

	.google-search-box {
		width: 60%;
	}
	.google-close-button {
		padding:22px 10px 0 0;
	}

	.social-row{
		.social-row-wrapper .social-header {
			font-size: 300%;
			letter-spacing: 0.6em;
		}
		.row-two-left-column {
			width: 90% !important;
			margin: 0 3% !important;
			padding: 0 !important;
		}
		.row-two-right-column {
			display: none;
		}


	}
	.second-row {
		background: #56595c;
		h2 {
			width: 0;
		}
		.base-row {
			width: 100%;
			max-width: 100%;
		}
		.base-item {
			height: 70px;
			max-width: 100%;

		}
		.base-item h2 {
			display: none;
		}

		.base-item .whatwedo-right-column {
			max-width: 100%;
			padding: 0 !important;
		}
		.base-row .whatwedo-right-column p {
			//display: none;
			font-size: 100%;
		}
		.base-row .base-item {
			width: 50%;
			max-width: 50%;
		}

		.what-we-do-wrap {
			padding: 15% !important;
			h3 {
				padding: 3px 0;
			}
			p {
				padding: 3px 0;
			}
		}
		.row-two-right-column {

		}
		.row-two-left-column, .row-forth-left-column {
			width: 100%;
			padding: 10px 0;
		}
	}

	.forth-row {
		.row-forth-left-column {
			float: left;
			width: 100%;

		}
		.row-forth-left-column {
			float: left;
			width: 100%;
			.intro-square {
				float: left;
				padding: 0;
				height: auto;
				width: 100%;
				h2 {
					width: 100%;
					font-size: 150%;
					padding: 3% 0%;
					text-align: center;
					span {
						font-size: 100%;
					}
				}
			}
		}
	    .parallax-news {
		    .base-row {
			    width: 100%;
			    a {
				    width: 100%;
			    }
		    }
		    .base-item {
			    width: 100%;
			    max-width: 100% !important;
			    background-color: #fff;
		    }
	    }

	}
}

