

@red: #fd4b58;
@blue: #69cdf3;

/* Make sure they show even if hidden in mobile view by JS */
@media all {
	.banner {
		margin: 64px auto 0 auto;
		clear: both;
		max-width: 1366px;
		max-height: 504px;
		overflow: hidden;
		.bg-image {
		    position: relative;

			img {
			    display: block;
			    width: 100%;
			    margin: 0 auto;
			}
		}
	}
	a{
		color: @blue;
	}
	a:hover{
		color: @red;
	}
	a.underlined{
		color: @blue;
		text-decoration: underline;
	}
	a.underlined:hover{
		color: @red;
		text-decoration: underline;
	}
	.description h2{
		color: @red;
		font-size: 1.3em;
	}
	.pagination li:before{
		content: none !important;
	}
	.clear{
		clear:both;margin:0;padding:0;
	}
	.widecrumb {
		background-color: #56595c;
		border-radius: 0;
		color: @red;
		font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		font-weight: bold;
		font-size: 0.9em;
		margin: 0;

		.breadcrumb {
			border-radius: 0;
			color: @red;
			background-color: #56595c;
			margin: 0;
			padding: 8px 12px;
			li {
				padding: 0 2px;
			}
			li a{
				color: #FFFFFF;
			}
			span.divider {
				color: @red;
			}
		}

	}

	.btn-primary {
	    background-color: #519ab4;
	    border-color: #519ab4;

	}
	.container-wrapper {
		margin: 0;
		padding: 0;

		.row  {
			.menu {
			    width: 100%;
				margin: 0;
			    padding: 0;
// 				background-color: #f3f3f3;
				ul {
					background: #f3f3f3 none repeat scroll 0 0;
					margin: 0 auto;
					padding: 0;
					width: 100%;
					padding: 4px 16px;
	  				li {
	  					background: #f3f3f3 none repeat scroll 0 0;
					    border-top: 1px solid #ccc;
					    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
					    font-size: 13px;
					    font-weight: normal;
					    line-height: 18px;
					    list-style: outside none none;
					    padding: 10px 0;
					    font-weight: 600;

					    a {
						    color: #666;
						    text-decoration: none;
						    font-size: 13px;
					    }
					}
					li:first-child{
						border-top: none;
					}
					li.active>a{
							color: @red;
					}
				}
				.submenu-title {
				    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
					font-size: 18px;
					line-height: 24px;
					font-weight: 600;
					padding: 8px 16px;
					background: #56595c;
					color: #F3F3F3;
					margin: 0;
					border-bottom: 1px solid #FFFFFF;
					a{
						color: #F3F3F3;
						text-decoration: none;
					}
				}
			}
			.content {
			    margin: 20px 0;
				h1 {
				    clear: both;
				    color: @red;
				    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				    font-size: 150%;
				    line-height: 24px;
				    margin: 0 0 8px 0;
				    font-weight: bold;
				    letter-spacing: 0.02em;
				    padding: 8px 0;
// 				    margin-bottom: 16px;
// 				    padding: 3% 0;
				}
				p {
				    color: #666;
				    font-size: 14px;
				    line-height: 22px;
				    margin: 0 0 10px;
				}
				ol, ul {
				    list-style: outside none none;
				    padding-left: 0;
				}
				li:before {
					content: "• ";
					color: @red;
				}
				li {
				    color: #666;
				    line-height: 22px;
				    list-style: none;
				    margin-left: 15px;
				}
				ul.gallery{
					list-style: none;
					li{
						margin: 0 10px 10px 0;
						padding: 0;
						float: left;
						img{
							width: 120px;
							height: auto;
						}
					}
					li:before{
						content: none;
					}
				}
				ul.testimonials{
					li{
						margin-left: 0;
						color: #666;
						line-height: 22px;
						list-style: none;
						padding: 15px;
						background-color: #F3F3F3;
						margin-top: 10px;
					}
					li:before{
						content: none;
					}
				}
				h2 {
				    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				    font-size: 16px;
				    color: @red;
				    font-weight: bold;
				    letter-spacing: 0.02em;
				    margin-bottom: 16px;
				}
				h3 {
				    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				    font-size: 16px;
				    color: @red;
				    font-weight: bold;
				    letter-spacing: 0.02em;
				    margin-bottom: 16px;
				}
				.accordion h3{
					color: #575a5d;
					margin: 0 0 2px 0;
					padding: 12px;
					cursor: pointer;
					font-size: 1em;
					background: #f4f4f4 url(/img/ag/faq-plus.png) no-repeat right 10px center;
				}
				.accordion div.ui-accordion-content{
					background: #808385;
					color: #ffffff !important;
					padding: 12px;
					font-size: 0.9em;
					p{
						color: #FFFFFF !important;
						a{
							color: #FFFFFF !important;
							text-decoration: underline
						}
					}
				}
				hr {
					    border-top: 2px solid @red;
					    height: 0;
					    margin: 20px 0;
					}
				.cloud-tags {
					font-family: "Century Gothic",Helvetica,Arial,sans-serif;
						a.tag {
							float: left;
							display: block;
							padding: 0;
							margin: 0 16px 12px 0;
							background: #dae7eb;
							padding: 12px;
							color: #575a5d;
							font-weight: bold;
							font-size: 0.8em;
							text-decoration: none;
						}
						a.tag:hover{
							background: #4f90a5;
							color: #FFFFFF;
							text-decoration: none;
						}
				}
			}
		}

		.right {
		    width: 100%;
		    margin: 0;
			hr {
			    border: 2px solid @red;
			    height: 0;
			    margin: 0;
			}
			h2, h2 a {
			    color: @red;
			    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
			    font-size: 18px;
			    line-height: 24px;
			    font-weight: normal;
			    margin: 20px 0 10px;
			    text-decoration: none;
			}
		}
	}
	.expertise {
	    width: 100%;
	    margin: 0;
	    padding-right: 0 !important;
	    padding-left: 0 !important;
		h2, h2 a {
		    color: @red;
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    font-size: 18px;
		    line-height: 24px;
		    font-weight: normal;
		    margin: 20px 0 10px;
		    text-decoration: none;
		}

		ul {

		    display: inline-block;
		    list-style:none;
		    padding-left:0;
			li {

			    background: #f3f3f3 none repeat scroll 0 0;
			    display: block;
			    float: left;
			    margin-left: 0 !important;
				margin-bottom: 14px;
			    width: 100%;
			    z-index: -1;
			    .thumb {
				    float: left;
				    width: 100px;
					height: 100px;

			    }
			    .description {
					float: left;
					padding: 5px 5px 5px 20px;
				    width: 62%;
				    .text {
						z-index: 1000;
					    height: 80px;
					    h2 {
						    font-size: 16px;
						    line-height: 22px;
						    margin: 8px 0 4px 0;
						    color: #666;
						    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
						    font-weight: bold;
						    text-decoration: none;
						    text-transform: uppercase;
						    letter-spacing: 0;
					    }
					    p {
						    color: #666;
						    font-size: 14px;
						    line-height: 17px;
						    margin: 0 0 10px;
					    }
					    a {
						    background: rgba(0, 0, 0, 0) url("/img/appco/arrow_read_more.png") no-repeat scroll right center;
						    padding-right: 10px;
					    }
				    }
			    }
			}
			li:before {
				content: none !important;
			}
		}
	}
	.appco-ww-countries {
	    width: 100%;
	    margin: 0;
	    padding-right: 0 !important;
	    padding-left: 0 !important;
		h2{
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    color: #575a5d;
		    font-size: 18px;
		    line-height: 24px;
		    font-weight: normal;
		    margin: 20px 0 10px;
		    text-decoration: none;
		    border-bottom: 1px solid #575a5d;
		}

		ul {

		    display: inline-block;
		    list-style:none;
		    padding-left:0;
			li {
			    display: block;
			    float: left;
				width: 230px;
				max-height: 250px;
				margin-right: 14px;
			    margin-left: 0 !important;
				margin-bottom: 14px;
			    z-index: -1;
			    .thumb {
				    float: left;
				    width: 100px;
					height: 100px;
			    }
			    .description {
					float: left;
					padding: 0;
					width: 100%;
				    .text {
						z-index: 1000;
					    h3 {
						    font-size: 18px;
						    line-height: 30px;
						    margin: 0;
						    color: @red;
						    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
						    font-weight: normal;
						    text-decoration: none;
						    text-transform: uppercase;
					    }
					    p {
						    color: #666;
						    font-size: 14px;
						    line-height: 19px;
						    margin: 0 0 10px;
					    }
					    a{
						    color: #4f90a5;
					    }
				    }
			    }
			}
			li:before {
				content: none !important;
			}
		}
	}
	.contact-us-items {
	    width: 100%;
	    margin: 0;
	    padding-right: 0 !important;
	    padding-left: 0 !important;
		h2{
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    color: #575a5d;
		    font-size: 14px;
		    font-weight: normal;
		    margin: 20px 0 10px;
		    text-decoration: none;
		    border-bottom: 1px solid #575a5d;
		}

		ul {

		    display: inline-block;
		    list-style:none;
		    padding-left:0;
			li {
			    display: block;
			    margin-left: 0 !important;
				width: 100%;
				margin-right: 16px;
				margin-bottom: 14px;
			    z-index: -1;
			    .thumb {
				    width: 100px;
					height: 100px;
			    }
			    .description {
					padding: 0;
				    .text {
						z-index: 1000;
					    h4 {
						    font-size: 14px;
						    margin: 0 0 6px;
						    padding: 0;
						    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
						    font-weight: bold;
						    text-decoration: none;
					    }
					    p {
						    color: #666;
						    font-size: 12px;
						    margin: 0;
						    padding: 0;
					    }
				    }
			    }
			}
			li:before {
				content: none !important;
			}
		}
	}
	.people {
	    width: 100%;
	    margin: 0;
	    padding-right: 0 !important;
	    padding-left: 0 !important;
		h2{
		    color: @red;
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    font-size: 18px;
		    line-height: 24px;
		    font-weight: normal;
		    margin: 20px 0 10px;
		    text-decoration: none;
		}

		ul {

		    display: inline-block;
		    list-style:none;
		    padding-left:0;
			li {
			    background: none;
			    display: block;
			    float: left;
			    margin-left: 0 !important;
				margin-bottom: 14px;
			    width: 100%;
			    z-index: -1;
			    .thumb {
				    display: none;
			    }
			    .description {
				    padding: 0;
				    .text {
						z-index: 1000;
					    h2 {
						    font-size: 18px;
						    margin: 0;
						    padding: 0;
						    color: @red;
						    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
						    font-weight: bold;
						    text-decoration: none;
					    }
					    h3 {
						    font-size: 14px;
						    margin: 0 0 12px 0;
						    padding: 0;
						    color: @red;
						    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
						    font-weight: bold;
						    text-decoration: none;
					    }
					    p {
						    color: #666;
						    font-size: 14px;
						    line-height: 19px;
						    margin: 0 0 10px;
					    }
				    }
			    }
			}
			li:before {
				content: none !important;
			}
		}
		.modal-header{
			h3, h4, h5{
				margin: 0px;
			}
		}
		.modal-body{
			background: none;
			padding: 10px 20px;
		}
	}
	.news {
		h2 {
			margin: 10px 0;
			padding: 0;
			font-size: 18px;
		}
	    p {
		    color: #666;
		    font-size: 14px;
		    line-height: 19px;
		    margin: 0 0 10px;
	    }

		h4 {
			font-size: 12px;
		}
		.article {
			padding: 0 0 24px 0;
			margin: 5px 0;
// 			font-family: "Century Gothic",Helvetica,Arial,sans-serif;
			.image, .news-image {
				width: 260px;
				max-width: 260px;
				float: left;
				margin: 0 16px 16px 0;
// 				margin: 0 auto;
				img{
					width: 100%;
				}
			}
			p.lead{
				font-size: 18px !important;
				line-height: 24px !important;
				font-weight: bold;
			}
			.description {
				clear: both;
			    h2 a {
				    clear: both;
				    font-size: 16px;
				    line-height: 18px;
				    margin: 0;
				    color: #666;
				    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				    font-weight: bold;
				    text-decoration: none;
			    }
			}
		}
		.article:hover {
// 			background-color: rgba(209, 235, 243, 0.79);
		}
		.most_read{
/* 			font-family: "Century Gothic",Helvetica,Arial,sans-serif; */
			color: @red;
			h2 {
				margin: 20px 0 20px 20px;
				font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				color: @red;
				font-size: 16px;
				font-weight: bold;
			}
			hr {
				 border-bottom: 2px solid @red;
				 margin: 0;
			}
			ul {
				list-style: none;
				margin: 0 auto;
				padding: 0;
				li {
// 					font-family: "Century Gothic",Helvetica,Arial,sans-serif;
					padding:5px 8px;
				}
				li:hover {
					background-color: rgba(209, 235, 243, 0.79);
				}
			}
			h3 {
				margin: 0;
				font-size: 14px;
			}
			h3 a {
				font-size: 14px;
				font-weight: bold;
				line-height: 1;
			}
		}
	}
	
	.blog{
		.blog-item{
			.meta{
				font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				.date-mobile{
					color: #56a3bd;
					border-bottom: 1px solid #56a3bd;
					font-size: 14px;
					font-weight: bold;
				}
			}
			.summary{
				h2{
					margin: 20px 0 4px 0;
					a{
						color: #56595c;
					}
				}
				.readmore{
					a{
						text-decoration: underline;
					}
				}
			}
		}
		.wp-right{
			h2{
				color: @red;
				margin: 20px 10px 10px 20px;
			}
			.sideabar-search{
				padding: 0 12px;
				margin: 12px 20px !important;
				width: auto !important;
				border-left: 1px solid @red;
				li h4{
					margin: 6px 0;
					font-weight: bold;
					padding: 0;
					color: #56a3bd;
				}
				>li>div{
					padding: 12px 0;
				}
			}
		}
	}
	
	.our-people {
		h1 {
			font-size: 22px;
		}
		.person {
			float: left;
			margin: 10px 0;

			.image {
				img {
					width: 100%;
					margin: 10px 0;

				}
			}
			.description {
				h2 {
					padding: 0;
					margin: 5px 0;
					font-size: 18px;

				}
				h3 {
					padding: 0;
					margin: 5px 0;
					font-size: 16px;
				}
			}
		}

	}
	.pgntn-page-pagination{
		font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		font-size: 0.9em;
		border-radius: 0px 0px 0px 0px !important;
		.pgntn-page-pagination-block{
			width: 100% !important;
		}
		.pgntn-page-pagination-intro{
			padding: 0.4em 0.8em;
			margin-left: 0 !important;
			display: none;
		}
		.page-numbers{
			padding: 0.4em 0.8em !important;
			margin-right: 0.7rem !important;
			margin-left: 0 !important;
			margin-bottom: 0.5rem !important;
			display: inline-block;
		}
		li{
			display: inline-block !important;
			margin: 0 !important;
		}
		a{
			padding: 0.4em 0.8em !important;
			margin-right: 0.75rem !important;
			margin-left: 0 !important;
			margin-bottom: 0.5rem !important;
			border-top-left-radius: 0px !important;
			border-bottom-left-radius: 0px !important;
			border-top-right-radius: 0px !important;
			border-bottom-right-radius: 0px !important;
			-moz-border-radius: 0px !important;
			-webkit-border-radius: 0px 0px 0px 0px !important;
			border-radius: 0px 0px 0px 0px !important;
		}
		a:hover{
			color: @red !important;
		}
	}
}

@media screen and (min-width: 60em) {
	.banner {
		margin: 0 auto;
	}

	.expertise ul li {
		width: 343px;
		margin-right: 14px;
		margin-bottom: 14px;
	}
	.expertise ul li:nth-child(2n){
		margin-right: 0;
	}
	

	.appco-ww-countries ul li {
		width: 223px;		
		min-height: 230px;
		max-height: 250px;
		margin-right: 15px;
		margin-bottom: 14px;
	}
	.appco-ww-countries ul li:nth-child(3n){
		margin-right: 0;
	}
	.appco-ww-countries ul li:nth-child(3n+1){
		clear: both;
	}

	.contact-us-items ul li {
		width: 223px;
		float: left;
		margin-right: 16px;
		margin-bottom: 14px;
		height: 154px;
		padding: 12px;
		background: #f5f5f5;
		padding: 12px;
	}
	.contact-us-items ul li:nth-child(4n){
		margin-right: 0;
	}
	.contact-us-items ul li:nth-child(4n+1){
		clear: both;
	}
	
	.people ul li .thumb{
	    display: block;
	    float: left;
	    width: 150px;
		height: 180px;
	}
	
	.people ul li .description{
	    width: 540px;
		float: left;
		padding: 0 5px 5px 20px;
	}
	
	.widecrumb {
		max-width: 1366px;
		margin: 0 auto;
		.breadcrumb {
			max-width: 960px;
			margin: 0 auto;
			padding: 11px 0 !important;
			li a {
			}
		}
	}

	.container-wrapper {
		margin: 0 auto;
		.row .menu {
			float: left;
			width: 220px;
			margin: 20px 0;
			padding: 0;
			background-color: #f3f3f3;
			ul.row-fluid {
				background-color: #f3f3f3;
				padding: 4px 16px;
			}
		}
		.row .content {
			float: left;
			width: 740px;
			padding: 0 10px 0 30px;
			ul.gallery{
				list-style: none;
				li{
					margin: 0 10px 10px 0;
					padding: 0;
					float: left;
					img{
						width: 165px;
						height: auto;
					}
				}
				li:before{
					content: none;
				}
			}
			.intro-square h1 {
				padding: 8px 0;
			}
		}

		.row .menu ul li {
			background: #f3f3f3 none repeat scroll 0 0;
			border-top: 1px solid #ccc;
			padding: 10px 0;
		}
	}
	.container-wrapper.full-width{
		.row .content{
			width: 940px;
			padding: 0;
		}
	}
	.container-wrapper.news{
		.row .content{
			padding: 0 0 0 0;
			width: 700px;
			margin-right: 20px;
			h4, span.date{
				display: inline;
				font-weight: bold;
				color: #56a3bd;
				font-size: 0.75em;
			}
			span.sep{
				color: @red;
			}
		}
		.row .menu{
			background: none;
			margin: 12px 0 24px 0;
			padding: 0;
			>ul{
				padding: 0 12px;
				border-left: 1px solid @red;
				li h4{
					margin: 6px 0;
					font-weight: bold;
					padding: 0;
					color: #56a3bd;
				}
			}
		}
	}

	.news {
		h2 {
			margin: 0;
		}
		.article {
			float: left;
			.image {
				float: left;
			}
			.description{
				float: left;
				clear: none;
				width: 420px;
			}
		}	
		.most_read{
			h2{
				margin: 20px 0 20px 0;
			}
		}
	}
	
	.blog{
		.blog-item{
			border-top: 1px solid #56a3bd;
			min-height: 160px;
			.meta{
				width: 139px;
				height: 139px;
				float: left;
				background: url("/blog/wp-content/themes/appco2016/images/date-bg.png") no-repeat center center;
				color: #FFFFFF;
				.date-item{
					position: absolute;
					width: 139px;
					height: 139px;
					line-height: 139px;
					vertical-align: middle;
					text-align: center;
					font-size: 36px;
				}
				.date-year{
					font-size: 16px;
					text-align: left;
					padding: 34px 0 0 16px;
				}
			}
			.summary{
				float: left;
				width: 540px;
				margin-left: 21px;
			}
		}
		.wp-right{
			h2 {
				margin: 20px 0;
				font-family: "Century Gothic",Helvetica,Arial,sans-serif;
				color: @red;
				font-size: 16px;
				font-weight: bold;
			}
			hr {
				 border-bottom: 2px solid @red;
				 margin: 0;
			}
			ul {
				list-style: none;
				margin: 0 auto;
				padding: 0;
				li {
// 					font-family: "Century Gothic",Helvetica,Arial,sans-serif;
					padding: 4px 0 !important;
					border: none !important;
					a{
						color: @red !important;
					}
					a:hover{
						color: #56595c !important;
					}
				}
				li:hover {
					background-color: none !important;
				}
			}
			h3 {
				margin: 0;
				font-size: 14px;
			}
			h3 a {
				font-size: 14px;
				font-weight: bold;
				line-height: 1;
			}
			.sideabar-search{
				margin: 0 auto !important;
				>li>div{
					border-top: 1px solid #d0d0d0;
				}
			}
		}
	}
}