
@media only screen and (max-device-width : 480px) {

	.nav.pull-right {
		float: none !important;
	}
	.nav>li {
		display: inline !important;
	}
/*
	li {
		display: inline;
		text-align: -webkit-match-parent;
	}
*/

}

@media only screen and (min-device-width : 212px) and (max-device-width : 319px) {
	body {
		width: 100%;
		background: none repeat scroll 0 0 #ffffff;
	}
	.mobile-nav {
	    background-color: #e53741;
	    display: block;
	    padding-bottom: 7px;
	}

	.home a {
    	font-size:14px !important;
	}

	/* Clearfix */

	.mobile-clearfix:before,
	.mobile-clearfix:after {
	    content: " ";
	    display: table;
	}
	.mobile-clearfix:after {
	    clear: both;
	}
	.mobile-clearfix {
	    *zoom: 1;
	    clear: both;
	}
	#pull{
		display: block;
	}
	div#container, #content.row {
		min-width: 212px;
		margin: 0;
	}
	/***********Homepage***********/
	#content.row.layout1 .column.left p {
		font-size: 125%;
	}
	#content.row.layout1 .column.left {
		width: 90%;
		padding: 0 10px;

	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#content.row .column {
		width: 100%;
		float: left;
	}
	#content.row.layout1 .column.right, #content.row.layout1 .column.center .expertise {
		width: 90%;
		margin: 0;
		padding: 0 10px;
	}
	#content.row.layout1 .column .expertise ul li {
		width: 212px;
		min-width: 212px;
	}
	div.thumb {
		display: none;
	}
	#content.row .column .expertise div.description {
		width: 100%;
	}
	#content.row .column .expertise div.description .text {
		width: 90%;
	}
	div.block.what_we_do {
		width: 90%;
		margin: 0 auto;

	}
	div.block.what_we_do ul li {
		width: 90%;
	}
	.no-link-style img {
		width: 212px
	}
	/**********logo***********/
	#header .logo-container {
		min-width: 212px;
		width: 100%;
		float: left;
		height: 80px;
		top: 20px;
	}
	.news #content.row.layout4 .column.content h1 {
		padding: 0 0 10px;
	}



	/**********Content*****************/
	#content.row .content div {
		padding: 0 5px;
	}
	#banner {
		width: 100%;
	}
	#banner .left {
		//display: none;
		height: auto;
		width: 100%;
	}
	#banner .right {
		display: none;
	}
	.outter {
		min-width: 100%;
	}
	#content.row .column.menu {
	    margin: 0;
	    padding:0;
	    min-width: 100%;
	    ul {
		    margin: 0;
	    }
	}

	#content.row.layout2 .column.content {
	    clear: both;
	    margin: 0;
	    float: left;
	    min-width: 100%;
	    width: 100%;

	}
	#content.row.layout2 .column.right {
		min-width: 212px;
		margin: 0;
		padding: 0;
	}
	.expertise {

		margin: 0 auto;
		h2 {
			padding: 0 10px;
		}
	}
	#content.row .column .expertise ul li {
		width: 200px;
	}
	div.thumb {
		display: none;
	}
	#content.row.layout2 .column.right {
		width: 212px;
	}
	#content.row.layout4 .column.right {
		width: 212px;
		margin: 0;
	}
	#content.row .column .expertise div.description{
		width: 146px;
	}
	.column.right .expertise .description .text h3 {
		padding-bottom: 5px;
	}
	#content.row .column .expertise div.description .text {
		height: 100px;
		p {
		    font-family: inherit;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 18px;
		    margin-bottom: 10px;
		    text-rendering: optimizelegibility;
		}
	}
	.copyright {
		min-width: 100%;
	}
	.copyright ul, .expertise ul {
		//margin-left: 0.4rem;
		margin:0;

	}
	.cobra-company {
		text-align: center;
	}
	/**********footer*****************/
	#footer .grey .copyright ul {
		font-size: 16px;
	    width: 90%;
	}
	#footer li {
		padding-bottom:5px;
	}
	#footer li a {
		text-decoration: none;
	}
	.logos {
		float: left;

	}
	.logos ul {
		padding-left: 30px;
	}
	#footer .right {
		margin-top: 34px;
	}
	.rights ul {
		padding: 10px 60px 0;
	}
	#footer ul {
		float: left;

	}
	#footer .outter {
		width: 100% !important;
	}
	#footer .rights {
		clear: both;
		float: left !important;
		min-width: 100%;
	}

	/*******Our People************/
	#content.row.layout3 .column.content {
		margin: 0;
		width: 100%;
	}
	#content.row.layout3 div.keyplayer, .person .description {
		float: left;
		display: block;
		width: 192px !important;
		overflow: auto;
	}
	.keyplayer .description {
		float: left;
		display: block;
		width: 192px !important;
		overflow: auto;
	}

	/*********what we do *********/
	#content.row .content div h3 {
		clear: both;
		padding: 0;
		margin: 0;
		img {
			min-width: 100%;
			height: auto !important;
			margin: 10px 0 !important;
		}
		br {
		    display: none;
		}

	}
	#content.row .content div p {
		margin: 0;
		padding: 0;
		img {
			min-width: 100%;
			height: auto !important;
			margin: 10px 0 !important;
		}
		br {
		    display: none;
		}
	}

	/******* News ************/
	.news nav {
		width: 100%;

	}

	.news nav {
	    background: none repeat scroll 0 0 #e53741;
	    clear: both;
	    height: 30px;
	    padding: 0;
	    position: relative;
	    width: 100%;
	    z-index: 5;
	    ul {
		    margin: 0;
	    }
	    li, .home {
		    background: none repeat scroll 0 0 #e53741;
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    font-size: 13px;
		    font-weight: normal;
		    line-height: 18px;
		    list-style: outside none none;
		    margin: 0;
			display:block;
			clear:left;
			float: none;
			padding: 0;

	    }
	}
	.news {
		min-width: 100%;
		#banner {
			display: none;
		}
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
			h1 {
				font-size:200%;
				width: 90%;
			}
			.article {
				margin: 0;
				padding: 0;
			}
			.article .arrow-read {
				position: inherit;
				bottom: 0;
			}
			.description {
				padding: 0 10px;
				width: 90%;
				height: 100%;
				h2 {

					width: 100%;
				}
			}
		}

		#content.row.layout4 .column.content .image, .news-image {
			width: 200px;
			height: auto;
			text-align: center;
		}

		#content.row .content div {
			margin-bottom: 20px;
			padding: 0;
		}
		#content.row.layout4 .column.content .description {
			padding: 0;
			width: 100%;
		}
		#content.row.layout4 .column.right {
		    width: 90%;
		    padding: 0 10px;
		    margin: 0 auto;
		    text-align: center;
		}
	}

	/******** appco-worldwide *********/
	.filters, #Allregions, #Europe, #Asia, #Americas, #Australasia {
		display: none;
	}
	.mobile {
		display: block;
	}
	#content.row.layout4 .column.content {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.appco-worldwide {
		h1 {
			padding: 20px 10px;
		}
		min-width: 100%;
		#content.row .content div p br {
			display: block;
		}
		#content.row.layout4 .column.content {
			min-width: 100%;
		}
		.filters .left , .filters .right {
			width: 210px;
		}
		.filters select {
			width: 200px;
		}
		#countries_filter table {
		  width: 100% !important;
		}
		#countries_filter table tr td {
		  margin-top: 20px;
		  width: 100%;
		}
	}

	/*************Contact us*******************/
	.contact-us {
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 10px;
		}
		#content.row .content div {
			padding: 0;
		}
	    .google-maps {
	        position: relative;
	        padding-bottom: 5%; // This is the aspect ratio
	        height: uto;
	        width: 200px;
	        overflow: hidden;
    	}
	    .google-maps iframe {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 100% !important;
	    }
	    #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 10px;
			margin: 0;
	    }
	}

	/**********Clients****************/
	.clients, .klienter {
		min-width: 100%;
		#content.row.layout4 .column.content, #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 10px;
			margin: 0;
		}
		.content img, .content img {
			padding: 3px;
		}
	}
}





/* sizes between iphone 4 andiphone 6+ */
@media only screen and (min-device-width : 481px) and (max-device-width : 735px) {

	body {
		width: 100%;
		background: none repeat scroll 0 0 #ffffff;
	}
	.mobile-nav {
	    background-color: #e53741;
	    display: block;
	    padding-bottom: 7px;
	}

	.home a {
    	font-size:14px !important;
	}

	/* Clearfix */

	.mobile-clearfix:before,
	.mobile-clearfix:after {
	    content: " ";
	    display: table;
	}
	.mobile-clearfix:after {
	    clear: both;
	}
	.mobile-clearfix {
	    *zoom: 1;
	    clear: both;
	}
	#pull{
		display: block;
	}
	div#container, #content.row {
		min-width: 414px;
		margin: 0;
	}
	/***********Homepage***********/
	#content.row.layout1 .column.left p {
		font-size: 125%;
	}
	#content.row.layout1 .column.left {
		width: 90%;
		padding: 0 16px;

	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#content.row .column {
		width: 100%;
		float: left;
	}
	#content.row.layout1 .column.right, #content.row.layout1 .column.center .expertise {
		width: 90%;
		margin: 0;
		padding: 0 16px;
	}
	#content.row.layout1 .column .expertise ul li {
		min-width: 266px;
	}
	#content.row .column .expertise div.description {
		width: 100%;
	}
	#content.row .column .expertise div.description .text {
		width: 154px;
	}
	div.block.what_we_do {
		width: 90%;
		margin: 0 auto;

	}
	div.block.what_we_do ul li {
		width: 90%;
	}
	.no-link-style img {
		width: 255px
	}
	/**********logo***********/
	#header .logo-container {
		min-width: 320px;
		width: 100%;
		float: left;
		height: 80px;
		top: 20px;
	}
	.news #content.row.layout4 .column.content h1 {
		padding: 0 0 10px;
	}


	/**********Nav************/


	div#container, #content.row {
		min-width: 320px;
		width: 100%;
	}

	#content.row .column.menu a#pulldown:after {
		content:"";
		background: url("/img/appco/nav-icon.png") no-repeat scroll center center #ff6633;
		float: right;
		width: 26%;
		height: 30px;
		display: inline-block;
		position: relative;
		right: 14px;
		top: 5px;
	}
	/**********Content*****************/
	#content.row .content div {
		padding: 0 5px;
	}
	#banner {
		width: 100%;
	}
	#banner .left {
		//display: none;
		height: auto;
		width: 100%;
		img {
			min-width: 100%;
		}
	}
	#banner .right {
		display: none;
	}
	.outter {
		min-width: 100%;
	}
	#content.row .column.menu {
	    margin: 0;
	    padding:0;
	    min-width: 100%;
	    ul {
		    margin: 0;
	    }
	}

	#content.row.layout2 .column.content {
	    clear: both;
	    margin: 0;
	    float: left;
	    min-width: 100%;
	    width: 100%;

	}
	#content.row.layout2 .column.right {
		min-width: 100%;
		margin: 0;
		padding: 0;
	}
	.expertise {

		margin: 0 auto;
		h2 {
			padding: 0 10px;
		}
	}
	#content.row .column .expertise div.description{
		width: 146px;
	}
	.column.right .expertise .description .text h3 {
		padding-bottom: 5px;
	}
	#content.row .column .expertise div.description .text {
		height: 100px;
		p {
		    font-family: inherit;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 18px;
		    margin-bottom: 10px;
		    text-rendering: optimizelegibility;
		}
	}
	.copyright {
		min-width: 100%;
	}
	.copyright ul, .expertise ul {
		//margin-left: 0.4rem;
		margin:0;

	}
	.cobra-company {
		text-align: center;
	}
	/**********footer*****************/
	#footer .grey .copyright ul {
		font-size: 16px;
	    width: 90%;
	}
	#footer li {
		padding-bottom:5px;
	}
	#footer li a {
		text-decoration: none;
	}
	.logos {
		float: left;

	}
	.logos ul {
		padding-left: 30px;
	}
	#footer .right {
		margin-top: 34px;
	}
	.rights ul {
		padding: 10px 60px 0;
	}
	#footer ul {
		float: left;

	}
	#footer .outter {
		width: 100% !important;
	}
	#footer .rights {
		clear: both;
		float: left !important;
		min-width: 100%;
	}

	/*******Our People************/
	#content.row.layout3 .column.content {
		margin: 0;
		width: 100%;
	}
	#content.row.layout3 div.keyplayer, .person .description {
		float: left;
		display: block;
		width: 70% !important;
		overflow: auto;
	}
	.keyplayer .description {
		float: left;
		display: block;
		width: 70% !important;
		overflow: auto;
	}

	/*********what we do *********/
	#content.row .content div h3 {

		padding: 0;
		margin: 0;
		img {
			min-width: 20%;
			height: auto !important;
			margin: 10px 20px !important;
		}
		br {
		    display: none;
		}

	}
	#content.row .content div p {
		margin: 0;
		padding: 0;
		img {
			clear:both;
			min-width: 20%;
			height: auto !important;
			margin: 10px 20px !important;
		}
		br {
		    display: none;
		}
	}

	/******* News ************/
	.news nav {
		width: 100%;

	}

	.news nav {
	    background: none repeat scroll 0 0 #e53741;
	    clear: both;
	    height: 30px;
	    padding: 0;
	    position: relative;
	    width: 100%;
	    z-index: 5;
	    ul {
		    margin: 0;
	    }
	    li, .home {
		    background: none repeat scroll 0 0 #f3f3f3;
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    font-size: 13px;
		    font-weight: normal;
		    line-height: 18px;
		    list-style: outside none none;
		    margin: 0;
			display:block;
			clear:left;
			float: none;
			padding: 0;

	    }
	}
	.news {
		min-width: 100%;
		#banner {
			display: none;
		}
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
			h1 {
				font-size:200%;
				width: 90%;
			}
			.article {
				margin: 0;
				padding: 0;
			}
			.article .arrow-read {
				position: inherit;
				bottom: 0;
			}
			.description {
				padding: 0 16px;
				width: 90%;
				height: 100%;
				h2 {

					width: 100%;
				}
			}
		}

		#content.row.layout4 .column.content .image, .news-image {
			width: 288px;
			height: auto;
			text-align: center;
		}

		#content.row .content div {
			margin-bottom: 20px;
			padding: 0;
		}
		#content.row.layout4 .column.content .description {
			padding: 0;
			width: 100%;
		}
		#content.row.layout4 .column.right {
		    width: 90%;
		    padding: 0 16px;
		    margin: 0 auto;
		    text-align: center;
		}
	}

	/******** appco-worldwide *********/
	.filters, #Allregions, #Europe, #Asia, #Americas, #Australasia {
		display: none;
	}
	.mobile {
		display: block;
	}
	#content.row.layout4 .column.content {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.appco-worldwide {
		h1 {
			padding: 20px 10px;
		}
		min-width: 100%;
		#content.row .content div p br {
			display: block;
		}
		#content.row.layout4 .column.content {
			min-width: 100%;
		}
		.filters .left , .filters .right {
			width: 310px;
		}
		.filters select {
			width: 250px;
		}
		#countries_filter table {
		  width: 100% !important;
		}
		#countries_filter table tr td {
		  margin-top: 20px;
		  width: 100%;
		}
	}

	/*************Contact us*******************/
	.contact-us {
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
		}
		#content.row .content div {
			padding: 0;
		}
	    .google-maps {
	        position: relative;
	        padding-bottom: 5%; // This is the aspect ratio
	        height: 280px;
	        width: 290px;
	        overflow: hidden;
    	}
	    .google-maps iframe {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 100% !important;
	    }
	    #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 16px;
			margin: 0;
	    }
	}

	/**********Clients****************/
	.clients, .klienter {
		min-width: 100%;
		#content.row.layout4 .column.content, #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 16px;
			margin: 0;
		}
		.content img, .content img {
			padding: 3px;
		}
	}

}

/* iPhone 6 =----------- */
@media only screen and (min-device-width: 736px) and (max-device-height: 414px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

	body {
		width: 100%;
		background: none repeat scroll 0 0 #ffffff;
	}
	.mobile-nav {
	    background-color: #e53741;
	    display: block;
	    padding-bottom: 7px;
	}

	.home a {
    	font-size:14px !important;
	}

	/* Clearfix */

	.mobile-clearfix:before,
	.mobile-clearfix:after {
	    content: " ";
	    display: table;
	}
	.mobile-clearfix:after {
	    clear: both;
	}
	.mobile-clearfix {
	    *zoom: 1;
	}
	#pull{
		display: block;
	}
	div#container, #content.row {
		min-width: 414px;
		margin: 0;
	}
	/***********Homepage***********/
	#content.row.layout1 .column.left p {
		font-size: 125%;
	}
	#content.row.layout1 .column.left {
		width: 90%;
		padding: 0 16px;

	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#content.row .column {
		width: 100%;
		float: left;
	}
	#content.row.layout1 .column.right, #content.row.layout1 .column.center .expertise {
		width: 90%;
		margin: 0;
		padding: 0 16px;
	}
	#content.row.layout1 .column .expertise ul li {
		min-width: 266px;
	}
	#content.row .column .expertise div.description {
		width: 100%;
	}
	#content.row .column .expertise div.description .text {
		width: 154px;
	}
	div.block.what_we_do {
		width: 90%;
		margin: 0 auto;

	}
	div.block.what_we_do ul li {
		width: 90%;
	}
	.no-link-style img {
		width: 255px
	}
	/**********logo***********/
	#header .logo-container {
		min-width: 320px;
		width: 100%;
		float: left;
		height: 80px;
		top: 20px;
	}
	.news #content.row.layout4 .column.content h1 {
		padding: 0 0 10px;
	}


	/**********Nav************/
	div#content.row div.column.menu h2 {
		background: none repeat scroll 0 0 #ff6633;
		padding: 0 0 4px 10px;
	}
	#content.row .column.menu, nav {
		border-bottom: 0;
	}
	#content.row .column.menu ul, nav ul {
		display: none;
		height: auto;
		min-width: 100%;
	}
	nav a#pull {
		display: block;

	}
	div#container, #content.row {
		min-width: 320px;
		width: 100%;
	}

	#content.row .column.menu a#pulldown:after {
		content:"";
		background: url("/img/appco/nav-icon.png") no-repeat scroll center center #ff6633;
		float: right;
		width: 26%;
		height: 30px;
		display: inline-block;
		position: relative;
		right: 14px;
		top: 5px;
	}
	/**********Content*****************/
	#content.row .content div {
		padding: 0 5px;
	}
	#banner {
		width: 100%;
	}
	#banner .left {
		//display: none;
		height: auto;
		width: 100%;
		img {
			min-width: 100%;
		}
	}
	#banner .right {
		display: none;
	}
	.outter {
		min-width: 100%;
	}
	#content.row .column.menu {
	    margin: 0;
	    padding:0;
	    min-width: 100%;
	    ul {
		    margin: 0;
	    }
	}

	#content.row.layout2 .column.content {
	    clear: both;
	    margin: 0;
	    float: left;
	    min-width: 100%;
	    width: 100%;

	}
	#content.row.layout2 .column.right {
		min-width: 100%;
		margin: 0;
		padding: 0;
	}
	.expertise {

		margin: 0 auto;
		h2 {
			padding: 0 10px;
		}
	}
	#content.row .column .expertise div.description{
		width: 146px;
	}
	.column.right .expertise .description .text h3 {
		padding-bottom: 5px;
	}
	#content.row .column .expertise div.description .text {
		height: 100px;
		p {
		    font-family: inherit;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 18px;
		    margin-bottom: 10px;
		    text-rendering: optimizelegibility;
		}
	}
	.copyright {
		min-width: 100%;
	}
	.copyright ul, .expertise ul {
		//margin-left: 0.4rem;
		margin:0;

	}
	.cobra-company {
		text-align: center;
	}
	/**********footer*****************/
	#footer .grey .copyright ul {
		font-size: 16px;
	    width: 90%;
	}
	#footer li {
		padding-bottom:5px;
	}
	#footer li a {
		text-decoration: none;
	}
	.logos {
		float: left;

	}
	.logos ul {
		padding-left: 30px;
	}
	#footer .right {
		margin-top: 34px;
	}
	.rights ul {
		padding: 10px 60px 0;
	}
	#footer ul {
		float: left;

	}
	#footer .outter {
		width: 100% !important;
	}
	#footer .rights {
		clear: both;
		float: left !important;
		min-width: 100%;
	}

	/*******Our People************/
	#content.row.layout3 .column.content {
		margin: 0;
		width: 100%;
	}
	#content.row.layout3 div.keyplayer, .person .description {
		float: left;
		display: block;
		width: 70% !important;
		overflow: auto;
	}
	.keyplayer .description {
		float: left;
		display: block;
		width: 70% !important;
		overflow: auto;
	}

	/*********what we do *********/
	#content.row .content div h3 {

		padding: 0;
		margin: 0;
		img {
			min-width: 20%;
			height: auto !important;
			margin: 10px 20px !important;
		}
		br {
		    display: none;
		}

	}
	#content.row .content div p {
		margin: 0;
		padding: 0;
		img {
			clear:both;
			min-width: 20%;
			height: auto !important;
			margin: 10px 20px !important;
		}
		br {
		    display: none;
		}
	}

	/******* News ************/
	.news nav {
		width: 100%;

	}

	.news nav {
	    background: none repeat scroll 0 0 #e53741;
	    clear: both;
	    height: 30px;
	    padding: 0;
	    position: relative;
	    width: 100%;
	    z-index: 5;
	    ul {
		    margin: 0;
	    }
	    li, .home {
		    background: none repeat scroll 0 0 #f3f3f3;
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    font-size: 13px;
		    font-weight: normal;
		    line-height: 18px;
		    list-style: outside none none;
		    margin: 0;
			display:block;
			clear:left;
			float: none;
			padding: 0;

	    }
	}
	.news {
		min-width: 100%;
		#banner {
			display: none;
		}
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
			h1 {
				font-size:200%;
				width: 90%;
			}
			.article {
				margin: 0;
				padding: 0;
			}
			.article .arrow-read {
				position: inherit;
				bottom: 0;
			}
			.description {
				padding: 0 16px;
				width: 90%;
				height: 100%;
				h2 {

					width: 100%;
				}
			}
		}

		#content.row.layout4 .column.content .image, .news-image {
			width: 288px;
			height: auto;
			text-align: center;
		}

		#content.row .content div {
			margin-bottom: 20px;
			padding: 0;
		}
		#content.row.layout4 .column.content .description {
			padding: 0;
			width: 100%;
		}
		#content.row.layout4 .column.right {
		    width: 90%;
		    padding: 0 16px;
		    margin: 0 auto;
		    text-align: center;
		}
	}

	/******** appco-worldwide *********/
	.filters, #Allregions, #Europe, #Asia, #Americas, #Australasia {
		display: none;
	}
	.mobile {
		display: block;
	}
	#content.row.layout4 .column.content {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.appco-worldwide {
		h1 {
			padding: 20px 10px;
		}
		min-width: 100%;
		#content.row .content div p br {
			display: block;
		}
		#content.row.layout4 .column.content {
			min-width: 100%;
		}
		.filters .left , .filters .right {
			width: 310px;
		}
		.filters select {
			width: 250px;
		}
		#countries_filter table {
		  width: 100% !important;
		}
		#countries_filter table tr td {
		  margin-top: 20px;
		  width: 100%;
		}
	}

	/*************Contact us*******************/
	.contact-us {
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
		}
		#content.row .content div {
			padding: 0;
		}
	    .google-maps {
	        position: relative;
	        padding-bottom: 5%; // This is the aspect ratio
	        height: 280px;
	        width: 290px;
	        overflow: hidden;
    	}
	    .google-maps iframe {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 100% !important;
	    }
	    #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 16px;
			margin: 0;
	    }
	}

	/**********Clients****************/
	.clients, .klienter {
		min-width: 100%;
		#content.row.layout4 .column.content, #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 16px;
			margin: 0;
		}
		.content img, .content img {
			padding: 3px; //15px 30px 15px 0;
		}
	}
}

/* 768 ipad =----------- */
@media only screen and (min-device-width: 768px) and (-webkit-device-pixel-ratio: 2){

	body {
		width: 768px;
		background: none repeat scroll 0 0 #ffffff;
	}
	.mobile-nav {
	    background-color: #e53741;
	    display: block;
	    padding-bottom: 7px;
	}

	.home a {
    	font-size:14px !important;
	}

	/* Clearfix */

	.mobile-clearfix:before,
	.mobile-clearfix:after {
	    content: " ";
	    display: table;
	}
	.mobile-clearfix:after {
	    clear: both;
	}
	.mobile-clearfix {
	    *zoom: 1;
	}
	#pull{
		display: block;
	}
	div#container, #content.row {
		min-width: 414px;
		margin: 0;
	}
	/***********Homepage***********/
	#content.row.layout1 .column.left p {
		font-size: 125%;
	}
	#content.row.layout1 .column.left {
		width: 90%;
		padding: 0 16px;

	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#content.row .column {
		width: 100%;
		float: left;
	}
	#content.row.layout1 .column.right, #content.row.layout1 .column.center .expertise {
		width: 90%;
		margin: 0;
		padding: 0 16px;
	}
	#content.row.layout1 .column .expertise ul li {
		min-width: 266px;
	}
	#content.row .column .expertise div.description {
		width: 100%;
	}
	#content.row .column .expertise div.description .text {
		width: 154px;
	}
	div.block.what_we_do {
		width: 90%;
		margin: 0 auto;

	}
	div.block.what_we_do ul li {
		width: 90%;
	}
	.no-link-style img {
		width: 255px
	}
	/**********logo***********/
	#header .logo-container {
		min-width: 320px;
		width: 100%;
		float: left;
		height: 80px;
		top: 20px;
	}
	.news #content.row.layout4 .column.content h1 {
		padding: 0 0 10px;
	}

	/**********Content*****************/
	#content.row .content div {
		padding: 0 5px;
	}
	#banner {
		width: 100%;
	}
	#banner .left {
		//display: none;
		height: auto;
		width: 100%;
		img {
			min-width: 100%;
		}
	}
	#banner .right {
		display: none;
	}
	.outter {
		min-width: 100%;
	}
	#content.row .column.menu {
	    margin: 0;
	    padding:0;
	    min-width: 100%;
	    ul {
		    margin: 0;
	    }
	}

	#content.row.layout2 .column.content {
	    clear: both;
	    margin: 0;
	    float: left;
	    min-width: 100%;
	    width: 100%;

	}
	#content.row.layout2 .column.right {
		min-width: 100%;
		margin: 0;
		padding: 0;
	}
	.expertise {

		margin: 0 auto;
		h2 {
			padding: 0 10px;
		}
	}
	#content.row .column .expertise div.description{
		width: 146px;
	}
	.column.right .expertise .description .text h3 {
		padding-bottom: 5px;
	}
	#content.row .column .expertise div.description .text {
		height: 100px;
		p {
		    font-family: inherit;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 18px;
		    margin-bottom: 10px;
		    text-rendering: optimizelegibility;
		}
	}
	.copyright {
		min-width: 100%;
	}
	.copyright ul, .expertise ul {
		//margin-left: 0.4rem;
		margin:0;

	}
	.cobra-company {
		text-align: center;
	}
	/**********footer*****************/
	#footer .grey .copyright ul {
		font-size: 16px;
	    width: 90%;
	}
	#footer li {
		padding-bottom:5px;
	}
	#footer li a {
		text-decoration: none;
	}
	.logos {
		float: left;

	}
	.logos ul {
		padding-left: 30px;
	}
	#footer .right {
		margin-top: 34px;
	}
	.rights ul {
		padding: 10px 60px 0;
	}
	#footer ul {
		float: left;

	}
	#footer .outter {
		width: 100%;
	}
	#footer .rights {
		clear: both;
		float: left;
		min-width: 100%;
	}

	/*******Our People************/
	#content.row.layout3 .column.content {
		margin: 0;
		width: 100%;
	}
	#content.row.layout3 div.keyplayer, .person .description {
		float: left;
		display: block;
		width: 70%;
		overflow: auto;
	}
	.keyplayer .description {
		float: left;
		display: block;
		width: 70%;
		overflow: auto;
	}

	/*********what we do *********/
	#content.row .content div h3 {

		padding: 0;
		margin: 0;
		img {
			min-width: 20%;
			height: auto;
			margin: 10px 20px;
		}
		br {
		    display: none;
		}

	}
	#content.row .content div p {
		margin: 0;
		padding: 0;
		img {
			clear:both;
			min-width: 20%;
			height: auto !important;
			margin: 10px 20px !important;
		}
		br {
		    display: none;
		}
	}

	/******* News ************/
	.news nav {
		width: 100%;

	}

	.news nav {
	    background: none repeat scroll 0 0 #e53741;
	    clear: both;
	    height: 30px;
	    padding: 0;
	    position: relative;
	    width: 100%;
	    z-index: 5;
	    ul {
		    margin: 0;
	    }
	    li, .home {
		    background: none repeat scroll 0 0 #f3f3f3;
		    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
		    font-size: 13px;
		    font-weight: normal;
		    line-height: 18px;
		    list-style: outside none none;
		    margin: 0;
			display:block;
			clear:left;
			float: none;
			padding: 0;

	    }
	}
	.news {
		min-width: 100%;
		#banner {
			display: none;
		}
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
			h1 {
				font-size:200%;
				width: 90%;
			}
			.article {
				margin: 0;
				padding: 0;
			}
			.article .arrow-read {
				position: inherit;
				bottom: 0;
			}
			.description {
				padding: 0 16px;
				width: 90%;
				height: 100%;
				h2 {

					width: 100%;
				}
			}
		}

		#content.row.layout4 .column.content .image, .news-image {
			width: 288px;
			height: auto;
			text-align: center;
		}

		#content.row .content div {
			margin-bottom: 20px;
			padding: 0;
		}
		#content.row.layout4 .column.content .description {
			padding: 0;
			width: 100%;
		}
		#content.row.layout4 .column.right {
		    width: 90%;
		    padding: 0 16px;
		    margin: 0 auto;
		    text-align: center;
		}
	}

	/******** appco-worldwide *********/
	.filters, #Allregions, #Europe, #Asia, #Americas, #Australasia {
		display: none;
	}
	.mobile {
		display: block;
	}
	#content.row.layout4 .column.content {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.appco-worldwide {
		h1 {
			padding: 20px 10px;
		}
		min-width: 100%;
		#content.row .content div p br {
			display: block;
		}
		#content.row.layout4 .column.content {
			min-width: 100%;
		}
		.filters .left , .filters .right {
			width: 310px;
		}
		.filters select {
			width: 250px;
		}
		#countries_filter table {
		  width: 100% !important;
		}
		#countries_filter table tr td {
		  margin-top: 20px;
		  width: 100%;
		}
	}

	/*************Contact us*******************/
	.contact-us {
		#content.row.layout4 .column.content {
			width: 90%;
			padding: 0 16px;
		}
		#content.row .content div {
			padding: 0;
		}
	    .google-maps {
	        position: relative;
	        padding-bottom: 5%; // This is the aspect ratio
	        height: 280px;
	        width: 290px;
	        overflow: hidden;
    	}
	    .google-maps iframe {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 100% !important;
	    }
	    #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 16px;
			margin: 0;
	    }
	}

	/**********Clients****************/
	.clients, .klienter {
		min-width: 100%;
		#content.row.layout4 .column.content, #content.row.layout4 .column.right {
			width: 90%;
			padding: 0 16px;
			margin: 0;
		}
		.content img, .content img {
			padding: 3px;
		}
	}
}
@media (max-width : 500px) {
	.container-wrapper {
		#content.row.layout3 .column.content {
			width: 90%;
			padding: 5%;
			margin: 0;
			.people .person {
				.image {
					width: 100% !important;
					margin: 0 auto;
					img {
					    padding: 0 5%;
					    width: 90%;
					}
				}
				.description {
					width: 90% !important;
					padding:0 5%;
				}

			}
		}
		#content.row.layout3 div.keyplayer {
			width: 100%;
			.description {
				width:100%;
			}
		}
		#content.row.layout4 .column.content {
		    margin: 0;
		    padding: 0 5%;
		    width: 90%;
			.article {
				padding: 0;
				margin: 0;
				width: 100%;
			}
			.image {
				width: 100%;
				height: auto;
				img {
					width: 100%;
				}
			}
			.description {
				width: 100%;
				h2 {
					width: 100%;
					a {
						font-size: 1.6vmax;
					}
				}
				p {
					font-size: 1.1vmax;
				}
			}
			.filters {
				width: 100%;
				display: none;
				.left {
					width: 50%;

				}
				.right {
					width: 50%;
				}
				.input {
					display: none;
				}
			}
			#countries_filter table tr td {
			    border-bottom: 1px solid red;
			    float: left;
			    margin-top: 20px;
			    width: 100%;
			    h4 {
				    color: #e53741;
			    }
			}
		}
	}
}

@media (max-width : 768px) {
	.container-wrapper {
		#content.row.layout3 .column.content {
			width: 90%;
			padding: 5%;
			margin: 0;
			.people .person {
				.image {
					width: 100% !important;
					margin: 0 auto;
					img {
					    padding: 0 5%;
					    width: 90%;
					}
				}
				.description {
					width: 90% !important;
					padding:0 5%;
				}

			}
		}
		#content.row.layout3 div.keyplayer {
			width: 100% !important;
			.image{
				width: 100% !important;
				img {
					text-align: center;
					width: 80%;
					margin: 0 10%;
				}
			}

			.description {
				width:100% !important;
			}
		}
		#content.row.layout4 .column.content {
		    margin: 0;
		    padding: 0 5%;
		    width: 90%;
			.article {
				padding: 0;
				margin: 0;
				width: 100%;
			}
			.image {
				width: 100%;
				height: auto;
				img {
					width: 100%;
				}
			}
			.description {
				width: 100%;
				h2 {
					width: 100%;
					a {
						font-size: 1.6vmax;
					}
				}
				p {
					font-size: 1.1vmax;
				}
			}
			.filters {
				width: 100%;
				.left {
					width: 50%;
				}
				.right {
					width: 50%;
				}
			}
		}
		#content.row.layout4 .column.right {
				width: 90%;
				padding: 0 5%;
		}

	}
.breadcrumb {
	margin: 10px;
}

}

@media (max-width : 960px) {

	.container-wrapper {
		h1 {
		    font-size: 150%;
		    padding: 3% 0;
		    text-align: center;
		    width: 100%;
		}
		#banner .left {
			width: 100%;
			img {
				width: 100%;
			}
		}
		#banner .right {
			display: none;
		}
		#content.row .column.menu {
			padding: 0;
			width: 100%;
		}
		#content.row.layout3 .column.content {
			width: 90%;
			padding: 5%;
			margin: 0;
			.people .person {
				.image {
					width: 100% !important;
					margin: 0 auto;
					img {
					    padding: 0 5%;
					    width: 90%;
					}
				}
				.description {
					width: 90% !important;
					padding:0 5%;
				}
			}
		}

		#content.row.layout2 .column.content {
			width:90%;
			padding: 0 5%;
			margin: 0;
		}
		#content.row .column.menu ul {
			margin: 0;
			.submenu {
				    left: 0;
					position: relative;
			}
		}
	.breadcrumb p {
		margin: 10px;
	}

	}

}
