.container-wrapper {
	clear: both;

	  padding: 0;
	  margin: 0 auto;
	  max-width: 960px;
	  margin-top: 74px;
}
table
{

    padding:0 0 0 0;
    border-collapse:collapse;
    border-spacing:0;
    display:block;
}

/********* Nav links**************/
	#nav-mobile {
	  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	  font-size: 12px;
	  font-weight: bold;
	  line-height: 15px;
	  text-align: center;
	  margin: 0 auto;
	  width: 100%;
	  position: fixed;
	  border: 0 0 5px;
	  height: 70px;
	  background: #fff none repeat scroll 0 0;
	  opacity: 0.90;
	  filter: alpha(opacity=90); /* For IE8 and earlier */
	  z-index: 999;
	}
	#nav-mobile > ul {
	  list-style-type: none;
	  padding: 0;
	  margin: 0 auto;
	  position: fixed;
	  top: 0;
	  width: 100%;
	}
	.mobile-menu {
		height: 70px;
		border-bottom: 5px solid #666;
	}
	#nav-mobile > ul li#responsive-tab {
	  display: none;
	  /* Hide for large screens */

	}
	#nav-mobile > ul li {
	  display: inline-block;
	  *display: inline;
	  zoom: 1;
	}
	#nav-mobile > ul li a {
		display: none;
		color: #fff;
		display: block;
		padding: 26px 12px;
		text-decoration: none;


	}

	#nav-mobile > ul li.right {
	  float: right;
	}
	#nav-mobile > ul li.deeper {
	  position: relative;
	}
	#nav-mobile > ul li.deeper:hover ul {
	  display: block;
	}
	#nav-mobile > ul li.deeper ul {
	  display: none;
	  width: 100%;
	  min-width: 230px;
	  position: absolute;
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	  background: #fd4c57;
	  color: #fff;
	  opacity: 0.80;
	  filter: alpha(opacity=80); /* For IE8 and earlier */

	 // border-bottom: 3px solid #d9ced2;
	  border-top: 0 none;
	  a {
			text-align: center;
			width: 90%;
			border-bottom: 1px solid #c82634;

	  }
	}
	#nav-mobile > ul li.deeper ul li {
	  display: block;
	  padding: 0 22px;
	}




	#nav-mobile > ul li.deeper > a {
	  color: #000;
	  background-repeat: no-repeat;
	  background-position: 90% -95%;
	}
	#nav-mobile > ul li.deeper > a.active,
	#nav-mobile > ul li.deeper > a:hover {
// 	  border: 1px solid #e4240a;
	  background-position: 90% 195%;
	}
	#nav-mobile > ul li a {
		display: none;
		color: #fff;
		display: block;
		padding: 26px 12px;
		text-decoration: none;


	}
	#back {
		display: none !important;
	}
	#nav-mobile > ul li a.active,
	#nav-mobile > ul li a:hover {
		background: #fd4c57;
		color: #fff;
	    opacity: 0.9;
	    filter: alpha(opacity=90); /* For IE8 and earlier */

	}

	.hasSubmenu .subdeeper a {
		padding: 0;

	}

	.hasSubmenu .subdeeper a.active,
	.hasSubmenu .subdeeper a:hover {
	//	padding: 26px 20px !important;
	//	width: 100%;
		text-align: center;
	    width: 100% !important;
	    padding: 26px !important;
	    margin-left: -26px;
		background: #fff !important;
		color: #000 !important;
		border: 0;
		border-bottom: 1px solid #d9ced2 !important;
	}
	.mobile-home {
		display: none;
	}
	.home a {
		background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
		width: 140px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
	}
	.home a.active {

		opacity: 1 !important;
		filter: alpha(opacity=100) !important; /* For IE8 and earlier */
	}
	#pull {
		display: none;
	}
	.at4-share-title {
		background-color: #000;
		color: #fff;
		padding: 3px 6px;
		opacity: 0.5;
		font-size: 10px;

	}
	.at4-share-title:after {
		content: " it";

	}

	.google-search {
	    background-color: #000;
	    clear: both;
	    margin-top: 70px;
	    background-color: rgba(0,0,0,0.2);
	    position: fixed;
	    width: 100%;
	    z-index: 800;
	}
	.google-close-button {
	    float: right;
	    padding: 20px;
	    position: relative;
	}
	.google-search-box {
		max-width: 960px;
		margin: 0 auto;
	}

	.gsc-control-cse {
		float: right;
		width: 360px !important;
		background-color: rgba(0,0,0,0) !important;
		//border: 5px solid red;
		border-color: rgba(0,0,0,0) !important;
		opacity: 1;
		padding: 10px 0 10px 16px;
		padding: 1.6em 0 1em 1em !important;
	}

	input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
		background-color: #e35557 !important;

	}
	.gsc-search-button-v2 {
		border-color: #898989 !important;
	}

	#banner .bx-wrapper .bx-pager {
	    bottom: 15px;
	    margin-top: -80px;
	    padding: 0;
	    position: absolute;
	    z-index: 888;
	    text-align: center;
	    font-size: 0.85em;
	    font-family: Arial;
	    font-weight: bold;
	    color: #666;
	    padding-top: 10px;
	    padding-bottom: 10px;

	}

#banner {
	.bx-wrapper {
		margin: 0 auto;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
	    border: 2px solid #ffffff;
	    border-radius: 50%;
	    height: 8px;
	    transition: background-color 0.5s ease-in-out 0s;
	    width: 8px;
	    z-index: 86;
		background: rgba(0,0,0,0);
		-webkit-transition: background-color .5s ease-in-out;
		-moz-transition: background-color .5s ease-in-out;
		-o-transition: background-color .5s ease-in-out;
		-ms-transition: background-color .5s ease-in-out;
		transition: background-color .5s ease-in-out;
	}

	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active , .bx-wrapper .bx-pager.bx-default-pager a:hover  {
		background-color: #ff4c56;
	}
}

.bx-wrapper .bx-pager {
    padding-top: 10px;
    padding-bottom: 10px;

}
.clock {
			margin-bottom:10px;
		}
/*************front-page-parallax*******************/
#banner {
	.bx-wrapper img {
		width: 100%;
	}
	.imageInfo {
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		text-transform: uppercase;
	    position: absolute;
	    //text-align: center;
	    top: 40%;
	    width: 100%;
	    z-index: 2000;

	}
	.imageTitle {
	    color: #fff;
	    text-shadow: 0px 0px 10px #000;
	    font-size: 540%;
	    font-weight: bold;
	    line-height: 100%;
	    margin: 0;
	    text-align: center;
	}
	.imageCaption {
	    color: #fff;
	    text-shadow: 0px 0px 10px #000;
	    font-size: 300%;
	    line-height: 140%;
	    margin: 0;
	    text-align: center;
	}
	.bx-wrapper .bx-controls-direction a {
		z-index: 90;
	}
}
.row {
	clear: both;
	width: 100%;
	position: relative;


}
.first-row {
	background-color: #a61f2f;
	min-height: 220px;
	.first-row-mobile {
		display: none;
	}
	.parallax-intro {
		background-color: #ea2c43;
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;

		.row-left-intro {

			float: left;
			background-color: #a61f2f;
			width: 50%;
			margin: 0;
			padding: 10px 0;
			.intro-square {
				width: 170px;
				height: 146px;
				padding: 7%;
				float: right;

			}

		}
		h1 {
		    color: white;
		    font-size: 300%;
		    font-weight: bold;
		    line-height: 100%;
		    margin: 0;
		    text-align: left;
		    text-transform: uppercase;
		    width: 200px;
		    text-align: left;

			span{
			    font-size: 110%;
			    line-height: 88%;
			    margin: 0;
			    padding: 7% 0;
			    text-transform: none;
			    text-align: left;
			}
		}

		.parallax-right-column {
			float: left;
			background-color: #ea2c43;
			margin: 0;
			padding: 10px 0;
			width: 50%;
			p {
				color: #ffffff;
				width: 100%;
				max-width: 400px;

			}
			.introtext li {
				padding: 30px;
			}
			.introtext li p {
				color: #ffffff;
			}
			ul.bxslider {
			  margin: 0;
			  padding: 0;

			}
			.list-inline li {
				min-height: 220px;
			}


			.bx-wrapper {
				float: left;
				//padding: 10px;

				p {
					color: #fff;
					font-size: 15px;
				}
			}
			.bx-wrapper .bx-viewport {
				max-width: 400px;
			    -moz-box-shadow: 0 0 0 #ccc;
			    -webkit-box-shadow: 0 0 0 #ccc;
			    box-shadow: 0 0 0 #ccc;
			    border: 0px;
				left: 0;
			    color: #fff;
			    background: #ea2c43;
			    padding-top: 5%;
			}
			.parallax-text-column {
				padding: 10px 0 10px 20px;
				max-width: 350px;
			}

			.bx-wrapper {
				margin: 0 auto;
			}
			.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
				position: static;
			}
			.bx-wrapper .bx-pager.bx-default-pager a {
			    border: 2px solid #ffffff;
			    border-radius: 50%;
			    height: 8px;
			    transition: background-color 0.5s ease-in-out 0s;
			    width: 8px;
			    z-index: 86;
				background: #fff none repeat scroll 0 0;
				-webkit-transition: background-color .5s ease-in-out;
				-moz-transition: background-color .5s ease-in-out;
				-o-transition: background-color .5s ease-in-out;
				-ms-transition: background-color .5s ease-in-out;
				transition: background-color .5s ease-in-out;
			}

			.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active , .bx-wrapper .bx-pager.bx-default-pager a:hover  {
				background-color: #ff4c56;
			}


		}
	}
}
.social-row {
	background-color: #f0f0f0;
	display: inline-block;
	.social-row-wrapper {
	   	margin: 0 auto;
	    max-width: 960px;
		.social-header {
			text-align: center;
			font-size: 600%;
			font-family: 'Century Gothic', arial;
			font-weight: bold;
			letter-spacing: 0.3em;
			color: #dddddd;
		}

		.row-two-left-column {
			    float: left;
			    margin: 0;
			    padding: 0 0 10px;
			    width: 48%;
				.base-row {
				    float: right;
				}
				.social-table {
					list-style: none;
					display: block;
					width: 100%;
					.social-table-row {
						width: 100%;

					}
					.social-cell-verticle {
					    background-color: #fff;
					    margin-right: 4%;
					    padding-bottom: 2%;
					    margin-bottom: 10px;
					    width: 49%;
						a {
							text-decoration: none;
							.news-item {

							}
						}


						.news-item-image img {
							display: block;
							width: 100%;
						}
						.news-item-row {
							padding: 5px 0;
							h3 {
							    color: #000;
							    font-size: 100%;
							    padding: 20px;
							    text-decoration: none;
							}
						}
						.news-item-row-last {
							clear: both;
							text-align: center;
							td {

								padding: 0 20px;
							}
							.clock, .red {

								float: left;
								font-size: 10px;
							}
							.red {
								color: #fc4a57;
							}
						}
		/*
						.news-item-date {
							width: 40%;
							background-color: blue;
						}
						.news-item-location {
							width: 60%;
							background-color: yellow;
						}
		*/


					}
					.social-cell-gap {
						width: 2%;
					}
					.space {
						height: 10px;
					}
					.social-cell-horizontal {
						//position: absolute;
						width: 100%;
						background-color: #ffffff;
						margin: 10px 0;
						clear: both;
						a {
							text-decoration: none;
						}
						h3 {
						    color: #000;
						    font-size: 100%;
						    padding: 17px 20px;
						    text-decoration: none;
						}
						.clock, .red {

							float: left;
							font-size: 10px;
						}
						.red {
							color: #fc4a57;
						}
						.news-item-row-last {
							padding: 0 20px;
						}
					}
					.red-box {
						background-color: #fc4a57;
						h3, .text, .red, .clock {
							color: #fff;
						}
						.text {
							padding: 0 20px;
						}
						.clock {
							padding: 10px 0;
							margin-bottom:10px;
						}

					}

				}
			}
			.row-two-right-column {
				padding-left: 2%;
				width: 48%;
				float: right;
			}

	}




}
.second-row {
	background: #31819e url('/uploads/2015/08/what-we-do.jpg') top center no-repeat;
	background-size: cover;
    background-repeat: no-repeat;
   // background-position: top center;
    min-height: 400px;

    h2 {
		color: #fff;
	}

    .base-row {
			float: left;
			margin: 0;
			width: 50%;
			max-width: 400px;


			a:nth-child(1) li { background-color: #519ab4; }
			a:nth-child(2) li { background-color: #a61f2f; }
			a:nth-child(3) li { background-color: #613d65; }
			a:nth-child(4) li { background-color: #e86c34; }

			a:nth-child(1):hover li { background-color: #61b5d6; }
			a:nth-child(2):hover li { background-color: #c82634; }
			a:nth-child(3):hover li { background-color: #551d5c; }
			a:nth-child(4):hover li { background-color: #ff8339; }

		.base-item {

		    float: left;
		    max-width: 200px;
		    min-height: 200px;
		    width: 100%;
		}

		.base-item .whatwedo-left-column {
			display: none;
			float: left;
			padding: 18px;
		}


		.base-item .whatwedo-right-column {
			float: left;
			margin-top: 5px;
			max-width: 360px;
			width: 100%;
		}
		.what-we-do-wrap {
			padding: 38px 35px 0;
			text-align: center;
		}

		.what-we-do-wrap .image {
			text-align: center;
		}
		.whatwedo-right-column p {
			color: #ffffff;
		}
		.base-item .whatwedo-right-column h3 {
			color: #fff;
			font-size: 122%;
		}
		.link-style {
			padding: 0 10px !important;
		}

    }
}
.third-row {

	.bx-viewport {
		li {
			position: relative;
		}
		.imageInfo {
			display: none;
		}
		.imageInfo {

		    margin: 0 20%;
		    position: absolute;
		    text-align: center;
		    top: 30%;
		    width: 60%;
		    z-index: 2000;

		}
		.imageTitle {
		    color: #fff;
		    font-size: 150%;
		    font-weight: bold;
		    line-height: 100%;
		    margin: 0;
		    text-align: left;
		}
		.imageCaption {
		    color: #fff;
		    font-size: 100%;
		    line-height: 140%;
		    margin: 0;
		    padding: 10px 0;
		    text-align: left;
		}
		li a:after {
		    content: "";
		    display: block;
		    height: 100%;
			width: 100%;
		    opacity: 0;
		    background: rgba(0,0,0,.7);
		    -moz-transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		    transition: all 0.5s;
		    top: 0;
		    left: 0;
		    position: absolute;

		}

		li a:hover {
		    opacity: 1;
		    content: "";
		    display: block;
		    height: 100%;
			width: 100%;
		    background: rgba(0,0,0,.7);
		    -moz-transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		    transition: all 0.5s;
		    top: 0;
		    left: 0;
		    position: absolute;
		    .imageInfo, .imageTitle, .imageCaption {
			    display: block;
		    }

		}
	}


}

.forth-row {
	background: #e4e4e4;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    .row-forth-right-column {
		padding: 0;

    }
    .parallax-news {
	    background: red;
	    padding: 0;
	    margin: 0;
	    .base-row {
				float: left;
				margin: 0;
				width: 50%;


				a:nth-child(1) li , a:nth-child(3) li  {
					background-color: #f1f1f1;
					color: #373737;

					}
/*
				a:hover li , a:hover h3, a:hover p {
					color: #fff;
					text-decoration: none;
					background-color: #7b7b7b;
				}
*/

				a:hover li , a:hover h3, a:hover p {
					color: #666;
					text-decoration: underline;

				}

				a {
					clear: both;
					float: left;
				}
			.base-item {
				height: 100px;
				max-width: 400px;
				width: 100%;

			}

			.base-item {
				float: left;
				max-width: 360px;
				display: block;
			}
			.base-item .base-item-wrap {
				padding: 10px 0 10px 20px;
			}
			.base-item p {
				clear: both;
			}
			.base-item h3 {
				float: left;
				color: #373737;
				font-size: 110%;
				padding: 5px 0;

			}
			.base-item-date {
				color: #e53741;
				font-weight: 200;
				font-style: italic;
			}
			.base-item h4 {
				float: left;
				color: #e53741;
				font-size: 110%;
				margin: 0;
			}
			.link-style {
				padding: 0 10px !important;
			}

	    }
    }

}


/* Generic configuration */

    .row-two-left-column , .row-forth-left-column {

		    float: left;
		    margin: 0;
		    padding: 10px 0;
		    width: 50%;
			.intro-square {
			    float: right;
			    height: 146px;
			    padding: 12% 7% 0 7%;
			    width: 200px;

			}
		h2 {

		    font-size: 400%;
		    font-weight: bold;
		    text-shadow: 0px 0px 20px #000;
		    line-height: 88%;
		    margin: 0;
		    padding: 10% 0;
		    text-align: center;
		    text-transform: uppercase;
		    width: 200px;
			span{
			    font-size: 86%;
			    font-weight: bold;

			    margin: 0;
			    text-align: center;
			    text-transform: uppercase;

			}
		}

    }
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
	margin: 0 20px 0 0 !important;
}
.bx-wrapper .bx-viewport {
	border: 0;
	box-shadow: 0;
}


.font-decor {
	font-size: 100px;
	font-weight: 900;
	color: #fff;
}

#footer {
	margin: 0;
	padding: 0;
	height: 320px;


	.outter {
		width: 100%;
		height: 142px;
		.left {
			padding: 3% 0;
		}
		.right {
			padding: 3% 0;
		}
	}
	.grey {
		height: 142px;
		margin: 0;
		padding:0;
		background-color: #56595c;
		.left {
			padding: 0;
		}
		.left img {
			padding: 10% 0;
		}
		.right {
			padding: 6% 0;
			color: #ffffff;
			ul li {
				padding: 0;

			}
			.seperator {
				padding: 0 2px;
				font: 14px 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			}

			a {
				color: #ffffff;
				text-decoration: none;
				font: 13px 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			}
		}
		.rights {
			background-color: #3f3f3f;
			color: #ffffff;
			text-align: center;
			width: 100%;
			padding-top: 10px;
			p {
				font: 11px 'Arial', sans-serif;
				color: #ffffff;
			}
		}
	}
	.bottom-links-left {
		float:left;
		width: 50%;
		p {
			padding-top: 16px;
			text-align: left;
		}
	}
	.bottom-links-right {
		h3 {
			color: #fff;
			padding: 12px 20px 0 0;
		}
		float: right;

		.addthis_follow_label {
			display: none;
		}
		.addthis_toolbox, .addthis_default_style, .addthis_32x32_style {
			display: none;
		}
	}
	.bottom-links-right-title {
		float: left;

	}
	.bottom-links-right-links {
		float: left;
		padding: 5px 0px 0 0;
	}
	.bottom-links-wrapper {
		margin: 0 auto;
		 max-width: 960px;
	}
}

.brand-colours {
	clear: both;
	width: 100%;
	height: 6px;
	display: block;

	span {
		float: left;
		width:16.66%;
	    font-size: 100%;
	    line-height: 6px;

	}
	.red {
		background-color: #f63b49;
	}
	.brown {
		background-color: #95232e;
	}
	.blue {
		background-color: #55a2be;
	}
	.orange {
		background-color: #eb6f2f;
	}
	.purple {
		background-color: #9a439c;
	}
}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    border: 0px;
    left: 0;

}
	//bxslider
	.bx-wrapper .bx-prev {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/left-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

	.bx-wrapper .bx-prev:hover , .bx-wrapper .bx-next:hover {
		background-position: 0 0 !important;
	}
	.bx-wrapper .bx-next {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/right-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

.gsc-results-wrapper-overlay {
	top:80px;
	z-index: 999999;
}
.google-search {
	z-index: 1888;
}
.client .list-inline ul {
  margin: 0px;
}

#content.row.layout4 .column.content ul li{
  float: left;
}


#content.row.layout4 .column.content ul {
    clear: both;
    float: left;
    margin: 0;
}
.klienter .content h3, .clients .content h3 {
	clear: both;
}

/* mobile version */
/* responsive menu */

@media (max-width : 1000px) {


	.mobile-home {
		display: block;
		position: fixed;
	}
	.mobile-home a {
		display: block;
		background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
		width: 140px;
		height: 65px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
		text-indent: -1000px;
	}

 	#nav-mobile {
	 	position: fixed;
	 	width: 100%;
	 	margin: 0;

 	}
 	.home {
	 	display: none !important;
 	}

	#nav-mobile > ul {
	clear: both;
	position: relative;
	display: none;
	background-color: #fff;
	margin: 0;
	width: 90%;
	top: auto;

	}
	#nav-mobile > ul li.deeper:hover ul {
	  display: none;
	}

	nav a#pull {
	    display: block;
	}
	.hasSubmenu .subdeeper a.active,
	.hasSubmenu .subdeeper a:hover {
	//	padding: 26px 20px !important;
	//	width: 100%;
		text-align: center;
	    width: 100% !important;
	    padding: 15px 0 !important;
	    margin-left: -26px;
		background: #666666 !important;
		color: #fff !important;
		border: 0;
		border-bottom: none !important;
	}
	#pull {
		display: block;
	    background: #666 url("/img/appco/nav-icon.png") no-repeat scroll center center;
	    float: right;
	    height: 20px;
	    width: 60px;
	    position: relative;
	    margin: 0;
	    padding: 25px 0;
	}

	 #nav-mobile li,  #nav-mobile .home {
	    border-bottom: 1px solid #fff;
	    display: block;
	    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
	    font-size: 13px;
	    font-weight: normal;
	    line-height: 18px;
	    list-style: outside none none;
	    margin: 0;
	}



  #nav-mobile > ul li#responsive-tab {
    display: block;
  }
  #nav-mobile > ul li#responsive-tab a {
    background: url('/img/appco/nav-icon.png') no-repeat;
    background-position: 95% -35%;
  }
  #nav-mobile > ul li#responsive-tab a:hover {
    background-color: #fd4b58;
    background-position: 95% 135%;
  }
	#nav-mobile > ul li {

	  zoom: 1;
	}
#nav-mobile > ul li a {
  display: block;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
  padding: 10px 0 10px 10px;
  margin: 0;

}
#nav-mobile > ul li a.active,
#nav-mobile > ul li a:hover {
  background: #fd4b58;
  color: #fff;
  text-shadow: 0px 1px 0px #000;

    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
/*
	#nav-mobile > ul li.deeper > a:hover {
		padding: 15px 0;
	}
*/

nav a#pull::after {
    content: "";
    display: inline-block;
    float: right;
   // padding: 24px;
    position: absolute;
    right: 15px;
    top: 0;
}
nav a {
	background: #fff;
	padding: 0;
	margin: 0;
}
	.google-search-box {
		width: 80%;
	}
	.close-button {
		display: none;
	    background: #666 url("/uploads/redesign/close-menu.png") no-repeat scroll center center;
	    float: right;
	    height: 20px;
	    width: 60px;
	    height: 62px;
	    position: relative;
	    margin: 0;

	}
	.close-button:hover {

	    background: #e7e7e7 url("/uploads/redesign/close-menu.png") no-repeat scroll center center;
	}


  #nav-mobile > ul li.right {
    float: none;
  }



	.home a {
		display: block;
		background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
		width: 140px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
	}
	.home a.active ,.home a:hover {
		display: block;
		opacity: 1 !important;
		filter: alpha(opacity=100) !important; /* For IE8 and earlier */
	}
// main nav
  #nav-mobile > ul li.deeper {
    position: relative;
    text-align: left;
    clear: both;
    padding: 0;
    margin: 0;
	width: 100%;
	border-bottom: 1px inset;
	border-right: 1px solid #c7c7c7;
  }
  #nav-mobile > ul li.deeper a {
	   padding: 14px 0 14px 10px;
  }
 #nav-mobile > ul li.deeper a:hover {
  	background-color: #666;
  	color: #fff;
    margin: 0;
	padding: 14px 0 14px 10px;
  	opacity: 8;
  	filter: alpha(opacity=80)
  }
  #nav-mobile > ul li.deeper ul {
 // 	background: url('/uploads/redesign/appco-logo.png') center center no-repeat !important;
 	display: none;
  	position: relative;
    width: 80%;
    background: #ffffff;
    border: 0 none;
    background-color: #fff;
    opacity: 1;
  }
  #nav-mobile > ul li.deeper ul a {
  		width: 100%;
  		border-bottom: 1px solid #666;
  		text-align: left;

	}
  #nav-mobile > ul li.deeper ul li {
    display: block !important;
    padding: 0;
  }

//subnav
#back {
	display: block !important;
}
	#nav-mobile > ul li.hasSubmenu a {

	}

	#nav-mobile > ul li.hasSubmenu a span{
		float: right;
		background: rgba(0, 0, 0, 0) url("/img/menu/grey-arrow.png") no-repeat scroll center center;
		width: 8px;
		height: 13px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
		padding: 7px 10px 0;

	}
	#nav-mobile > ul li.hasSubmenu a:hover span{
		float: right;
		background: rgba(0, 0, 0, 0) url("/img/menu/white-arrow.png") no-repeat scroll center center;
		width: 8px;
		height: 13px;
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */

	}

	#nav-mobile > ul li.hasSubmenu ul.open {
		left: 100%;
	}

  #nav-mobile > ul li.subdeeper {
	display: block;
	text-decoration: none;
	color: #747474;
	margin: 0;
	width: 100%;
  }
 #nav-mobile > ul li.subdeeper a {
		text-align: left;
		padding: 14px 0;
 }

 #nav-mobile > ul li.subdeeper a:hover {
  	background-color: #666;

  }

	.hideTray {
		  position: relative;

		  left: -85%;
		  top: 0;
		  width: 100% !important;
		  -webkit-transition: 0.75s;
		     -moz-transition: 0.75s;
		      -ms-transition: 0.75s;
		       -o-transition: 0.75s;
		          transition: 0.75s;
	}
	.submenu  {
	  position: absolute;
	  left: 100%;
	  top: 0;
	  width: 100%;
	  -webkit-transition: 0.75s;
	     -moz-transition: 0.75s;
	      -ms-transition: 0.75s;
	       -o-transition: 0.75s;
	          transition: 0.75s;
	}

}
@media (max-width: 768px) {
	.second-row .base-row .base-item {
		max-width: 192px;
	}
}

@media (max-width: 640px) {
	.first-row .first-row-mobile {
	    font-weight: bold;
	    line-height: 88%;
	    margin: 0;
		padding: 6% 0;
		width: 100%;
	    color: #fff;
	    display: block;
	    font-size: 150%;
	    text-align: center;
	    text-transform: uppercase;
	}
	.google-search-box {
		width: 60%;
	}
	.google-close-button {
		padding:22px 10px 0 0;
	}
#banner {
	margin-top:70px;
	.bx-wrapper img {
		width: 100%;
	}
	.imageInfo {
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		text-transform: uppercase;
	    position: absolute;
	    text-align: center;
	    top: 30%;
	    width: 100%;
	    z-index: 2000;

	}
	.imageTitle {
	    color: #fff;
	    font-size: 200%;
	    font-weight: bold;
	    line-height: 100%;
	    margin: 0;
	    text-align: center;
	}
	.imageCaption {
	    color: #fff;
	    font-size: 150%;
	    line-height: 100%;
	    margin: 0;
	    padding: 10px 0;
	    text-align: center;
	}
	.bx-wrapper .bx-controls-direction a {
		z-index: 90;
	}
}

	.first-row {
		.parallax-intro {
			.row-left-intro {
				display: none;
				width: 100% !important;
				padding: 10px 0;
				.intro-square {
					width: 100% !important;
					padding: 0 !important;
					height: auto !important;
					h1 {
						padding: 3% 0;
						width: 100%;
						font-size: 150%;
						text-align: center;
						span {
							font-size: 100%;
						}
					}
				}
			}
		}

		.parallax-intro  .parallax-right-column {
			width: 100% !important;
			p {
				padding: 0;
			}
			.parallax-text-column {
				margin: 0 auto;
			}
		}

	}
		.social-row{
			.social-row-wrapper .social-header {
				font-size: 300%;
				letter-spacing: 0.6em;
			}
			.row-two-left-column {
				width: 90% !important;
				margin: 0 5% !important;
				padding: 0 !important;
			}
			.row-two-right-column {
				clear: both;
				width: 90% !important;
				margin: 0 5% !important;
				padding: 0 !important;
			}


		}
	.second-row {
		background: #56595c;
		h2 {
			width: 0;
		}
		.base-row {
			width: 100%;
			max-width: 100%;
		}
		.base-item {
			height: 70px;
			max-width: 100%;

		}
		.base-item h2 {
			display: none;
		}

		.base-item .whatwedo-right-column {
			max-width: 100%;
			padding: 0 !important;
		}
		.base-row .whatwedo-right-column p {
			//display: none;
			font-size: 100%;
		}
		.base-row .base-item {
			width: 50%;
			max-width: 50%;
		}

		.what-we-do-wrap {
			padding: 15% !important;
			h3 {
				padding: 3px 0;
			}
			p {
				padding: 3px 0;
			}
		}
		.row-two-right-column {

		}
		.row-two-left-column, .row-forth-left-column {
			width: 100%;
			padding: 10px 0;
			.intro-square {
				width: 100%;
				padding: 0;
				height: auto;
				h2 {
					padding: 3% 0;
					width: 100%;
					font-size: 150%;
					text-align: center;
					span {
						font-size: 100%;
					}
				}
			}
		}
	}

	.forth-row {
		.row-forth-left-column {
			float: left;
			width: 100%;

		}
		.row-forth-left-column {
			float: left;
			width: 100%;
			.intro-square {
				float: left;
				padding: 0;
				height: auto;
				width: 100%;
				h2 {
					width: 100%;
					font-size: 150%;
					padding: 3% 0%;
					text-align: center;
					span {
						font-size: 100%;
					}
				}
			}
		}
	    .parallax-news {
		    .base-row {
			    width: 100%;
			    a {
				    width: 100%;
			    }
		    }
		    .base-item {
			    width: 100%;
			    max-width: 100% !important;
			    background-color: #fff;
		    }
	    }

	}

	/* Generic */
	#footer {
		height: 264px;
		.outter {
			height: 110px;
		}
		 .outter .left,.outter .right {
			 width: 90%
		 }
		 .right .logos {
			 display:none;
			 width: 100%;
			 li {
				 float: left;
				 padding: 0 5%;
			 }
			li:nth-child(3) { clear: both; }
			img {
			 width: 100%;
		 	}
		 }

		 .left {
			 width: 100%;
			 .cobra-company {
				 width: 100%;
				 text-align: center;
			 }
		 }
		 .grey {
			.outter {
				.left {
					width: 100%;
					img {
						padding: 0;
					}
		 		}
				.right {
				 display: none;
				 padding: 15px 0;
				 float: left;
				 	ul {
					 	text-align: center;
						 float: left;
				 	}
			 	}
			}
							.rights {
								padding-top: 10px;
							}

		 }

	.bottom-links-left {
		float:left;
		width: 100%;
	}
	.bottom-links-right {
		float: left;
		width: 100%;
		clear: both;

	}

	}

	//bxslider
	.bx-wrapper .bx-prev {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/left-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

	.bx-wrapper .bx-prev:hover , .bx-wrapper .bx-next:hover {
		background-position: 0 0 !important;
	}
	.bx-wrapper .bx-next {
		 background: rgba(0, 0, 0, 0) url("/uploads/2015/08/right-arrow.png") no-repeat scroll 0 0;
		 height: 50px !important;
	}

}



/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {

  #nav-mobile > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #nav-mobile > ul ul li.collapsed {
    display: block !important;
  }
}
@media (max-width: 450px) {

.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
    float: right;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 70% !important;
}


}
