<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<?= $data['code'] ?>
		</div>
		<?= $this->Html->link('Edit HTML block', ['controller' => 'blocks', 'action' => 'edit', $id], ['class' => 'btn btn-primary btn-xs']) ?>
	</div>
</div>

