<div class="panel panel-default">
	<div class="panel-body">
		<h3><?php echo $data["section_title"] ?></h3>
		<hr>
			<?php
// 			print_r($data);
			foreach($data["title"] as $key => $title){
				?>
		<p style="margin: 6px 0;">
			<span style="padding: 10px; border: 1px solid grey; margin-right: 20px;"><?= $title ?></span>
			<strong>Link</strong>: <?= $data['link'][$key] ? $data['link'][$key] : $data['slug'][$key] ?>
			<hr>
		</p>
				<?php
			}
			?>

		<?= $this->Html->link('Edit Links', ['controller' => 'blocks', 'action' => 'edit', $id], ['class' => 'btn btn-primary btn-xs']) ?>

	</div>
</div>