<?php
/**
 * @template Frontpage
 * @regions content,siderbar
 *
 */
?>

<h1><?= __('Cobra Group'); ?></h1>

<ul>
<?php foreach ($blocks as $block): ?>
	<li>
		<?= pr($block) ?>
	</li>
<?php endforeach; ?>
</ul>

