/*
Theme Name: Appco Group 2016
Description: Custom blog template for Appco Group
Version: 1.0.0
Author: Click Consult
Tags: 
*/

/* required by Wordpres */

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin: 4px 14px 10px 0px;
}

.alignright {
	float: right;
	margin: 4px 0px 10px 14px;
}


.wp-left{
	width: 100%;
	float: left;
}

.wp-right{
	float: left;
}

.wp-caption {
	border: none;
	text-align: center;
	background-color: #f3f3f3;
	padding: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
	width: 100%;
}

.wp-caption-dd, .wp-caption-text {
	font-size: 12px !important;
	text-align: left !important;
	line-height: 14px !important;
	margin: 4px 4px 8px 8px !important;
	padding: 0 0px 0px !important;
}


