
<div class="column menu">
    <h2><a href="/about-us">About us</a></h2>
	<ul>

	<?php foreach($block as $id => $title):?>
		<li><a href="<?= $title->slug ?>"><?= $title->title ?></a></li>
		<?php endforeach; ?>

	</ul>
</div>
