@body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;
@title-font: "Century Gothic", CenturyGothic, Helvetica, Arial, sans-serif;

@transparent-black: rgba(0,0,0,0.70);
@transparent-black-odd: rgba(0,0,0,0.80);
@transparent-grey: rgba(128,128,128,0.50);
@transparent-lightgrey: rgba(224,224,224,0.50);
@transparent-white: rgba(255,255,255,0.80);
@transparent-bright-red: rgba(235,0,0,0.70);

@background-color: #FFFFFF;
@grey-background: #f3f3f3;

@red: #fd4b58;
@bright-red: #eb2641;
@light-red: #ff6666;
@blue: #00bbff;
@light-blue: #92c2d1;
@green: #45b29d;
@orange: #ff5400;
@grey: #575a5d;
@dark-grey: #2c2c2c;
@medium-grey: #eaeaea;
@light-grey: #f3f2f3;
@border-grey: #cccccc;
@white: #FFFFFF;
@black: #000000;

/**
 * 
 * Variables < 992px
 * 
 */
@mobile-home-intro-height: 114px;
@mobile-home-intro-map-height: 448px;
@mobile-navbar-height: 72px;

/**
 * 
 * Variables >= 992px
 * 
 */
@home-intro-height: 500px;
@home-intro-map-height: 548px;
@outer-wrapper-width: 1366px;
@container-width: 960px;
@navbar-height: 72px;
@footer-top-height: 124px;
@footer-bottom-height: 60px;

body {
	color: @grey;
	font-family: @body-font;
}

h1, h2, h3, h4, h5, h6, .navbar{
	font-family: @title-font;
}

h1{
	font-size: 25px;
}

a{
	color: @grey;
	text-decoration: none;
}
a:hover{
	color: @black;
	text-decoration: none;
}

.content{
	padding-bottom: 40px;
	h1, h2, h3, h4, h5, h6{
		font-weight: bold;
		color: @red;
	}
	h1{
		font-size: 24px;
		margin: 10px 0px 12px 0px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 18px;
	}
	a{
		color: @red;
	}
	a:hover{
		color: @dark-grey;
	}
}

.btn-info{
	border-radius: 0px;
	font-family: @title-font;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 45px;
	background: @blue;
}
.btn-info:hover{
	background: @blue;
}

.img-thumbnail{
	margin-left: 10px;
	margin-bottom: 10px;
}

.modal {
	text-align: center;
	padding: 0 !important;
	.modal-title{
		font-size: 18px!important;
		color: @red!important;
		span{
			display: block;
			font-size: 0.75em;
			color: @grey;
		}
	}
	button.close{
		font-size: 24px;
		opacity: 0.5;
	}
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.pagination{
	font-family: @title-font;
	li{
		a{
			background: @grey-background;
			color: @grey;
			border: none;
			margin: 8px 8px 0px 0px;
			border-radius: 0px;
		}
		a:hover{
			background: @grey-background;
			color: @red;
		}
	}
	li:first-child, li:last-child{
		a{
			border-radius: 0px;
		}
	}
	li.active{
		a{
			background: @red;
			color: @white;
		}
		a:hover{
			background: @grey-background;
			color: @red;
		}
	}
}

.list-group-item{
	padding: 0px;
	font-weight: bold;
	font-size: 13px;
	z-index: 2;
	font-family: @title-font;
	>a{
		display: block;
		border-top: 1px solid @border-grey;
		padding: 11px 0px;
		margin: 0px 20px;
		.badge{
			float: right;
			background: transparent;
			color: @dark-grey;
		}
	}
	ul{
		padding-left: 0px;
		list-style: none;
		>li{
			font-weight: normal;
			>a{
				display: block;
				border-top: 1px solid @border-grey;
				padding: 8px 12px;
				margin: 0px 20px;
			}
			>a:hover{
				color: @red;
			}
		}
	}
}

.list-group-item:hover{
	background: @light-grey;
	>a{
		color: @red;
	}
}

.list-group-item, .list-group-item:first-child, .list-group-item:last-child{
	border-radius: 0px;
	border: 0px;
	background: @light-grey;
}

.list-group-item:nth-child(2) > a{
	padding-top: 18px;
}

.list-group-item:last-child > a{
	padding-bottom: 18px;
}

.list-group-item:nth-child(2) > a, .list-group-item.title > a{
	border-top:none;
}

.list-group-item.title, .list-group-item.title:hover{
	background: @grey;
	font-size: 18px;
	line-height: 24px;
	>a{
		color: @light-grey;
	}
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item li.active, .list-group-item li.active:hover{
	background: @light-grey;
	>a{
		color: @red;
		span{
			color: @red;
		}
	}
}

/**
 Tablet & mobile fix
 */
.container {
	width: 100%;
}

.navbar{
	height: @mobile-navbar-height;
	border-bottom: 5px solid @medium-grey;
	.container{
		height: @mobile-navbar-height;
		.navbar-header{
			height: @mobile-navbar-height;
			button.navbar-toggle{
				height: @mobile-navbar-height;
				width: 60px;
				font-weight: bold;
				font-size: 20px;
				margin: 0px;
				border: none;
				border-radius: 0px;
				background: @grey;
				color: @white;
			}
		}
		.navbar-collapse{
			border: none;
			ul.navbar-nav{
				background: @grey-background;
				margin-top: 0px;
			}
		}
	}
}

.banner{
	.container, .row, .col{
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	margin-top: @mobile-navbar-height;
	min-height: @mobile-home-intro-height;
}

.breadmcrumb-wrapper{
	margin: 0px auto 1px auto;
	background: @grey;
	.breadcrumb{
		margin: 0px auto;
		padding: 11px 15px;
		background: transparent;
		font-weight: bold;
		font-family: @title-font;
		font-size: 13px;
		li, .active{
			color: @red;
		}
		a{
			color: @white;
		}
		a:hover{
			text-decoration: underline;
		}
	}
}

.sidebar{
	padding-left: 0px;
	padding-right: 0px;
}

.home-intro-map{
	width: 100%;
	position: relative;
	min-height: @mobile-home-intro-height;
	.google-map-bg{
	    width: 100%;
	    height: @mobile-home-intro-map-height;
	    left: 0;
	    z-index: 0;
	}
	.row{
		.col{
			height: @mobile-navbar-height;
		}
		.col-logo{
			background: @transparent-white;
			line-height: @mobile-navbar-height;
			img{
				vertical-align: middle;
			}
		}
		.col-location, .col-menu{
			background: @transparent-white;
			cursor: pointer;
			height: @mobile-navbar-height;
			line-height: @mobile-navbar-height;
			h4{
				text-align: center;
				margin: 0px;
				padding-right: @mobile-navbar-height;
				height: @mobile-navbar-height;
				line-height: @mobile-navbar-height;
				vertical-align: middle;
				color: @white;
				font-weight: bold;
				font-size: 16px;
			}
		}
		.nav-right-button{
			position: absolute;
			right: 0px;
			height: @mobile-navbar-height;
			line-height: @mobile-navbar-height;
			width: @mobile-navbar-height;
			text-align: center;
			color: @red;
			font-size: 24px;
		}
	}
}

.home-about-appco{
	width: 100%;
	background: @white;
	.col{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-about-appco-text{
		padding: 32px;
		h1{
			color: @red;
			margin: 0px 0px 18px 0px;
			font-size: 28px;
			font-weight: bold;
			span{
				font-size: 20px;
				font-weight: normal;
				display: block;
			}
		}
		h2{
			font-size: 24px;
			font-weight: 900;
			margin: 0px 0px 10px 0px;
		}
		p{
			font-size: 14px;
		}
		button{
			border-radius: 0px;
			background: @bright-red;
			color: @white;
			font-size: 13px;
			font-weight: bold;
			padding: 8px 32px;
		}
		button:hover{
			background: transparent;
			color: @bright-red;
		}
		#home-carousel{
			.carousel-inner{
				.item{
					min-height: 220px;
				}
			}
			.carousel-indicators{
				position: relative;
				margin-top: 20px;
				li{
					border: none;
					margin: 0px 2px;
					width: 7px;
					height: 7px;
					background: @light-blue;
				}
				li.active{
					width: 7px;
					height: 7px;
					background: @red;
				}
			}
			h2{
				margin: 0px 0px 18px 0px;
				font-size: 18px;
				font-weight: 900;
			}
			p{
				font-size: 14px;
			}
		}
	}
}

.home-about-appco-odd{
	background: @light-grey;
}

.home-appco-services-mobile{
	background: @bright-red;
	color: @white;
	padding: 40px 80px 10px 80px;
	#home-carousel-services{
		text-align: center;
		.carousel-indicators{
			position: relative;
			margin-top: 40px;
			li{
				border: none;
				margin: 0px 2px;
				width: 7px;
				height: 7px;
				background: @grey;
			}
			li.active{
				width: 7px;
				height: 7px;
				background: @white;
			}
		}
		.item{
			min-height: 360px;
			img{
				margin: 0 auto;
			}
			h2{
				font-size: 18px;
				font-weight: bold;
			}
			p{
				font-size: 13px;
			}
			button{
				width: 110px;
				border-radius: 0px;
				margin: 20px 0px 10px 0px;
				background: @white;
				color: @bright-red;
				font-size: 13px;
				font-weight: bold;
			}
			button:hover{
				background: @bright-red;
				color: @white;
			}
		}
	}
}

.home-appco-services-title-mobile{
	width: 100%;
	text-align: center;
	h4{
		font-size: 22px;
		line-height: 30px;
		font-weight: bold;
		margin: 30px 0px;
		padding: 0px;
		span{
			font-style: italic;
			color: @bright-red;
		}
	}
	.container{
		padding-left: 0px;
		padding-right: 0px;
		.row{
			margin-left: 0px;
			margin-right: 0px;
			.col{
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
}

.home-latest-news-title-mobile{
	width: 100%;
	text-align: center;
	h4{
		font-size: 30px;
		line-height: 30px;
		font-weight: bold;
		margin: 30px 0px;
		padding: 0px;
		span{
			font-style: italic;
			color: @bright-red;
		}
	}
	.container{
		padding-left: 0px;
		padding-right: 0px;
		.row{
			margin-left: 0px;
			margin-right: 0px;
			.col{
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
}

.home-latest-news{
	.container{
		.row{
			.col{
				padding: 0px;
				.news-image{
					max-height: 180px;
					overflow: hidden;
					img{
						width: 100%;
					}
				}
				.news-title{
					padding: 10px 0px 20px 0px;
					font-size: 13px;
					line-height: 16px;
					h3{
						font-weight: bold;
						display: inline;
						font-size: 13px;
					}
					h4{
						margin: 0px;
						font-size: 14px;
						font-weight: normal;
						color: @light-red;
					}
				}
				.news-read-all{
					background: @bright-red;
					color: @white;
					text-align: left;
					font-size: 24px;
					line-height: 24px;
					padding: 26px;
					span{
						display: block;
						font-weight: bold;
						font-style: italic;
					}
				}
			}
		}
	}
}

.footer{
	color: @white;
	a{
		color: @white;
	}
	.col{
		padding: 0px;
	}
	.brand-colours {
		clear: both;
		width: 100%;
		height: 6px;
		display: block;
		span {
			float: left;
			width:16.66%;
		    font-size: 100%;
		    line-height: 6px;
		}
		.red {background-color: #f63b49;}
		.brown {background-color: #95232e;}
		.blue {background-color: #55a2be;}
		.orange {background-color: #eb6f2f;}
		.purple {background-color: #9a439c;}
	}
}

.footer-top{
	background: @grey;
	height: 100px;
	line-height: 100px;
	.col-footer-logo{
		text-align: center;
	}
}

.footer-bottom{
	.col-footer-copy{
		background: @grey;
		text-align: center;
		font-size: 11px;
		padding: 10px 0px 20px 0px;
	}
	.col-footer-social{
		background: @dark-grey;
		text-align: center;
		padding-bottom: 30px;
		.follow-title{
			display: block;
			padding: 20px 0px 10px 0px;
			font-weight: bold;
		}
		.follow-buttons{
			display: inline;
			margin: 0px;
			padding: 0px;
		}
	}
}

.gallery{
	margin-top: 20px;
	.row{
		.col{
			text-align: center;
			min-height: 120px;
		}
	}
}

.posts{
	h2{
	    color: @red;
	    border-bottom: 1px solid @grey;
	    padding-bottom: 5px;
	    margin-bottom: 10px;
	}
	.post-item{
		h3{
		    color: @red;
		    margin-top: 10px;
		    margin-bottom: 5px;
		    font-size: 14px;
		}
		h4{
			color: @grey;
			margin-top: 0px;
			font-size: 12px;
		}
	    a{
		    color: @light-blue;
	    }
	    margin-bottom: 10px;
	}
}

.appco-ww-countries{
	.post-item{
		h3{
		    text-transform: uppercase;
		    font-weight: normal;
		    font-size: 18px;
		}
	}
}

.our-people{
	.post-item{
		cursor: pointer;
	}
	.post-item:nth-child(2n+1){
		clear: left;
	}
}

.ww-filter-buttons{
	button{
		padding: 6px 12px;
		font-size: 0.9em;
		font-weight: bold;
		background: @grey-background;
		color: @grey;
		border: none;
	}
	button.active{
		background: @red;
		color: @white;
	}
}
	
.news-list{
	.row{
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
}
	
.news-summary{
	h2{
		margin: 10px 0px 0px 0px;
		font-size: 16px;
		a{
			color: @grey;
		}
	}
	p.date{
		margin-top: 0px;
		color: @blue;
	}
	p.read-more{
		a{
			color: @blue;
		}
	}
}

.news-details{
	.row{
		margin-left: 0px;
		margin-right: 0px;
	}
	.news-image{
		margin-right: 20px;
	}
}
	
.page-with-right-sidebar{
	.sidebar{
		h3{
			color: @red;
			font-size: 14px;
			font-weight: bold;
			margin-left: 15px;
		}
		ul{
			background: @grey-background;
			font-size: 14px;
			padding: 6px 0px;
			li{
				margin: 12px 12px 6px 12px;
				border-bottom: 1px solid @medium-grey;
				h2{
					font-size: 14px;
					font-weight: bold;
				}
				a:hover{
					color: @dark-grey;
				}
			}
			li:last-child{
				border-bottom: none;
				margin-bottom: 0px;
			}
		}
	}
}



/**
 * 
 * Tablet & bigger styles
 * 
 */

@media (min-width: 768px) { // Boostrap's "sm" classes standart layout width

	.navbar{
		background: @transparent-white;
		height: @navbar-height;
		font-family: @title-font;
		font-size: 12px;
		.container{
			.navbar-collapse{
				ul.navbar-nav{
					background: transparent;
					li{
						a{
							height: @navbar-height;
							line-height: @navbar-height;
							vertical-align: middle;
							padding: 0px 28px;
							font-weight: bold;
							color: @black;
						}
					}
					li.active a, li.active:hover a, li a:hover{
						background: @transparent-bright-red;
						color: @white;
					}
				}
			}
		}
	}
	
	.breadmcrumb-wrapper{
		margin-bottom: 20px;
	}
	
	.sidebar{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.our-people{
		.post-item:nth-child(2n+1){
			clear: none;
		}
		.post-item:nth-child(3n+1){
			clear: left;
		}
	}
	
	.ww-filter-buttons{
		position: absolute;
		right: 0;
		padding: 10px 20px 0 0;
	}

}



/**
 * 
 * Desktop & bigger styles
 * 
 */

@media (min-width: 992px) { // Boostrap's "md" classes standart layout width

	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
	}

	.container {
		width: @container-width;
	}

	.navbar{
		.container{
			padding-left: 0px;
			.navbar-collapse{
				ul.navbar-nav{
					li{
						a{
							padding: 0px 40px;
						}
					}
				}
			}
		}
	}

	.banner{
		max-width: @outer-wrapper-width;
		max-height: @home-intro-height;
		margin: 0px auto;
		overflow: hidden;
	}

	.breadmcrumb-wrapper{
		max-width: @outer-wrapper-width;
		.breadcrumb{
			width: @container-width;
			padding: 11px 0px;
		}
	}

	.home-intro-map{
		height: @home-intro-height;
		padding-top: 18px;
		.container{
			z-index: 25;
			position: absolute;
			left:0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.google-map-bg{
		    height: @home-intro-map-height;
	    	top: -48px;
	    	position: absolute;
	    	z-index: 5;
		}
		.row{
			z-index: 10;
			.col{
				height: @navbar-height;
			}
			.col-logo{
				line-height: @navbar-height;
			}
			.col-location, .col-menu{
				background: @transparent-grey;
				height: @navbar-height;
				line-height: @navbar-height;
				h4{
					padding-right: @navbar-height;
					height: @navbar-height;
					line-height: @navbar-height;
				}
				.dropdown-menu{
					background: transparent;
					text-align: center;
					border: none;
					border-radius: 0px;
					box-shadow: none;
					-webkit-box-shadow: none;
					width: 100%;
					margin-left: -15px;
					margin-top: 2px;
					padding-top: 0px;
					z-index: 25;
					li{
						background: @transparent-black;
						margin-right: 42px;
						a{
							color: @white;
							font-family: @title-font;
							font-size: 16px;
							font-weight: bold;
							white-space: normal;
						}
						a:hover{
							background-color: @black;
						}
					}
					li:first-child{
						padding-top: 4px;
					}
					li:last-child{
						padding-bottom: 4px;
					}
				}
			}
			.col-location{
				.dropdown-menu{
					li:nth-child(odd){
						background: @transparent-black-odd;
					}
				}
			}
			.col-location:hover, .col-menu:hover{
				background: @transparent-black;
			}
			.col-menu{
				margin-left: 4px;
				margin-right: -4px;
				.dropdown-menu{
					li{
						margin-bottom: 1px;
						padding: 6px 0px;
					}
				}
			}
			.nav-right-button{
				background: @transparent-grey;
				height: @navbar-height;
				line-height: @navbar-height;
				width: @navbar-height;
				color: @white;
				font-weight: bold;
				font-size: 18px;
			}
		}
		.bottom-down-arrow{
			position: absolute;
			z-index: 15;
			width: 100%;
			bottom: 0px;
			cursor: pointer;
			background: @transparent-lightgrey;
			height: 60px;
			text-align: center;
			color: @white;
			font-weight: normal;
			font-size: 48px;
			span.text{
				display: inline-block;
				font-size: 14px;
				vertical-align: middle;
				margin-top: -18px;
				text-shadow: 0.1em 0.1em 0.25em @dark-grey;
			}
		}
		.bottom-down-arrow:hover{
			background: @transparent-grey;
		}
	}

	.home-about-appco{
		height: 400px;
		.col-about-appco-image{
			img{
				width: 100%;
			}
		}
		.col-about-appco-text{
			padding: 64px 64px 0px 64px;
			h1{
				font-size: 36px;
			}			
			#home-carousel{
				.carousel-inner{
					.item{
						min-height: 196px;
						height: 196px;
						overflow: hidden;
					}
				}
			}
		}
	}

	.home-about-appco-odd{
		background: @light-grey;
	}

	.home-appco-services{
		height: 570px;
		.home-appco-services-bg{
			position: absolute;
			width: 100%;
			background: @light-grey;
			margin-top: 240px;
			min-height: 330px;
		}
		margin-top: 0px;
		.container{
			padding-left: 7px;
			padding-right: 7px;
			.row{
				h2{
					line-height: 30px;
					font-size: 24px;
					font-weight: bold;
				}
				.col{
					background: @bright-red;
					color: @white;
					text-align: center;
					margin: 0px 8px;
					padding-bottom: 60px;
					img{
						margin: 24px 0px 12px 0px;
					}
					h2{
						font-size: 18px;
						line-height: 1;
						font-weight: bold;
					}
					p{
						font-size: 15px;
						line-height: 19px;
					}
					button{
						position: absolute;
						bottom: 20px;
						width: 110px;
						left: 0px;
						right: 0px;
						margin-left: auto;
						margin-right: auto;
						border-radius: 0px;
						background: @white;
						color: @bright-red;
						font-size: 13px;
						font-weight: bold;
					}
					button:hover{
						background: @bright-red;
						color: @white;
					}
				}
			}
		}
	}
	
	.home-appco-services-title{
		width: 100%;
		text-align: center;
		h4{
			font-size: 50px;
			line-height: 50px;
			font-weight: bold;
			letter-spacing: 12px;
			margin: 50px 0px;
			padding: 0px;
			span{
				letter-spacing: 0px;
			}
		}
		.container{
			padding-left: 0px;
			padding-right: 0px;
			.row{
				.col{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}

	.home-latest-news-title{
		width: 100%;
		text-align: center;
		h4{
			font-size: 50px;
			line-height: 50px;
			font-weight: bold;
			letter-spacing: 62px;
			margin: 50px 0px;
			padding: 0px;
			span{
				letter-spacing: 0px;
			}
		}
		.container{
			padding-left: 0px;
			padding-right: 0px;
			.row{
				.col{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}

	.home-latest-news{
		padding-bottom: 50px;
		.container{
			padding-left: 7px;
			padding-right: 7px;
			.row{
				.col{
					margin: 0px 8px;
				}
			}
		}
	}

	.page-with-left-sidebar, .page-with-right-sidebar{
		.container{
			padding-right: 0px;
			padding-left: 0px;
		}
	}
	
	.news-summary{
		h2{
			margin: 0px;
		}
	}
	
	.page-with-right-sidebar{
		.sidebar{
			h3{
				margin-left: 0px;
			}
			ul{
				border-left: 1px solid @red;
			}
		}
	}

	.footer-top{
		height: @footer-top-height;
		line-height: @footer-top-height;
		.col-footer-logo{
			text-align: left;
		}
	}
	.footer-bottom{
		height: @footer-bottom-height;
		line-height: @footer-bottom-height;
		background: @dark-grey;
		.col-footer-copy{
			background: @dark-grey;
			text-align: left;
			padding: 0px;
		}
		.col-footer-social{
			padding: 0px;
			text-align: right;
			.follow-title{
				display: inline-block;
				padding: 0px 10px 0px 0px;
			}
		}
	}
	
	.appco-ww-countries{
		.post-item:nth-child(3n+1){
			clear: left;
		}
	}

	.our-people{
		.post-item:nth-child(2n+1), .post-item:nth-child(3n+1){
			clear: none;
		}
		.post-item:nth-child(4n+1){
			clear: left;
		}
	}

}
